---
title: Accordion
landing: Components
layout: components.njk
permalink: "/components/accordion.html"
---

<h1 class="mt-lg-0">Accordion</h1>

<nav class="page-navigation"></nav>

<p>
  Accordions are expandable sections of content. Each section contains a summary
  element and more body text when opened.
</p>

<p>
  Accordions keep pages clean by hiding information that most people do not need
  to see.
</p>

<h2>Basic accordion</h2>

<!--TABS-->
<div class="tabs responsive">
  <ul class="nav-tabs">
    <li>
      <a href="#section1">Example</a>
    </li>
    <li>
      <a href="#section2">Source code</a>
    </li>
  </ul>

  <section id="section1" class="tab-pane">
    <div class="card-header" id="heading-example1">
      <a
        data-bs-toggle="collapse"
        href="#collapse-example1"
        aria-expanded="true"
        aria-controls="collapse-example1"
        data-hash="#pane-example1"
        title="Example tab header">
        Example
      </a>
    </div>
    <div
      id="collapse-example1"
      class="collapse show p-0 m-0 brd-0"
      role="tabpanel"
      aria-labelledby="heading-example1">
      <div class="p-a-sm">
        {% include "../../src/_includes/modules/accordion.html" %}
      </div>
    </div>
  </section>

  <section id="section2" class="tab-pane">
    <div class="card-header" id="heading-html1">
      <a
        class="collapsed"
        data-bs-toggle="collapse"
        href="#collapse-html1"
        aria-expanded="false"
        aria-controls="collapse-html1"
        data-hash="#pane-html1"
        title="HTML Source code tab header">
        Source code
      </a>
    </div>
    <div
      id="collapse-html1"
      class="collapse p-0 m-0 brd-0"
      role="tabpanel"
      aria-labelledby="heading-html1">
      <div class="p-a-sm">
        <textarea
          class="sourcecode"
          aria-label="source code"
          readonly
          tabindex="-1">
{% include "../../src/_includes/modules/accordion.html" %}</textarea
        >
      </div>
    </div>
  </section>
</div>
<!--END TABS-->

<h2>Accordion list</h2>
<!--TABS-->
<div class="tabs responsive">
  <ul class="nav-tabs">
    <li>
      <a href="#section3">Example</a>
    </li>
    <li>
      <a href="#section4">Source code</a>
    </li>
  </ul>

  <!--Examples-->
  <section id="section3" class="tab-pane">
    <div class="card-header" id="heading-example3">
      <a
        data-bs-toggle="collapse"
        href="#collapse-example3"
        aria-expanded="true"
        aria-controls="collapse-example3"
        data-hash="#pane-example3"
        title="Example tab header">
        Example
      </a>
    </div>
    <div
      id="collapse-example3"
      class="collapse show p-0 m-0 brd-0"
      role="tabpanel"
      aria-labelledby="heading-example3">
      <div class="card-body p-b">
        {% include "../../src/_includes/modules/accordion-list.html" %}
      </div>
    </div>
  </section>

  <!--HTML-->
  <section id="section4" class="tab-pane">
    <div class="card-header" id="heading-html3">
      <a
        class="collapsed"
        data-bs-toggle="collapse"
        href="#collapse-html3"
        aria-expanded="false"
        aria-controls="collapse-html3"
        data-hash="#pane-html3"
        title="HTML Source code tab header">
        Source code
      </a>
    </div>
    <div
      id="collapse-html3"
      class="collapse p-0 m-0 brd-0"
      role="tabpanel"
      aria-labelledby="heading-html3">
      <div class="card-body">
        <textarea
          class="sourcecode"
          aria-label="source code"
          readonly
          tabindex="-1">
{% include "../../src/_includes/modules/accordion-list.html" %}</textarea
        >
      </div>
    </div>
  </section>
</div>
<!--END TABS-->

<h2>Usage</h2>

<h3 class="m-t">When and how to use it</h3>
<p>Use accordions to hide content most people do not need.</p>
<p>Headings can be a:</p>

<ul>
  <li>Word or phrase</li>
  <li>Sentence</li>
  <li>Question</li>
</ul>

<p>Write headings that are brief and descriptive.</p>
<p>Only use accordions when:</p>
<ul>
  <li>A small group of people needs the information.</li>
  <li>
    People only need certain information (like selecting one of several license
    types).
  </li>
  <li>Providing notes or disclaimers.</li>
</ul>

<h3>How not to use it</h3>

<p>Do not use accordions:</p>
<ul>
  <li>
    If more than a third of your visitors need the information in the accordion.
  </li>
  <li>To make a page look shorter.</li>
  <li>Inside other accordions.</li>
</ul>
<p>
  Accordions hide information until someone opens them. This added step means
  visitors have to do extra work to get the information.
</p>

<p>
  Do not put content that everyone needs to see in an accordion. Keep it in the
  body content.
</p>

<h2>Accessibility</h2>
{% include "../../src/_includes/modules/accessibility.html" %}
