---
title: Accordions
layout: components.njk
permalink: "/sample/accordions.html"
---


<h1 class="m-t-0">Accordions</h1>
<p>Accordions are expandable sections of content. Each section contains a summary element and more body text when
 opened.</p>

<p>Accordions keep pages clean by hiding information that most people do not need to see.</p>

<!--TABS-->
<div class="tab-group responsive m-t-lg">
 <ul id="tabs1" class="nav nav-tabs" role="tablist">
  <li class="nav-item">
   <a id="tab-example1" href="#pane-example1" class="nav-link active" data-bs-toggle="tab" role="tab">Example</a>
  </li>
  <li class="nav-item">
   <a id="tab-usage1" href="#pane-usage1" class="nav-link" data-bs-toggle="tab" role="tab">Usage</a>
  </li>
  <li class="nav-item">
   <a id="tab-html1" href="#pane-html1" class="nav-link" data-bs-toggle="tab" role="tab">Source Code</a>
  </li>
  <li class="nav-item">
   <a id="tab-a11y" href="#pane-a11y" class="nav-link" data-bs-toggle="tab" role="tab">Accessibility</a>
  </li>
 </ul>


 <div id="tab-content" class="tab-content">
  <!--Examples-->
  <div id="pane-example1" class="card tab-pane fade show active" role="tabpanel" aria-labelledby="tab-example1">
   <div class="card-header" id="heading-example1">
    <h4 class="my-0">
     <a data-bs-toggle="collapse" href="#collapse-example1" data-parent="#tab-content" aria-expanded="true"
      aria-controls="collapse-example1" data-hash="#pane-example1" title="Example tab header">
      Example
     </a>
    </h4>
   </div>
   <div id="collapse-example1" class="collapse show" role="tabpanel" aria-labelledby="heading-example1">
    <div class="card-body p-b-lg">
     <h3>Basic Accordion</h3>
     {% include "../../src/_includes/modules/accordion.html" %}
     <a href="#basic" data-hash="#pane-html1" class="tab-link m-t-md btn btn-default btn-xs">Vidw Source
      Code</a>

     <h3>Accordion List</h3>

     {% include "../../src/_includes/modules/accordion-list.html" %}
     <a href="#list" data-hash="#pane-html1" class="tab-link m-t-md btn btn-default btn-xs">Vidw Source
      Code</a>

     <h3>Accordion Side Menu</h3>
     <div class="row">
      <div class="col-md-5">
       {% include "../../src/_includes/modules/accordion-sidenav.html" %}
       <a href="#side" data-hash="#pane-html1" class="tab-link m-t-md btn btn-default btn-xs">Vidw Source
        Code</a>
      </div>
     </div>

     <h3>Bootstrap Accordion Side Menu</h3>
     <div class="row">
      <div class="col-md-5">
       {% include "../../src/_includes/modules/nav-side.html" %}
       <a href="#bs" data-hash="#pane-html1" class="tab-link m-t-md btn btn-default btn-xs">Vidw Source
        Code</a>
      </div>
     </div>
    </div>
   </div>
  </div>

  <!--USAGE-->
  <div id="pane-usage1" class="card tab-pane fade" role="tabpanel" aria-labelledby="tab-usage1">
   <div class="card-header" id="heading-usage1">
    <h4 class="my-0">
     <a class="collapsed" data-bs-toggle="collapse" href="#collapse-usage1" data-parent="#tab-content"
      aria-expanded="false" aria-controls="collapse-usage1" data-hash="#pane-usage1" title="Usage tab header">
      Usage
     </a>
    </h4>
   </div>
   <div id="collapse-usage1" class="collapse" role="tabpanel" aria-labelledby="heading-usage1">
    <div class="card-body">
     <h3>When and how to use it</h3>
     <p>Use accordions to hide content most people do not need.</p>
     <p>Headings can be a:</p>

     <ul>
      <li>Word or phrase</li>
      <li>Sentence</li>
      <li>Question</li>
     </ul>



     <p>Write headings that are brief and descriptive.</p>
     <p>Only use accordions when:</p>
     <ul>
      <li>A small group of people needs the information</li>
      <li>People only need certain information (like selecting one of several license types)</li>
      <li>Providing notes or disclaimers</li>
     </ul>

     <h3>How not to use it</h3>

     <p>Do not use accordions:</p>
     <ul>
      <li>If more than a third of your visitors need the information in the accordion</li>
      <li>To make a page look shorter</li>
      <li>Inside other accordions</li>
     </ul>
     <p>Accordions hide information unless someone opens them. This requires an extra action, which means visitors have
      to
      do extra work to get this information. If most people need to see the content, do not put it in an accordion; keep
      it in the body content.</p>

    </div>
   </div>
  </div>

  <!--HTML-->
  <div id="pane-html1" class="card tab-pane fade" role="tabpanel" aria-labelledby="tab-html1">
   <div class="card-header" id="heading-html1">
    <h4 class="my-0">
     <a class="collapsed" data-bs-toggle="collapse" href="#collapse-html1" data-parent="#tab-content"
      aria-expanded="false" aria-controls="collapse-html1" data-hash="#pane-html1" title="HTML Source Code tab header">
      Source Code
     </a>
    </h4>
   </div>
   <div id="collapse-html1" class="collapse" role="tabpanel" aria-labelledby="heading-html1">
    <div class="card-body">
     <h3 id="basic">Basic Accodion</h3>
     <pre style="max-height: 300px;"><code>{% include "../../src/_includes/modules/accordion.html" %}</code>
    </pre>

     <h3 id="list">Accordion list</h3>
     <pre style="max-height: 300px;"><code>{% include "../../src/_includes/modules/accordion-list.html" %}</code>
   </pre>

     <h3 id="side">Accordion Side Menu</h3>
     <pre style="max-height: 300px;"><code>{% include "../../src/_includes/modules/accordion-sidenav.html" %}</code>
 </pre>

     <h3 id="bs">Bootstrap Accordion Side Menu</h3>
     <pre style="max-height: 300px;"><code>{% include "../../src/_includes/modules/nav-side.html" %}</code>
</pre>
    </div>
   </div>
  </div>


  <!--A11y-->
  <div id="pane-a11y" class="card tab-pane fade" role="tabpanel" aria-labelledby="tab-a11y">
   <div class="card-header" id="heading-a11y">
    <h4 class="my-0">
     <a class="collapsed" data-bs-toggle="collapse" href="#collapse-a11y" data-parent="#tab-a11y" aria-expanded="false"
      aria-controls="collapse-a11y" data-hash="#pane-a11y" title="Accessibility tab header">
      Accessibility
     </a>
    </h4>
   </div>
   <div id="collapse-a11y" class="collapse" role="tabpanel" aria-labelledby="heading-a11y">
    <div class="card-body">
     <h3>Accessibility</h3>
     <p>Each time a new component version is published:</p>
     <ul>
      <li>Test with the <a href="https://www.deque.com/axe/" target="_blank">axe
        accessibility tool</a>.</li>
      <li>Review with the <a href="https://www.apple.com/voiceover/info/guide/_1121.html" target="_blank">VoiceOver</a>
       or <a href="https://www.nvaccess.org/download/" target="_blank">NVDA</a> screen reader.</li>
      <li>Ensure all actionable elements are accessible by keyboard command and tab in a logical order. </li>
      <li>Check the component layout on a variety of screen sizes.</li>
     </ul>
    </div>
   </div>
  </div>
 </div>
</div>