---
title: Blockquotes
landing: Components
layout: components.njk
permalink: "components/blockquotes.html"
---

<style>

</style>

<h1 class="mt-lg-0">Blockquote</h1>
<p>A blockquote emphasizes quotes or excerpts related to the page content.</p>
<p>Blockquote text is styled differently from the main text and is typically used for important quotations.</p>

<h2 id="Basic-blockquote">Basic blockquote:</h2>

<!--TABS-->
<div class="tab-group responsive">
 <ul id="tabs1" class="nav nav-tabs" role="tablist">
  <li class="nav-item">
   <a id="tab-example1" href="#pane-example1" class="nav-link active" data-bs-toggle="tab" role="tab">Example</a>
  </li>
  <li class="nav-item">
   <a id="tab-html1" href="#pane-html1" class="nav-link" data-bs-toggle="tab" role="tab">Source code</a>
  </li>

 </ul>


 <div id="tab-content" class="tab-content">
  <!--Examples-->
  <div id="pane-example1" class="card tab-pane fade show active" role="tabpanel" aria-labelledby="tab-example1">
   <div class="card-header" id="heading-example1">
    <a data-bs-toggle="collapse" href="#collapse-example1" data-parent="#tab-content" aria-expanded="true"
     aria-controls="collapse-example1" data-hash="#pane-example1" title="Example tab header">
     Example
    </a>
   </div>
   <div id="collapse-example1" class="collapse show" role="tabpanel" aria-labelledby="heading-example1">
    <div class="card-body p-b-lg">

     {% include "../../src/_includes/modules/blockquote.html" %}

    </div>
   </div>
  </div>



  <!--HTML-->
  <div id="pane-html1" class="card tab-pane fade" role="tabpanel" aria-labelledby="tab-html1">
   <div class="card-header" id="heading-html1">
    <a class="collapsed" data-bs-toggle="collapse" href="#collapse-html1" data-parent="#tab-content"
     aria-expanded="false" aria-controls="collapse-html1" data-hash="#pane-html1" title="HTML Source code tab header">
     Source code
    </a>
   </div>
   <div id="collapse-html1" class="collapse" role="tabpanel" aria-labelledby="heading-html1">
    <div class="card-body">
     <pre style="max-height: 300px;"><code>{% include "../../src/_includes/modules/blockquote.html" %}</code>
    </pre>

    </div>
   </div>
  </div>


 </div>
</div>
<!--END TABS-->





<h2 id="Pull-quote">Pull quote</h2>

<!--TABS-->
<div class="tab-group responsive">
 <ul id="tabs2" class="nav nav-tabs" role="tablist">
  <li class="nav-item">
   <a id="tab-example2" href="#pane-example2" class="nav-link active" data-bs-toggle="tab" role="tab">Example</a>
  </li>
  <li class="nav-item">
   <a id="tab-html2" href="#pane-html2" class="nav-link" data-bs-toggle="tab" role="tab">Source code</a>
  </li>

 </ul>


 <div id="tab-content" class="tab-content">
  <!--Examples-->
  <div id="pane-example2" class="card tab-pane fade show active" role="tabpanel" aria-labelledby="tab-example2">
   <div class="card-header" id="heading-example2">
    <a data-bs-toggle="collapse" href="#collapse-example2" data-parent="#tab-content" aria-expanded="true"
     aria-controls="collapse-example2" data-hash="#pane-example2" title="Example tab header">
     Example
    </a>
   </div>
   <div id="collapse-example2" class="collapse show" role="tabpanel" aria-labelledby="heading-example2">
    <div class="card-body p-b-lg">


     {% include "../../src/_includes/modules/blockquote-pull.html" %}

    </div>
   </div>
  </div>



  <!--HTML-->
  <div id="pane-html2" class="card tab-pane fade" role="tabpanel" aria-labelledby="tab-html2">
   <div class="card-header" id="heading-html2">
    <a class="collapsed" data-bs-toggle="collapse" href="#collapse-html2" data-parent="#tab-content"
     aria-expanded="false" aria-controls="collapse-html2" data-hash="#pane-html2" title="HTML Source code tab header">
     Source code
    </a>
   </div>
   <div id="collapse-html2" class="collapse" role="tabpanel" aria-labelledby="heading-html2">
    <div class="card-body">
     <pre style="max-height: 300px;"><code>{% include "../../src/_includes/modules/blockquote-pull.html" %}</code>
    </pre>
    </div>
   </div>
  </div>


 </div>
</div>
<!--END TABS-->



<h2 id="Prominent-blockquote">Prominent blockquote</h2>


<!--TABS-->
<div class="tab-group responsive">
 <ul id="tabs1" class="nav nav-tabs" role="tablist">
  <li class="nav-item">
   <a id="tab-example3" href="#pane-example3" class="nav-link active" data-bs-toggle="tab" role="tab">Example</a>
  </li>
  <li class="nav-item">
   <a id="tab-html3" href="#pane-html3" class="nav-link" data-bs-toggle="tab" role="tab">Source code</a>
  </li>

 </ul>


 <div id="tab-content" class="tab-content">
  <!--Examples-->
  <div id="pane-example3" class="card tab-pane fade show active" role="tabpanel" aria-labelledby="tab-example3">
   <div class="card-header" id="heading-example3">
    <a data-bs-toggle="collapse" href="#collapse-example3" data-parent="#tab-content" aria-expanded="true"
     aria-controls="collapse-example3" data-hash="#pane-example3" title="Example tab header">
     Example
    </a>
   </div>
   <div id="collapse-example3" class="collapse show" role="tabpanel" aria-labelledby="heading-example3">
    <div class="card-body p-b">


     {% include "../../src/_includes/modules/blockquote-prominent.html" %}


    </div>
   </div>
  </div>



  <!--HTML-->
  <div id="pane-html3" class="card tab-pane fade" role="tabpanel" aria-labelledby="tab-html3">
   <div class="card-header" id="heading-html3">
    <a class="collapsed" data-bs-toggle="collapse" href="#collapse-html3" data-parent="#tab-content"
     aria-expanded="false" aria-controls="collapse-html3" data-hash="#pane-html3" title="HTML Source code tab header">
     Source code
    </a>
   </div>
   <div id="collapse-html3" class="collapse" role="tabpanel" aria-labelledby="heading-html3">
    <div class="card-body">
     <pre style="max-height: 300px;"><code>{% include "../../src/_includes/modules/blockquote-prominent.html" %}</code>
   </pre>

    </div>
   </div>
  </div>


 </div>
</div>
<!--END TABS-->


<h2 id="Usage">Usage</h2>

<h3 class="m-t">When and how to use it</h3>
<p>Use blockquotes to display a quote from a person or a source.</p>
<p>List the speaker or author of the quote with their relevant title. </p>



<h3>How not to use it</h3>

<p>Do not use more than one block quote variation on a single page. </p>
<p>Avoid hyperlinks inside the blockquote. Use the body content to link to additional information from the speaker.</p>

<h2 id="Accessibility">Accessibility</h2>
{% include "../../src/_includes/modules/accessibility.html" %}