---
title: Blurbs
landing: Templates
layout: templates.njk
permalink: "sample/blurbs.html"
---



<h1 class="mt-lg-0">Blurbs</h1>
<p>The blurb module is a simple and elegant combination of text and imagery. Blurbs are a great way to
 showcase small bits of important information, and are often used in rows to display services or
 features. Image or icon can either appear above the blurb's text, or to the left of the text. </p>

<hr />

<h2 id="no-margins">No margin blurbs</h2>





{% include "../../src/_includes/modules/blurb-no-margin.html" %}
<!-- Trigger the modal with a button -->
<button type="button" class="btn btn-default btn-sm m-t-md" data-bs-toggle="modal" data-bs-target="#icon-blocks">Show
 Source code</button>
<!-- Modal -->
<div class="modal fade" id="icon-blocks" role="dialog">
 <div class="modal-dialog modal-lg">
  <div class="modal-content">
   <div class="modal-header">
    <h4 class="modal-title">HTML Markup</h4>
    <button type="button" class="close btn btn-secondary" data-bs-dismiss="modal"><span class="sr-only">Close
      modal</span><span class="ca-gov-icon-close-mark" aria-hidden="true"></span></button>
   </div>
   <div class="modal-body">
    <strong aria-label="Source code for Icon Blocks">Source code:</strong>
    <pre><code class="overflow-auto">{% include "../../src/_includes/modules/blurb-no-margin.html" %}</code></pre>
   </div>
   <div class="modal-footer">
    <button type="button" class="btn btn-default" data-bs-dismiss="modal">Close</button>
   </div>
  </div>
 </div>
</div><!-- / End Modal -->




<div class="container m-b-lg">
 <hr>
 <h2 id="left-justified">Left justified </h2>
 {% include "../../src/_includes/modules/blurb-left-justified.html" %}

 <button type="button" class="btn btn-default btn-sm m-t-md" data-bs-toggle="modal" data-bs-target="#icon-link">Show
  Source code</button>



 <!-- Modal -->
 <div class="modal fade" id="icon-link" role="dialog">
  <div class="modal-dialog modal-lg">
   <div class="modal-content">
    <div class="modal-header">
     <h4 class="modal-title">HTML Markup</h4>
     <button type="button" class="close btn btn-secondary" data-bs-dismiss="modal"><span class="sr-only">Close
       modal</span><span class="ca-gov-icon-close-mark" aria-hidden="true"></span></button>
    </div>
    <div class="modal-body">
     <strong aria-label="Source code for Icon Links">Source code:</strong>
     <pre><code class="overflow-auto">{% include "../../src/_includes/modules/blurb-left-justified.html" %}</code></pre>
    </div>
    <div class="modal-footer">
     <button type="button" class="btn btn-default" data-bs-dismiss="modal">Close</button>
    </div>
   </div>
  </div>
 </div><!-- / End Modal -->

</div>
<!--/end container-->



<hr>


<h2 id="image-blurbs">Image blurbs</h2>


{% include "../../src/_includes/modules/icon-image-blocks.html" %}
<!-- Trigger the modal with a button -->
<button type="button" class="btn btn-default btn-sm" data-bs-toggle="modal" data-bs-target="#icon-image-blocks">Show
 Source code</button>
<!-- Modal -->
<div class="modal fade" id="icon-image-blocks" role="dialog">
 <div class="modal-dialog modal-lg">
  <div class="modal-content">
   <div class="modal-header">
    <h4 class="modal-title">HTML Markup</h4>
    <button type="button" class="close btn btn-secondary" data-bs-dismiss="modal"><span class="sr-only">Close
      modal</span><span class="ca-gov-icon-close-mark" aria-hidden="true"></span></button>
   </div>
   <div class="modal-body">
    <strong aria-label="Source code for Icon Image Blocks">Source code:</strong>
    <pre><code class="overflow-auto">{% include "../../src/_includes/modules/icon-image-blocks.html" %}</code></pre>
   </div>
   <div class="modal-footer">
    <button type="button" class="btn btn-default" data-bs-dismiss="modal">Close</button>
   </div>
  </div>
 </div>
</div><!-- / End Modal -->





<div class="section-default">
 <div class="container p-b-lg">
  <hr>
  <h2 id="rounded-corners">Icons with rounded corners</h2>
  {% include "../../src/_includes/modules/blurb-rounded-corners-icon.html" %}

  <button type="button" class="btn btn-default btn-sm m-t-md" data-bs-toggle="modal"
   data-bs-target="#blurb-rounded">Show Source code</button>



  <!-- Modal -->
  <div class="modal fade" id="blurb-rounded" role="dialog">
   <div class="modal-dialog modal-lg">
    <div class="modal-content">
     <div class="modal-header">
      <h4 class="modal-title">HTML Markup</h4>
      <button type="button" class="close btn btn-secondary" data-bs-dismiss="modal"><span class="sr-only">Close
        modal</span><span class="ca-gov-icon-close-mark" aria-hidden="true"></span></button>
     </div>
     <div class="modal-body">
      <strong aria-label="Source code for Icon Links">Source code:</strong>
      <pre><code class="overflow-auto">{% include "../../src/_includes/modules/blurb-rounded-corners-icon.html" %}</code></pre>
     </div>
     <div class="modal-footer">
      <button type="button" class="btn btn-default" data-bs-dismiss="modal">Close</button>
     </div>
    </div>
   </div>
  </div><!-- / End Modal -->

 </div>
 <!--/end container-->
</div>