---
title: Breadcrumb
layout: components.njk
permalink: "sample/breadcrumb.html"
---

<div class="row">
 <div class="half">
  <h1>Breadcrumb</h1>
  <p>The breadcrumb indicate the current page's location within a navigational hierarchy. It uses
   an ordered list with a class of <code>.breadcrumb</code> </p>

  <h2>Example:</h2>
  {% include "../../src/_includes/modules/breadcrumb.html" %}
 </div>
 <div class="half">
  <h2>Source Code:</h2>
  <pre><code class="overflow-auto">{% include "../../src/_includes/modules/breadcrumb.html" %}</code></pre>
 </div>
</div>

<hr>