---
title: Course Detail (Card)
landing: Templates
layout: templates.njk
permalink: "sample/course-detail-card.html"
---


<h1 class="mt-lg-0">Course Detail (Card)</h1>
<p>This is an alternative layout for the course detail page. See also <a href="course-detail.html">Course Details</a>
 main page for more information on the usage and
 options for this module.</p>


{% include "../../src/_includes/modules/course-detail-card.html" %}


<h2>Source code:</h2>

<div class="tab-group">
 <ul id="sourceCode" class="nav nav-tabs" role="tablist">
  <li class="active"><a href="#html" role="tab" data-bs-toggle="tab">HTML Markup</a></li>
  <li><a href="#microdata" role="tab" data-bs-toggle="tab">Microdata</a></li>
 </ul>
 <!-- Tab panes -->
 <div class="tab-content responsive">
  <div class="tab-pane active" id="html">
   <pre><code class="overflow-auto">{% include "../../src/_includes/modules/course-detail-card.html" %}</code></pre>
  </div>
  <div class="tab-pane" id="microdata">
   <pre><code class="overflow-auto">{% include "../../src/_includes/modules/course-detail-card-schema.html" %}</code></pre>
  </div>
 </div>
</div>