---
title: Executive profile
landing: Components
layout: components.njk
permalink: "components/executive-profile.html"
---

<h1 class="mt-lg-0">Executive profile</h1>

<nav class="page-navigation"></nav>

<p>Executive profiles help your visitors learn more about your agency leadership. They can be displayed vertically or in
 a horizontal banner at the bottom of your homepage.</p>

<p>Profiles usually include a(n): </p>
<ul>
 <li>Image or icon of the executive </li>
 <li>Name</li>
 <li>Job title</li>
 <li>Agency or department name</li>
 <li>Link to contact information or bio (optional)</li>
</ul>

<h2>Default</h2>
<p>The background color is your color theme’s secondary color. </p>

<!--TABS-->
<div class="tabs responsive">
 <ul class="nav-tabs">
  <li>
   <a href="#section1">Example</a>
  </li>
  <li>
   <a href="#section2">Source code</a>
  </li>
 </ul>



 <!--Examples-->
 <section id="section1" class="tab-pane">
  <div class="card-header" id="heading-example1">
   <a data-bs-toggle="collapse" href="#collapse-example1" aria-expanded="true" aria-controls="collapse-example1"
    data-hash="#pane-example1" title="Example tab header">
    Example
   </a>
  </div>
  <div id="collapse-example1" class="collapse show p-0 m-0 brd-0" role="tabpanel" aria-labelledby="heading-example1">
   <div class="row">
    <div class="col-md-6">
     <div class="p-a-sm p-y-0">
      {% include "../../src/_includes/modules/executive-profile.html" %}
     </div>
    </div>
   </div>

  </div>
 </section>



 <!--HTML-->
 <section id="section2" class="tab-pane">
  <div class="card-header" id="heading-html1">
   <a class="collapsed" data-bs-toggle="collapse" href="#collapse-html1" aria-expanded="false"
    aria-controls="collapse-html1" data-hash="#pane-html1" title="HTML Source code tab header">
    Source code
   </a>
  </div>
  <div id="collapse-html1" class="collapse p-0 m-0 brd-0" role="tabpanel" aria-labelledby="heading-html1">
   <div class="p-a-sm">
    <pre
     style="max-height: 300px;"><code>{% include "../../src/_includes/modules/executive-profile.html" %}</code></pre>

   </div>
  </div>
 </section>

</div>
<!--END TABS-->

<h2>Transparent</h2>
<h3>Light background</h3>
<p>Use this version on a white or light background (like the secondary color of your color theme).</p>



<!--TABS-->
<div class="tabs responsive">
 <ul class="nav-tabs">
  <li>
   <a href="#section3">Example</a>
  </li>
  <li>
   <a href="#section4">Source code</a>
  </li>
 </ul>



 <!--Examples-->
 <section id="section3" class="tab-pane">
  <div class="card-header" id="heading-example3">
   <a data-bs-toggle="collapse" href="#collapse-example3" aria-expanded="true" aria-controls="collapse-example3"
    data-hash="#pane-example3" title="Example tab header">
    Example
   </a>
  </div>
  <div id="collapse-example3" class="collapse show p-0 m-0 brd-0" role="tabpanel" aria-labelledby="heading-example3">

   <div class="p-a-sm p-y-0">
    {% include "../../src/_includes/modules/executive-profile-transparent.html" %}
   </div>


  </div>
 </section>



 <!--HTML-->
 <section id="section4" class="tab-pane">
  <div class="card-header" id="heading-html4">
   <a class="collapsed" data-bs-toggle="collapse" href="#collapse-html4" aria-expanded="false"
    aria-controls="collapse-html4" data-hash="#pane-html4" title="HTML Source code tab header">
    Source code
   </a>
  </div>
  <div id="collapse-html4" class="collapse p-0 m-0 brd-0" role="tabpanel" aria-labelledby="heading-html4">
   <div class="p-a-sm">
    <pre
     style="max-height: 300px;"><code>{% include "../../src/_includes/modules/executive-profile-transparent.html" %}</code></pre>

   </div>
  </div>
 </section>

</div>
<!--END TABS-->


<h3>Dark background</h3>
<p>Use this version on a black, dark gray, or dark background (like the standout color of your color theme). </p>


<!--TABS-->
<div class="tabs responsive">
 <ul class="nav-tabs">
  <li>
   <a href="#section5">Example</a>
  </li>
  <li>
   <a href="#section6">Source code</a>
  </li>
 </ul>



 <!--Examples-->
 <section id="section5" class="tab-pane">
  <div class="card-header" id="heading-example5">
   <a data-bs-toggle="collapse" href="#collapse-example5" aria-expanded="true" aria-controls="collapse-example5"
    data-hash="#pane-example5" title="Example tab header">
    Example
   </a>
  </div>
  <div id="collapse-example5" class="collapse show p-0 m-0 brd-0" role="tabpanel" aria-labelledby="heading-example5">

   <div class="p-a-sm p-y-0">
    <div class="section-standout">
     {% include "../../src/_includes/modules/executive-profile-dark.html" %}
    </div>
   </div>

  </div>
 </section>



 <!--HTML-->
 <section id="section6" class="tab-pane">
  <div class="card-header" id="heading-html6">
   <a class="collapsed" data-bs-toggle="collapse" href="#collapse-html6" aria-expanded="false"
    aria-controls="collapse-html6" data-hash="#pane-html6" title="HTML Source code tab header">
    Source code
   </a>
  </div>
  <div id="collapse-html6" class="collapse p-0 m-0 brd-0" role="tabpanel" aria-labelledby="heading-html6">
   <div class="p-a-sm">
    <pre
     style="max-height: 300px;"><code>{% include "../../src/_includes/modules/executive-profile-dark.html" %}</code></pre>

   </div>
  </div>
 </section>

</div>
<!--END TABS-->

<h2>Usage</h2>
<h3>When and how to use it </h3>
<p>Keep the executive profile simple. It should only display a portrait and basic information about an agency leader,
 then link to a bio or about page for detailed information if needed.</p>
<p>Common agency leaders include the:</p>
<ul>
 <li>Governor</li>
 <li>Agency secretary</li>
 <li>Department director</li>
</ul>
<p>The executive profiles are transparent. Select colors that work for your background color. Use dark text on light
 backgrounds, and light text on dark backgrounds.</p>
<p><span class="bold">Note: </span> Make sure to get approval before using a person’s banner. For instance,
 the Governor’s Office may want to use a specific image or content.</p>
<h3>
 How not to use it
</h3>
<p>Do not feature more than three executive profiles on a page. </p>
</p>Do not use the executive profile to feature staff members. This pattern should be reserved to the directorate level
of leadership.</p>

<h3>Layout</h3>
<p>These sample layouts show the recommended visual arrangement of executive profiles.</p>

<h4>Default</h4>
<p>Vertically stack default profiles next to a large area of content above the footer.</p>
<figure class="border-1 brd-gray-200">
 <img src="/images/sample/images/exec-profile1.png" class="img-fluid"
  alt="sample page layouts with executive profiles arrangements">
</figure>



<h4>Transparent: Dark background</h4>
<p>Horizontally place transparent profiles next to each other above the footer. These profiles will vertically stack on
 smaller devices.</p>
<figure class="border-1 brd-gray-200">
 <img src="/images/sample/images/exec-profile2.png" class="img-fluid border-1 brd-gray-200"
  alt="sample page layouts with executive profiles arrangements on dark background">
</figure>

<h2>Accessibility</h2>
{% include "../../src/_includes/modules/accessibility.html" %}