---
title: Breadcrumb
landing: Components
layout: components.njk
permalink: "components/featured-search.html"
---

<style>
  .outline-offset-5:focus {
    outline-offset: -5px;
  }
</style>
<h1 class="m-t-0">Featured search</h1>

<nav class="page-navigation"></nav>

<p>
  The featured search highlights search as the primary task. It is placed
  prominently, typically on the homepage. Its size and placement draws users
  attention, signaling the agency’s intentional focus on search.
</p>

<h2>Sample</h2>

<!--TABS-->
<div class="tabs responsive">
  <ul class="nav-tabs">
    <li>
      <a href="#section1">Example</a>
    </li>
    <li>
      <a href="#section2">Source code</a>
    </li>
    <li>
      <a href="#section3">Implementation</a>
    </li>
  </ul>

  <!--Examples-->
  <section id="section1" class="tab-pane">
    <div class="card-header" id="heading-example1">
      <a
        data-bs-toggle="collapse"
        href="#collapse-example1"
        aria-expanded="true"
        aria-controls="collapse-example1"
        data-hash="#pane-example1"
        title="Example tab header">
        Example
      </a>
    </div>
    <div
      id="collapse-example1"
      class="collapse show p-0 m-0 brd-0 bg-p2"
      role="tabpanel"
      aria-labelledby="heading-example1">
      <div class="p-x-md p-t-lg p-b-lg">
        {% include "../../src/_includes/modules/featured-search.html" %}
      </div>
    </div>
  </section>

  <!--HTML-->
  <section id="section2" class="tab-pane">
    <div class="card-header" id="heading-html1">
      <a
        class="collapsed"
        data-bs-toggle="collapse"
        href="#collapse-html1"
        aria-expanded="false"
        aria-controls="collapse-html1"
        data-hash="#pane-html1"
        title="HTML Source code tab header">
        Source code
      </a>
    </div>
    <div
      id="collapse-html1"
      class="collapse p-0 m-0 brd-0"
      role="tabpanel"
      aria-labelledby="heading-html1">
      <div class="p-a-sm">
        <pre
          style="max-height: 300px;"><code>{% include "../../src/_includes/modules/featured-search.html" %}</code></pre>
      </div>
    </div>
  </section>

  <!--Implementation-->
  <section id="section3" class="tab-pane">
    <div class="card-header" id="heading-implementation">
      <a
        class="collapsed"
        data-bs-toggle="collapse"
        href="#collapse-implementation"
        aria-expanded="false"
        aria-controls="collapse-implementation"
        data-hash="#pane-implementation"
        title="Implementation tab header">
        Implementation
      </a>
    </div>
    <div
      id="collapse-implementation"
      class="collapse p-0 m-0 brd-0"
      role="tabpanel"
      aria-labelledby="heading-implementation">
      <div class="p-a-sm">
        <img
          src="/images/featured-search-sample.jpg"
          alt="Implementation guidance for featured search component"
          class="img-fluid brd-solid-1 brd-gray-200 m-b-md" />

        <a
          href="/components/featured-search-sample.html"
          rel="noindex"
          class="btn btn-outline-primary mb-4"
          target="_blank"
          title="Featured search live example">
          Live example in new tab
          <span class="ca-gov-icon-arrow-next" aria-hidden="true"></span>
        </a>
      </div>
    </div>
  </section>
</div>
<!--END TABS-->

<h2>Usage</h2>
<h3>When and how to use it</h3>
<p>
  Always use a clear and concise label for your search bar. Visitors should
  readily understand what the search is for.
</p>
<p>
  Try to use just one search per page. If you need multiple searches, clearly
  label them to indicate their purpose
</p>

<p>
  For the best search optimization, evolve your content with search results. If
  visitors frequently use terms that are not in your content, consider working
  those search terms into the page content.
</p>
<p>
  Position the search feature within the primary banner container, ideally
  located immediately below the main navigation.
</p>
<h3>How not to use it</h3>
<p>
  Search field input should fit into one line. Do not use multiline search
  inputs.
</p>
<p>
  Do not default to an advanced search. The majority of visitors will want to do
  a simple keyword search.
</p>

<h2>Accessibility</h2>
{% include "../../src/_includes/modules/accessibility.html" %}
