---
title: Feature Card
landing: Templates
layout: templates.njk
permalink: "sample/feature-card.html"
---

<h1 class="mt-lg-0">Feature Card</h1>
<p>The feature card highlights an action you want people to take or important information on the homepage. It is the
 first thing a visitor sees. It always includes:</p>
<ul>
 <li>Title</li>
 <li>Brief description</li>
 <li>Image</li>
 <li>An optional image caption</li>
 <li>Button</li>
</ul>
<p>The feature card spans the full width of the screen on desktop and mobile. On mobile, the feature card will stack in
 this order:</p>
<ul>
 <li>Image</li>
 <li>Image caption</li>
 <li>Title</li>
 <li>Description</li>
 <li>Button</li>
</ul>



<h2 id="demo-and-sample-markup">Demo and sample markup</h2>


<!--TABS-->
<div class="tab-group responsive">
 <ul id="tabs1" class="nav nav-tabs" role="tablist">
  <li class="nav-item">
   <a id="tab-example1" href="#pane-example1" class="nav-link active" data-bs-toggle="tab" role="tab">Example</a>
  </li>
  <li class="nav-item">
   <a id="tab-html1" href="#pane-html1" class="nav-link" data-bs-toggle="tab" role="tab">Source Code</a>
  </li>

 </ul>


 <div id="tab-content" class="tab-content">
  <!--Examples-->
  <div id="pane-example1" class="card tab-pane fade show active" role="tabpanel" aria-labelledby="tab-example1">
   <div class="card-header" id="heading-example1">
    <h4 class="my-0">
     <a data-bs-toggle="collapse" href="#collapse-example1" data-parent="#tab-content" aria-expanded="true"
      aria-controls="collapse-example1" data-hash="#pane-example1" title="Example tab header">
      Example
     </a>
    </h4>
   </div>
   <div id="collapse-example1" class="collapse show" role="tabpanel" aria-labelledby="heading-example1">
    <div class="card-body p-b-lg">

     {% include "../../src/_includes/modules/feature-card.html" %}

    </div>
   </div>
  </div>



  <!--HTML-->
  <div id="pane-html1" class="card tab-pane fade" role="tabpanel" aria-labelledby="tab-html1">
   <div class="card-header" id="heading-html1">
    <h4 class="my-0">
     <a class="collapsed" data-bs-toggle="collapse" href="#collapse-html1" data-parent="#tab-content"
      aria-expanded="false" aria-controls="collapse-html1" data-hash="#pane-html1" title="HTML Source Code tab header">
      Source Code
     </a>
    </h4>
   </div>
   <div id="collapse-html1" class="collapse" role="tabpanel" aria-labelledby="heading-html1">
    <div class="card-body">
     <pre style="max-height: 300px;"><code>{% include "../../src/_includes/modules/feature-card.html" %}</code></pre>

    </div>
   </div>
  </div>


 </div>
</div>
<!--END TABS-->


<h2 id="when-and-how-to-use-it">Usage</h2>
<h3>When and how to use it</h3>
<p>Use the feature card to catch visitors' attention and highlight the top task or need.</p>
<p>We recommend always using a feature card on your homepage. Place it at the top of the homepage so it appears below
 the statewide header, site header, and site navigation. The only other thing that may appear above the feature card is
 a page alert.</p>
<p>Include a concise title, description, image, and one button. Choose an image that’s in harmony with your brand
 identity, mission, and tone. The minimum image size is 776 x 517 pixels. For best results, use images with this aspect
 ratio.</p>
<h3 id="how-not-to-use-it">How not to use it</h3>
<p>Do not use more than one feature card on your homepage.</p>
<p>Do not use the feature card to make an image carousel. Carousels frustrate people more than they help them and do not
 meet accessibility standards.</p>
<p>Do not put a lot of content in your feature card. Too much content is hard to read. It will also lengthen the feature
 card and cause awkward whitespace.</p>