---
title: Form elements
landing: Components
layout: components.njk
permalink: "components/form-elements.html"
---




<h1 class="mt-lg-0">Forms elements</h1>
<p>A form allows visitors to submit information to a server.</p>
<p>Common form elements include:</p>
<ul>
 <li>Labels</li>
 <li>Text fields</li>
 <li>Checkboxes</li>
 <li>Buttons</li>
 <li>Dropdown menus</li>
 <li>Radio buttons</li>
</ul>

<h2>Example:</h2>
{% include "../../src/_includes/modules/form.html" %}

<h2>Source code:</h2>
<pre><code class="overflow-auto">{% include "../../src/_includes/modules/form.html" %}</code></pre>


<hr>


<h2>Sample contact form:</h2>
{% include "../../src/_includes/modules/form-contact.html" %}

<h2>Source code:</h2>
<pre><code class="overflow-auto">{% include "../../src/_includes/modules/form-contact.html" %}</code></pre>

<hr>

<h2>Form states and sizes:</h2>
{% include "../../src/_includes/modules/form-states.html" %}

<h2>Source code:</h2>
<pre><code class="overflow-auto">{% include "../../src/_includes/modules/form-states.html" %}</code></pre>

<hr />

<h2>Custom file input:</h2>
{% include "../../src/_includes/modules/form-file-input.html" %}

<h2>Source code:</h2>
<pre><code class="overflow-auto">{% include "../../src/_includes/modules/form-file-input.html" %}</code></pre>



<hr />

<h2>Custom radio buttons and checkboxes:</h2>
{% include "../../src/_includes/modules/form-radios.html" %}
{% include "../../src/_includes/modules/form-checkboxes.html" %}



<h2>Source code:</h2>
<pre><code class="overflow-auto">{% include "../../src/_includes/modules/form-radios.html" %}
{% include "../../src/_includes/modules/form-checkboxes.html" %}
     </code></pre>


<hr />


<h2>Custom select:</h2>
{% include "../../src/_includes/modules/form-select.html" %}

<h2>Source code:</h2>
<pre><code class="overflow-auto">{% include "../../src/_includes/modules/form-select.html" %}</code></pre>