---
title: Form Styles
landing: Components
layout: components.njk
permalink: "sample/form.html"
---




<h1 class="mt-lg-0">Forms</h1>
<p>All form controls automatically receive some global styling. Form elements with
 <code>.form-control</code> are set to <code>width: 100%;</code> by default. Wrap labels and
 controls in <code>.form-group</code> for optimum spacing.
</p>

<h2>Example:</h2>
{% include "../../src/_includes/modules/form.html" %}

<h2>Source code:</h2>
<pre><code class="overflow-auto">{% include "../../src/_includes/modules/form.html" %}</code></pre>


<hr>


<h2>Sample contact form:</h2>
{% include "../../src/_includes/modules/form-contact.html" %}

<h2>Source code:</h2>
<pre><code class="overflow-auto">{% include "../../src/_includes/modules/form-contact.html" %}</code></pre>

<hr>

<h2>Form states and sizes:</h2>
{% include "../../src/_includes/modules/form-states.html" %}

<h2>Source code:</h2>
<pre><code class="overflow-auto">{% include "../../src/_includes/modules/form-states.html" %}</code></pre>

<hr />

<h2>Custom file input:</h2>
{% include "../../src/_includes/modules/form-file-input.html" %}

<h2>Source code:</h2>
<pre><code class="overflow-auto">{% include "../../src/_includes/modules/form-file-input.html" %}</code></pre>



<hr />

<h2>Custom radio buttons and checkboxes:</h2>
{% include "../../src/_includes/modules/form-radios.html" %}
{% include "../../src/_includes/modules/form-checkboxes.html" %}



<h2>Source code:</h2>
<pre><code class="overflow-auto">{% include "../../src/_includes/modules/form-radios.html" %}
{% include "../../src/_includes/modules/form-checkboxes.html" %}
     </code></pre>


<hr />


<h2>Custom select:</h2>
{% include "../../src/_includes/modules/form-select.html" %}

<h2>Source code:</h2>
<pre><code class="overflow-auto">{% include "../../src/_includes/modules/form-select.html" %}</code></pre>