---
title: Hero Info
layout: templates.njk
permalink: "/sample/hero-info.html"
---
<nav aria-label="You are here">
 <ol class="breadcrumb">
  <li><a href="../index.html" title="Home page">Home</a></li>
  <li><a href="/sample/content-patterns.html" title="Content Modules landing page">Content Patterns</a></li>
  <li class="active">Hero Info</li>
 </ol>
</nav>

<h1>Hero Info</h1>
<p>Hero Info is a large section that presents an overview of the site's most important content,
 prominently placed on a web page, generally in the front and center.</p>

<h2>Example:</h2>
<hr />
{% include "../../src/_includes/modules/hero-info.html" %}



<button type="button" class="btn btn-default btn-sm" data-bs-toggle="modal" data-bs-target="#news-headlines">Show Source
 Code</button>

<!-- Modal -->
<div class="modal fade" id="news-headlines" role="dialog">
 <div class="modal-dialog modal-lg">
  <div class="modal-content">
   <div class="modal-header">
    <h4 class="modal-title">HTML Markup</h4>
    <button type="button" class="close btn btn-secondary" data-bs-dismiss="modal"><span class="sr-only">Close
      modal</span><span class="ca-gov-icon-close-mark" aria-hidden="true"></span></button>

   </div>
   <div class="modal-body">
    <strong aria-label="Source Code for Hero Info">Source Code:</strong>
    <pre><code class="overflow-auto">{% include "../../src/_includes/modules/hero-info.html" %}</code></pre>
   </div>
   <div class="modal-footer">
    <button type="button" class="btn btn-default" data-bs-dismiss="modal">Close</button>
   </div>
  </div>
 </div>
</div><!-- / End Modal -->