---
title: Legacy components
landing: Components
layout: page.njk
permalink: "components/legacy-components.html"
---





<h1 class="m-t-0" id="Icons">Legacy components</h1>

<nav class="page-navigation"></nav>


 {%- for item in legacyComponents.components -%}
 <div class="row row p-y-md">
 
  <div class="col-lg-4">
    <h2 class="h3 m-t-0">{{ item.Legacy_components }}</h2>
  </div>

  <div class="col-lg-8">
    <dl>
      <dt>Legacy component name</dt>
      <dd><a href="{{ item.Legacy_URL }}">{{ item.Legacy_components }}</a></dd>

      <dt>Scaled to V6</dt>
      {%- if item.Scaled_to_V6 == "N" %}
        <dd><span class="ca-gov-icon-angry text-danger" aria-hidden="true"></span> No</dd>
      {%- else %}
        <dd><span class="ca-gov-icon-thumb-up text-success" aria-hidden="true"></span> Yes</dd>
      {%- endif -%}

      {%- if item.V6_alternative !== "" %}
      <dt>V6 alternative</dt>
      <dd><a href="{{ item.V6_URL }}">{{ item.V6_alternative }}</a></dd>
      {%- endif -%}

      <dt>Deprecated</dt>
      {%- if item.Deprecated == "N" %}
        <dd><span class="ca-gov-icon-check-fill text-success" aria-hidden="true"></span> No</dd>
      {%- else %}
        <dd><span class="ca-gov-icon-warning-diamond text-danger" aria-hidden="true"></span> Yes</dd>
      {%- endif -%}

      <dt>Notes</dt>
      <dd>{{ item.Notes }}</dd>

      {%- if item.Deprecated_CSS_classes !== "" %}
      <dt>Deprecated CSS classes</dt>
      <dd><code>{{ item.Deprecated_CSS_classes | safe }}</code></dd>
      {%- endif -%}


    </dl>
  </div>
 </div>
 <hr>
 {%- endfor -%}