---
title: Lists
layout: components.njk
permalink: "sample/lists.html"
---
<nav aria-label="You are here">
 <ol class="breadcrumb">
  <li><a href="../index.html" title="Home page">Home</a></li>
  <li><a href="/sample/" title="Components landing page">Components</a></li>
  <li class="active">Lists</li>
 </ol>
</nav>


<h1>Lists (Bulleted &amp; Expanding)</h1>
<div class="row">
 <div class="half">
  <h2>.list-overstated</h2>
  <p>Adding <code>.list-overstated</code> to a <code>ul</code> will render the list with bullet
   icons and bold hyperlinks.</p>
  {% include "../../src/_includes/modules/list-overstated.html" %}
 </div>
 <div class="half">
  <h2><strong aria-label="Source code for List Overstated">Source Code:</strong></h2>
  <pre><code class="overflow-auto">{% include "../../src/_includes/modules/list-overstated.html" %}</code></pre>
 </div>
</div>

<hr>

<div class="row">
 <div class="half">
  <h2>.list-understated</h2>
  <p>Adding <code>.list-understated</code> to a <code>ul</code> will render the list with bullet
   icons and normal weighted hyperlinks.</p>
  {% include "../../src/_includes/modules/list-understated.html" %}
 </div>
 <div class="half">
  <h2><strong aria-label="Source code for List Understated">Source Code:</strong></h2>
  <pre><code class="overflow-auto">{% include "../../src/_includes/modules/list-understated.html" %}</code></pre>
 </div>
</div>

<hr>

<div class="row">
 <div class="half">
  <h2>.list-standout</h2>
  <p>Adding <code>.list-standout</code> to a <code>ul</code> will render the list with large
   inward pointing arrows.</p>
  {% include "../../src/_includes/modules/list-standout.html" %}
 </div>
 <div class="half">
  <h2><strong aria-label="Source code for List Standout">Source Code:</strong></h2>
  <pre><code class="overflow-auto">{% include "../../src/_includes/modules/list-standout.html" %}</code></pre>
 </div>
</div>

<hr>

<div class="row">
 <div class="half">
  <h2>List as Accordion</h2>

  <p>Accordion lists can be toggled open and close by clicking the toggle link. Add id
   <code>#accordion</code> and class <code>.accordion-list</code> to a <code>ul</code> to
   create the accordion list. Add <code>.tab</code> to the <code>li</code> tag. Finally, wrap
   the content to be toggled open and closed in a <code>.card</code> div. You can use
   <code>.accordion-list</code> in conjunction with any list style provided.
  </p>

  <p><span class="badge label-info">Note:</span> Accordion List uses HTML5 roles, some ARIA
   properties, and IDs for accessibility. For best accessibility paractices certain keyboard
   shortcuts are also implemented.</p>

  {% include "../../src/_includes/modules/accordion-list.html" %}
 </div>
 <div class="half">
  <h2><strong aria-label="Source code for Accordion List">Source Code:</strong></h2>
  <pre><code class="overflow-auto">{% include "../../src/_includes/modules/accordion-list.html" %}</code></pre>
 </div>
</div>

<hr>

<div class="row">
 <div class="half">
  <h2>Multi-Tiered Ordered Lists</h2>
  {% include "../../src/_includes/modules/list-multi-ordered.html" %}
 </div>
 <div class="half">
  <h2><strong aria-label="Source code for Multi-Tiered Ordered List">Source Code:</strong></h2>
  <pre><code class="overflow-auto">{% include "../../src/_includes/modules/list-multi-ordered.html" %}</code></pre>
 </div>
</div>

<hr>

<div class="row">
 <div class="half">
  <h2>Multi-Tiered Unordered Lists</h2>
  {% include "../../src/_includes/modules/list-multi-unordered.html" %}
 </div>
 <div class="half">
  <h2><strong aria-label="Source code for Multi-Tiered Unordered List">Source Code:</strong></h2>
  <pre><code class="overflow-auto">{% include "../../src/_includes/modules/list-multi-unordered.html" %}</code></pre>
 </div>
</div>