---
title: Location Widget (Full)
landing: Templates
layout: templates.njk
permalink: "sample/location-full.html"
---



{% include "../../src/_includes/modules/location-full.html" %}
<hr>
<h2>Source Code:</h2>

<div class="tab-group">
 <ul id="sourceCode" class="nav nav-tabs" role="tablist">
  <li class="active"><a href="#html" role="tab" data-bs-toggle="tab">HTML Markup</a></li>
  <li><a href="#microdata" role="tab" data-bs-toggle="tab">Microdata</a></li>
 </ul>
 <!-- Tab panes -->
 <div class="tab-content responsive">
  <div class="tab-pane active" id="html">
   <pre><code class="overflow-auto">{% include "../../src/_includes/modules/location-full.html" %}</code></pre>
  </div>
  <div class="tab-pane" id="microdata">
   <pre><code class="overflow-auto">{% include "../../src/_includes/modules/location-full-schema.html" %}</code></pre>
  </div>
 </div>
</div>