---
title: Side Navigation
layout: components.njk
permalink: "sample/navigation-sidebar.html"
---


<nav aria-label="You are here">
 <ol class="breadcrumb">
  <li><a href="../index.html" title="Home page">Home</a></li>
  <li><a href="/sample/navsamples.html" title="Navigation Samples page">Navigation Samples</a>
  </li>
  <li class="active">Side Navigation</li>
 </ol>
</nav>

<div class="row p-b-lg">
 <div class="col-md-8">

  <h1>Side Navigation Menu</h1>
  <p>
   Side navigation is a vertical navigation component which apart from traditional, text links, might
   embed icons, dropdowns, images or even forms.
  </p>

  <p>
   Its clarity and simplicity remarkably increases User Experience. It allows you to navigate through
   small applications as well as vast portals swiftly. Multiple link embedding functionality enables
   you to implement more advanced content categorization, which is almost essential within bigger
   projects.
  </p>

  <p>
   Side navigation uses <a href="/sample/accordions.html">accordion list</a> component's structure and
   properties. But also, it incorporates the bootstrap list group component's styles.
  </p>

  <p>
   Like many other components, a Side navigation can be styled with a number of extension classes.
   Append one of the following classes to the <code>.list-group</code> element:
   <code>.section-default</code>, <code>.section-understated</code>, <code>.section-primary</code>,
   <code>.section-standout</code>, <code>.section-inverted</code>, <code>.section-impact</code>,
   <code>.section-danger</code>.

  </p>




  <h2>Side navigation:</h2>
  {% include "../../src/_includes/modules/nav-side.html" %}

  <h2>Source Code:</h2>
  <pre><code class="overflow-auto">{% include "../../src/_includes/modules/nav-side.html" %}</code></pre>

  <hr />

  <h2>Side navigation (standout):</h2>
  {% include "../../src/_includes/modules/nav-side-standout.html" %}


  <h2>Source Code:</h2>
  <pre><code class="overflow-auto">{% include "../../src/_includes/modules/nav-side-standout.html" %}</code></pre>

  <h2>Side navigation (primary):</h2>
  {% include "../../src/_includes/modules/nav-side-primary.html" %}


  <h2>Source Code:</h2>
  <pre><code class="overflow-auto">{% include "../../src/_includes/modules/nav-side-primary.html" %}</code></pre>


  <h2>Side navigation (understated):</h2>
  {% include "../../src/_includes/modules/nav-side-understated.html" %}


  <h2>Source Code:</h2>
  <pre><code class="overflow-auto">{% include "../../src/_includes/modules/nav-side-understated.html" %}</code></pre>



 </div>
 <div class="col-md-4" role="complementary">
  <h2 class="h3">Other examples:</h2>
  <!-- Side navigation -->
  <div class="accordion-list list-group">
   <a href="/sample/navigation-dropdown.html" class="list-group-item list-group-item-action">Dropdown</a>
   <a href="/sample/navigation-full-width-utility.html" class="list-group-item list-group-item-action">Full Width/Active
    Search</a>
   <a href="/sample/navigation-megamenu-flex.html" class="list-group-item list-group-item-action">Flex Megamenu</a>
   <a href="/sample/page-navigation.html" class="list-group-item list-group-item-action">Page Navigation</a>
   <a href="/sample/navigation-sidebar.html" class="active list-group-item list-group-item-action">Side Menu</a>
   <a href="/sample/navigation-single.html" class="list-group-item list-group-item-action">Single Level</a>
  </div>
 </div>
</div>