---
title: Sample - Newsroom
landing: Patterns
layout: sample-site-news.njk
permalink: "/patterns/newsroom-sample.html"
---

<nav aria-label="Breadcrumb" class="breadcrumbs">
  <ol>
    <li><a href="/patterns/newsroom.html" title="Home page">Home</a></li>
    <li class="active">Newsroom</li>
  </ol>
</nav>

<div class="row">
  <div class="col-lg-4 col-xl-3">
    <nav aria-label="list navigation" class="side-navigation">
      <ul>
        <li><a href="javascript:;" class="landing active">Newsroom</a></li>
        <li><a href="javascript:;" aria-disabled="true">News articles</a></li>
        <li>
          <a
            href="/patterns/list-of-articles-or-content-sample.html"
            rel="noindex">
            Press releases
          </a>
        </li>
        <li><a href="javascript:;" aria-disabled="true">Blog</a></li>
        <li>
          <a href="javascript:;" aria-disabled="true">Disaster information</a>
        </li>
        <li>
          <a href="javascript:;" aria-disabled="true">Subscription services</a>
        </li>
        <li>
          <a href="javascript:;" aria-disabled="true">
            Public records requests
          </a>
        </li>
        <li>
          <a href="javascript:;" aria-disabled="true">Press information</a>
        </li>
      </ul>
    </nav>
  </div>
  <div class="col-lg-8 col-xl-9">
    <h1 class="m-t-0">Newsroom</h1>

    <h2>Featured</h2>
    {% include "../../src/_includes/modules/news-list-featured.html" %} {%
    include "../../src/_includes/modules/news-cards.html" %} {% include
    "../../src/_includes/modules/news-list.html" %}
  </div>
</div>
