---
title: Profile List
layout: templates.njk
permalink: "sample/profile-list.html"
---


<h1 class="mt-lg-0">Public Profile List</h1>
<p>Use the <code>.profile-item</code> class on an <code>article</code> element. Like other similar
 widgets, the list item contains the following child elements. <code>.thumbnail</code>,
 <code>.header</code>, <code>.body</code>, and <code>.footer</code>
</p>
<p><span class="text-highlight-primary">Note:</span> List items have additional classes on sub elements that
 are not being used in the current design, however they could be used in the future.</p>

{% include "../../src/_includes/modules/schema-boilerplate.html" %}

<hr>

<h2>Example:</h2>
{% include "../../src/_includes/modules/profile-list.html" %}

<h2>Source Code:</h2>

<div class="tab-group">
 <ul id="sourceCode" class="nav nav-tabs" role="tablist">
  <li class="active"><a href="#html" role="tab" data-bs-toggle="tab">HTML Markup</a></li>
  <li><a href="#microdata" role="tab" data-bs-toggle="tab">Microdata</a></li>
 </ul>
 <!-- Tab panes -->
 <div class="tab-content responsive">
  <div class="tab-pane active" id="html">
   <pre><code class="overflow-auto">{% include "../../src/_includes/modules/profile-list.html" %}</code></pre>
  </div>
  <div class="tab-pane" id="microdata">
   <pre><code class="overflow-auto">{% include "../../src/_includes/modules/profile-list-schema.html" %}</code></pre>
  </div>
 </div>
</div>