---
title: Profile Detail
layout: page.njk
permalink: "sample/profile-detail.html"
---

<nav aria-label="You are here">
    <ol class="breadcrumb">
        <li><a href="../index.html" title="Home page">Home</a></li>
        <li><a href="/sample/" title="Content Modules landing page">Content Modules</a></li>
        <li class="active">Profile Detail</li>
    </ol>
</nav>


<h1>Profile Detail</h1>
<p><code>.profile-detail</code> is an end page content module for profiles. To begin, wrap the contents
    of the page in a <code>&lt;article class="news-detail"&gt;</code> tag. You have the option of
    including an image with the detail page. Images can be justified left or right with the
    <code>.img-left</code> or <code>.img-right</code> class on the <code>img</code> tag.
</p>

{% include "../../src/_includes/modules/schema-boilerplate.html" %}

<hr>

<h2>Example:</h2>
{% include "../../src/_includes/modules/profile-detail.html" %}
<hr>

<h2>Source Code:</h2>

<div class="tab-group">
    <ul id="sourceCode" class="nav nav-tabs" role="tablist">
        <li class="active"><a href="#html" role="tab" data-bs-toggle="tab">HTML Markup</a></li>
        <li><a href="#microdata" role="tab" data-bs-toggle="tab">Microdata</a></li>
    </ul>
    <!-- Tab panes -->
    <div class="tab-content responsive">
        <div class="tab-pane active" id="html">
            <pre><code class="overflow-auto">{% include "../../src/_includes/modules/profile-detail.html" %}</code></pre>
        </div>
        <div class="tab-pane" id="microdata">
            <pre><code class="overflow-auto">{% include "../../src/_includes/modules/profile-detail-schema.html" %}</code></pre>
        </div>
    </div>
</div>