---
title: Progress Bars
landing: Components
layout: components.njk
permalink: "sample/progress-bars.html"
---


<div class="row">
 <div class="half">
  <h1 class="mt-lg-0">Progress Bar</h1>
  <p>Provide up-to-date feedback on the progress of a workflow or action with simple yet flexible
   progress bars.</p>
  <p>The progress bars can be colored with traditional theme colors plus new accent colors. Below
   is a list of possible color class names:</p>
  <ul>
   <li><code>.bg-success</code></li>
   <li><code>.bg-info</code></li>
   <li><code>.bg-warning</code></li>
   <li><code>.bg-danger</code></li>
   <li><code>.bg-dark</code></li>
   <li><code>.bg-primary</code></li>
   <li><code>.bg-highlight</code></li>
   <li><code>.bg-standout</code></li>
  </ul>
  <h2>Example:</h2>
  {% include "../../src/_includes/modules/progress-bar.html" %}

 </div>
 <div class="half">


  <h2>Source code:</h2>
  <pre><code class="overflow-auto">{% include "../../src/_includes/modules/progress-bar.html" %}</code></pre>
 </div>
</div>

<hr>


<div class="row">
 <div class="half">
  <h2>Progress Bars Variety</h2>
  <p>Progress bars sizes and variations.</p>
  {% include "../../src/_includes/modules/progress-bar-variety.html" %}
 </div>
 <div class="half">
  <h2>Source code:</h2>
  <pre><code class="overflow-auto">{% include "../../src/_includes/modules/progress-bar-variety.html" %}</code></pre>
 </div>
</div>

<hr>

<div class="row">
 <div class="half">
  <h2>Striped Progress Bars</h2>
  <p>Uses a gradient to create a striped effect. Not available in IE9 and below.</p>
  {% include "../../src/_includes/modules/progress-bar-striped.html" %}
 </div>
 <div class="half">
  <h2>Source code:</h2>
  <pre><code class="overflow-auto">{% include "../../src/_includes/modules/progress-bar-striped.html" %}</code></pre>
 </div>
</div>

<hr>

<div class="row">
 <div class="half">
  <h2>Animated Progress Bars</h2>
  <p>Add <code>.active</code> to <code>.progress-bar-striped</code> to animate the stripes right
   to left. Not available in IE9 and below.</p>
  {% include "../../src/_includes/modules/progress-bar-animated.html" %}
 </div>
 <div class="half">
  <h2>Source code:</h2>
  <pre><code class="overflow-auto">{% include "../../src/_includes/modules/progress-bar-animated.html" %}</code></pre>
 </div>
</div>

<hr>

<div class="row">
 <div class="half">
  <h2>Stacked Progress Bars</h2>
  <p>Place multiple bars into the same <code>.progress</code> to stack them.</p>
  {% include "../../src/_includes/modules/progress-bar-stacked.html" %}
 </div>
 <div class="half">
  <h2>Source code:</h2>
  <pre><code class="overflow-auto">{% include "../../src/_includes/modules/progress-bar-stacked.html" %}</code></pre>
 </div>
</div>