---
title: Progress Block
landing: Components
layout: components.njk
permalink: "components/progress-blocks.html"
---




<h1 class="mt-lg-0">Progress Block</h1>
<p>Progress block is progress trackers (or progress indicators) display progress through a sequence by
 breaking it up into multiple logical and numbered steps. They guide the user through a number of
 steps in order to complete a specified task.</p>

<h2>Example:</h2>
{% include "../../src/_includes/modules/progress-block.html" %}


<button type="button" class="btn btn-default btn-sm" data-bs-toggle="modal" data-bs-target="#progress-block">Show Source
 Code</button>
<!-- Modal -->
<div class="modal fade" id="progress-block" role="dialog">
 <div class="modal-dialog modal-lg">
  <div class="modal-content">
   <div class="modal-header">
    <h4 class="modal-title">HTML Markup</h4>
    <button type="button" class="close btn btn-secondary" data-bs-dismiss="modal"><span class="sr-only">Close
      modal</span><span class="ca-gov-icon-close-mark" aria-hidden="true"></span></button>

   </div>
   <div class="modal-body">
    <h4>Source code:</h4>
    <pre><code class="overflow-auto">{% include "../../src/_includes/modules/progress-block.html" %}</code></pre>
   </div>
   <div class="modal-footer">
    <button type="button" class="btn btn-default" data-bs-dismiss="modal">Close</button>
   </div>
  </div>
 </div>
</div><!-- / End Modal -->
<hr />

<h2>Example #2:</h2>
<p class="m-b-lg">Following example uses <code>.bg-primary-light</code>,
 <code>.brd-primary-light</code>, etc. classes to specify colors for the specific progress block
 elements. To change the color of the block elements change <code>-primary-</code> part of the class
 name to either <code>-highlight-</code>, <code>-standout-</code>, or <code>-secondary-</code>.
 {% include "../../src/_includes/modules/progress-block-bold.html" %}

 <button type="button" class="btn btn-default btn-sm" data-bs-toggle="modal" data-bs-target="#progress-block-bold">Show
  Source code</button>
 <!-- Modal -->
<div class="modal fade" id="progress-block-bold" role="dialog">
 <div class="modal-dialog modal-lg">
  <div class="modal-content">
   <div class="modal-header">
    <h4 class="modal-title">HTML Markup</h4>
    <button type="button" class="close btn btn-secondary" data-bs-dismiss="modal"><span class="sr-only">Close
      modal</span><span class="ca-gov-icon-close-mark" aria-hidden="true"></span></button>

   </div>
   <div class="modal-body">
    <h4>Source code:</h4>
    <pre><code class="overflow-auto">{% include "../../src/_includes/modules/progress-block-bold.html" %}</code></pre>
   </div>
   <div class="modal-footer">
    <button type="button" class="btn btn-default" data-bs-dismiss="modal">Close</button>
   </div>
  </div>
 </div>
</div><!-- / End Modal -->