---
title: Search
layout: page.njk
landing: Structure
permalink: "structure/search.html"
---

<div class="row">
  <div class="col-lg-4 col-xl-3 pb-lg-5" role="complementary">
    <!-- Side navigation -->
    <nav aria-labelledby="navigation-list" class="side-navigation sticky-6">
      <ul class="list-navigation">
        <li>
          <a href="/structure.html" id="navigation-list" class="landing">
            Structure
          </a>
        </li>
        <li><a href="/structure/utility-header.html">Utility header</a></li>
        <li><a href="/structure/site-header.html">Site header</a></li>
        <li><a href="/structure/mobile-controls.html">Mobile controls</a></li>
        <li><a href="/structure/search.html" class="active">Search</a></li>
        <li><a href="/structure/site-navigation.html">Site navigation</a></li>
        <li><a href="/structure/footer.html">Footer</a></li>
      </ul>
    </nav>
  </div>
  <div class="col-lg-8 col-xl-9 m-b-lg">
    <h1 class="m-t-0 m-b-0">Search</h1>
    <p class="subtitle">Other names: searchbox, search field</p>

    <nav class="page-navigation"></nav>

    <p>
      A search input provides visitors an input field to search for specific
      content within a site or database.
    </p>
    <p>
      With search, visitors can filter content using different keywords or
      phrases.
    </p>
    <p>The search component includes:</p>
    <ul>
      <li>A concise label</li>
      <li>Some placeholder text</li>
      <li>A magnifying glass icon</li>
    </ul>

    <p>
      Search is an optional element. For search to work, you'll need to have a
      Google Search ID for your domain and include a search results page for
      your website.
    </p>

    <h2>Active search</h2>
    <p>
      This search bar appears on the right side of the header. This is the
      default search bar in the template.
    </p>

    <div class="tabs responsive">
      <ul class="nav-tabs">
        <li>
          <a href="#section1">Example</a>
        </li>
        <li>
          <a href="#section2">Source code</a>
        </li>
        <li>
          <a href="#section3">Implementation notes</a>
        </li>
      </ul>

      <section id="section1" class="tab-pane">
        <div class="card-header" id="heading-example1">
          <h4 class="my-0 w-100">
            <a
              data-bs-toggle="collapse"
              href="#collapse-example1"
              aria-expanded="true"
              aria-controls="collapse-example1"
              title="Example active search tab header">
              Example
            </a>
          </h4>
        </div>
        <div
          id="collapse-example1"
          class="collapse show p-0 m-0 brd-0"
          role="tabpanel"
          aria-labelledby="heading-example1">
          <div class="p-a-sm">
            <h3 class="h4 m-t-0">Desktop</h3>
            <img
              src="/images/components/strucutre-site-header.jpg"
              alt="Site header screenshot"
              class="img-fluid" />
          </div>
        </div>
      </section>

      <section id="section2" class="tab-pane">
        <div class="card-header" id="heading-html1">
          <h4 class="my-0 w-100">
            <a
              class="collapsed"
              data-bs-toggle="collapse"
              href="#collapse-html1"
              aria-expanded="false"
              aria-controls="collapse-html1"
              title="Active search HTML source code tab header">
              HTML Source code
            </a>
          </h4>
        </div>
        <div
          id="collapse-html1"
          class="collapse p-0 m-0 brd-0"
          role="tabpanel"
          aria-labelledby="heading-html1">
          <div class="p-a-sm">
            <h3 class="h4 m-t-0">HTML</h3>
            <pre><code>{% include "../../src/_includes/search.njk" %}</code>
       </pre>
          </div>
        </div>
      </section>

      <section id="section3" class="tab-pane">
        <div class="card-header" id="heading-include1">
          <h4 class="my-0 w-100">
            <a
              class="collapsed"
              data-bs-toggle="collapse"
              href="#collapse-include1"
              aria-expanded="false"
              aria-controls="collapse-include1"
              title="Active search implementation notes tab header">
              Implementation notes
            </a>
          </h4>
        </div>
        <div
          id="collapse-include1"
          class="collapse p-0 m-0 brd-0"
          role="tabpanel"
          aria-labelledby="heading-include1">
          <div class="p-a-sm">
            <h3 class="h4">Using active search include in site header</h3>
            <p class="m-b">
              Following code (that has both the search and the site navigation
              includes) needs to be placed right before closing
              <code>&lt;/header&gt;</code>
              tag
            </p>
            <pre><code><div class="navigation-search full-width-nav container">
    <div id="head-search" class="search-container featured-search">
      <!--Search component code goes here-->
    </div>
    <!--Site navigation component code goes here-->
</div>
  </code></pre>
          </div>
        </div>
      </section>
    </div>

    <h2>Featured search</h2>

    <p>
      The featured search is a standalone component, placed near the top of the
      page to emphasize search functionality. For more information, see the
      <a href="/components/featured-search.html">Featured search</a> component
      page.
    </p>

    <h2>Usage</h2>
    <h3>When and how to use it</h3>

    <p>
      Always use a clear and concise label for your search bar. Visitors should
      readily understand what the search is for.
    </p>
    <p>
      Try to use just one search per page. If you need multiple searches,
      clearly label them to indicate their purpose.
    </p>

    <p>
      For the best search optimization, evolve your content with search results.
      If visitors frequently use terms that are not in your content, consider
      working those search terms into the page content.
    </p>

    <p>
      Place search into the navigation-search container, which is after Mobile
      Controls.
    </p>

    <p>
      On mobile, the search box becomes a search icon button. When selected, it
      opens a full-width search box under the header.
    </p>

    <h3>How not to use it</h3>

    <p>
      Search field input should fit into one line. Do not use multiline search
      inputs.
    </p>

    <p>
      Do not default to an advanced search. The majority of visitors will want
      to do a simple keyword search.
    </p>

    <h2>Accessibility</h2>
    {% include "../../src/_includes/modules/accessibility.html" %}
  </div>
</div>
