---
title: Table
landing: Components
layout: components.njk
permalink: "components/table.html"
---

<h1 class="mt-lg-0">Table</h1>
<p class="lead">A table displays data in rows and columns. </p>

<h2 id="Basic">Basic</h2>
<!--TABS-->
<div class="tab-group responsive">
 <ul id="tabs1" class="nav nav-tabs" role="tablist">
  <li class="nav-item">
   <a id="tab-example1" href="#pane-example1" class="nav-link active" data-bs-toggle="tab" role="tab">Example</a>
  </li>
  <li class="nav-item">
   <a id="tab-html1" href="#pane-html1" class="nav-link" data-bs-toggle="tab" role="tab">Source code</a>
  </li>

 </ul>

 <div id="tab-content" class="tab-content">
  <!--Examples-->
  <div id="pane-example1" class="card tab-pane fade show active" role="tabpanel" aria-labelledby="tab-example1">
   <div class="card-header" id="heading-example1">
    <a data-bs-toggle="collapse" href="#collapse-example1" data-parent="#tab-content" aria-expanded="true"
     aria-controls="collapse-example1" data-hash="#pane-example1" title="Example tab header">
     Example
    </a>
   </div>
   <div id="collapse-example1" class="collapse show" role="tabpanel" aria-labelledby="heading-example1">
    <div class="card-body p-b-sm">

     {% include "../../src/_includes/modules/table.html" %}

    </div>
   </div>
  </div>
  <!--HTML-->
  <div id="pane-html1" class="card tab-pane fade" role="tabpanel" aria-labelledby="tab-html1">
   <div class="card-header" id="heading-html1">
    <a class="collapsed" data-bs-toggle="collapse" href="#collapse-html1" data-parent="#tab-content"
     aria-expanded="false" aria-controls="collapse-html1" data-hash="#pane-html1" title="HTML Source code tab header">
     Source code
    </a>
   </div>
   <div id="collapse-html1" class="collapse" role="tabpanel" aria-labelledby="heading-html1">
    <div class="card-body">
     <pre style="max-height: 300px;">
<code>{% include "../../src/_includes/modules/table.html" %}</code>
     </pre>
    </div>
   </div>
  </div>
 </div>
</div>
<!--END TABS-->

<h2 id="Shaded">Shaded</h2>
<!--TABS-->
<div class="tab-group responsive">
 <ul id="tabs2" class="nav nav-tabs" role="tablist">
  <li class="nav-item">
   <a id="tab-example2" href="#pane-example2" class="nav-link active" data-bs-toggle="tab" role="tab">Example</a>
  </li>
  <li class="nav-item">
   <a id="tab-html2" href="#pane-html2" class="nav-link" data-bs-toggle="tab" role="tab">Source code</a>
  </li>

 </ul>

 <div id="tab-content" class="tab-content">
  <!--Examples-->
  <div id="pane-example2" class="card tab-pane fade show active" role="tabpanel" aria-labelledby="tab-example2">
   <div class="card-header" id="heading-example2">
    <a data-bs-toggle="collapse" href="#collapse-example2" data-parent="#tab-content" aria-expanded="true"
     aria-controls="collapse-example2" data-hash="#pane-example2" title="Example tab header">
     Example
    </a>
   </div>
   <div id="collapse-example2" class="collapse show" role="tabpanel" aria-labelledby="heading-example2">
    <div class="card-body p-b-sm">

     {% include "../../src/_includes/modules/table-default.html" %}

    </div>
   </div>
  </div>
  <!--HTML-->
  <div id="pane-html2" class="card tab-pane fade" role="tabpanel" aria-labelledby="tab-html2">
   <div class="card-header" id="heading-html2">
    <a class="collapsed" data-bs-toggle="collapse" href="#collapse-html2" data-parent="#tab-content"
     aria-expanded="false" aria-controls="collapse-html2" data-hash="#pane-html2" title="HTML Source code tab header">
     Source code
    </a>
   </div>
   <div id="collapse-html2" class="collapse" role="tabpanel" aria-labelledby="heading-html2">
    <div class="card-body">
     <pre style="max-height: 300px;">
<code>{% include "../../src/_includes/modules/table-default.html" %}</code>
    </pre>
    </div>
   </div>
  </div>
 </div>
</div>
<!--END TABS-->

<h2 id="Zebra">Zebra</h2>
<!--TABS-->
<div class="tab-group responsive">
 <ul id="tabs3" class="nav nav-tabs" role="tablist">
  <li class="nav-item">
   <a id="tab-example3" href="#pane-example3" class="nav-link active" data-bs-toggle="tab" role="tab">Example</a>
  </li>
  <li class="nav-item">
   <a id="tab-html3" href="#pane-html3" class="nav-link" data-bs-toggle="tab" role="tab">Source code</a>
  </li>

 </ul>

 <div id="tab-content" class="tab-content">
  <!--Examples-->
  <div id="pane-example3" class="card tab-pane fade show active" role="tabpanel" aria-labelledby="tab-example3">
   <div class="card-header" id="heading-example3">
    <a data-bs-toggle="collapse" href="#collapse-example3" data-parent="#tab-content" aria-expanded="true"
     aria-controls="collapse-example3" data-hash="#pane-example3" title="Example tab header">
     Example
    </a>
   </div>
   <div id="collapse-example3" class="collapse show" role="tabpanel" aria-labelledby="heading-example3">
    <div class="card-body p-b-sm">

     {% include "../../src/_includes/modules/table-striped.html" %}

    </div>
   </div>
  </div>
  <!--HTML-->
  <div id="pane-html3" class="card tab-pane fade" role="tabpanel" aria-labelledby="tab-html3">
   <div class="card-header" id="heading-html3">
    <a class="collapsed" data-bs-toggle="collapse" href="#collapse-html3" data-parent="#tab-content"
     aria-expanded="false" aria-controls="collapse-html3" data-hash="#pane-html3" title="HTML Source code tab header">
     Source code
    </a>
   </div>
   <div id="collapse-html3" class="collapse" role="tabpanel" aria-labelledby="heading-html3">
    <div class="card-body">
     <pre style="max-height: 300px;">
<code>{% include "../../src/_includes/modules/table-striped.html" %}</code>
    </pre>
    </div>
   </div>
  </div>
 </div>
</div>
<!--END TABS-->

<h2 id="Usage">Usage</h2>
<h3>When and how to use it</h3>
<p>A table helps visitors scan and understand information by grouping similar content.</p>
<p>Use the table component to show long lists of sequential or structured content. This makes your content easier to
 read and compare.</p>
<p>Tables also help users find specific information within a large data set. For example, someone looking for their body
 mass index (BMI) might find it easier to spot the intersection of their height and weight than reading a paragraph of
 text.</p>
<p>A table should include a table caption to provide brief descriptive text about the data. Tables must identify any row
 and column headers. Table headers should never be empty.</p>

<h3>How not to use it</h3>
<p>Tables do not inherently place information in a logical order. Determine the best order for your content (sequential,
 chronological, alphabetical), and keep it consistent.</p>
<p>Avoid using tables to display long-form content. Consider using a normal page with headings instead.</p>
<p>Also avoid complex tables with multiple merged cells; these are hard to understand and difficult to make accessible.
 Instead, consider using more than one table.</p>
<p>Do not use a table to demonstrate complex relationships in the data. Use a bar graph, infographic or chart instead.
</p>
<p>Do not use a table to format a web page.</p>
<h2 id="Accessibility">Accessibility</h2>
{% include "../../src/_includes/modules/accessibility.html" %}