---
title: Tabs
landing: Components
layout: components.njk
permalink: "components/tabs.html"
---



<h1 class="mt-lg-0">Tabs</h1>
<p>

</p>
<p>
 Tabs lets you create content using an <code>ul</code> list of links that are linked to an
 unique <code>id</code> of a <code>section</code> elements with each tab having its own
 content. Wrapping all of it is a <code>div</code> with <code>tabs</code> class.
</p>
<h2 class="h4 m-b-sm">Keyboard navigation</h2>
<p>
 The user is able to select and activate tabs using the left and right <strong>arrow
  keys</strong>, while the <strong>Tab</strong> key is preserved for focusing contents
 within and below the active tab panel. Pressing <strong>Shift + Tab</strong> returns the
 user to the selected tab.
</p>

{% include "../../src/_includes/modules/tabs.html" %}

<h2><label for="sample-tabs">Source code:</label></h2>
<textarea id="sample-tabs" class="form-control" rows="10"
 cols="80">{% include "../../src/_includes/modules/tabs.html" %}</textarea>


<hr>







<h2>Bootsrap Tabs</h2>
<p>
<p>
 Bootstrap tabs component uses <code>.nav-tabs</code> class and requires the
 <code>.nav</code> base class. Tabs also uses HTML5 roles for accessibility.
 Add <code>role="tablist"</code> to the ul that contains the tab links,
 and add <code>role="tab"</code> to the anchor tag that is the tab link.
 The tab link also requires an HTML5 <code>data-bs-toggle="tab"</code> attribute
 be applied to instantiate the javascript behavior.
</p>
</p>
{% include "../../src/_includes/modules/tabs-bootstrap.html" %}

<h2><label for="sample-tabs-bottom">Source code:</label></h2>
<textarea id="sample-tabs-bottom" class="form-control" rows="10"
 cols="80">{% include "../../src/_includes/modules/tabs-bootstrap.html" %}</textarea>

<h2>Responsive Tabs</h2>
<p>
 Tabs on small mobile devices can be a really bad experience. By applying the
 <code>.responsive</code> class to the <code>.tab-group</code>
 element, the tab will transform from a tab list to an accordion list on small mobile
 devices. Following example is using bootstrap cards to display tabs as accordion list in
 mobile devices:
</p>
{% include "../../src/_includes/modules/tabs-responsive.html" %}

<h2><label for="responsive-tabs">Source code (responsive):</label></h2>
<textarea id="responsive-tabs" class="form-control" rows="10"
 cols="80">{% include "../../src/_includes/modules/tabs-responsive.html" %}</textarea>