---
title: Tabs
landing: Components
layout: components.njk
permalink: "components/tabs.html"
---



<h1 class="mt-lg-0">Tabs</h1>

<nav class="page-navigation"></nav>


<p>Tabs organize related content into panels and enable visitors to navigate between them. Each panel displays one at a
 time.</p>
<p>Tabs reduce clutter by forming a unit of related content and fitting more information into a smaller space.</p>


<h2>Sample</h2>

<!--TABS-->
<div class="tab-group responsive">
 <ul id="tabs1" class="nav nav-tabs" role="tablist">
  <li class="nav-item" role="presentation">
   <a id="tab-example1" href="#pane-example1" class="nav-link active" data-bs-toggle="tab" role="tab">Example</a>
  </li>
  <li class="nav-item" role="presentation">
   <a id="tab-html1" href="#pane-html1" class="nav-link" data-bs-toggle="tab" role="tab">Source code</a>
  </li>

 </ul>


 <div id="tab-content" class="tab-content">
  <!--Examples-->
  <div id="pane-example1" class="card tab-pane fade show active" role="tabpanel" aria-labelledby="tab-example1">
   <div class="card-header" id="heading-example1">
    <a data-bs-toggle="collapse" href="#collapse-example1" data-parent="#tab-content" aria-expanded="true"
     aria-controls="collapse-example1" data-hash="#pane-example1" title="Example tab header">
     Example
    </a>
   </div>
   <div id="collapse-example1" class="collapse show" role="tabpanel" aria-labelledby="heading-example1">
    <div class="card-body p-b-lg">

     {% include "../../src/_includes/modules/tabs.html" %}

    </div>
   </div>
  </div>



  <!--HTML-->
  <div id="pane-html1" class="card tab-pane fade" role="tabpanel" aria-labelledby="tab-html1">
   <div class="card-header" id="heading-html1">
    <a class="collapsed" data-bs-toggle="collapse" href="#collapse-html1" data-parent="#tab-content"
     aria-expanded="false" aria-controls="collapse-html1" data-hash="#pane-html1" title="HTML Source code tab header">
     Source code
    </a>
   </div>
   <div id="collapse-html1" class="collapse" role="tabpanel" aria-labelledby="heading-html1">
    <div class="card-body">
     <pre style="max-height: 300px;"><code>{% include "../../src/_includes/modules/tabs.html" %}</code>
    </pre>

    </div>
   </div>
  </div>


 </div>
</div>
<!--END TABS-->




<h2>Usage</h2>
<h3>When and how to use it</h3>
<p>Use tabs to group similar information on the same page. This allows visitors to switch between content without
 navigating away from that page or workflow to complete a task.</p>
<p>Use tabs when:</p>
<ul>
 <li>Content can be logically separated into labeled sections</li>
 <li>Visitors do not need to view all the sections at once</li>
</ul>
<p>Test your content without tabs first. It might be better to:</p>
<ul>
 <li>Split the content across multiple pages</li>
 <li>Keep the content on a single page, separated by headings</li>
 <li>Use side navigation to let users navigate quickly to specific
  sections of content</li>
</ul>

<h3>How not to use it</h3>
<p>Do not use the tabs component as a form of page navigation. </p>
<p>Tabs hide content and not everyone will notice them or understand how they work.</p>
<p>Do not use tabs if your visitors need to:</p>
<ul>
 <li>Read through all of the content in order, like a step-by-step process</li>
 <li>Compare information in different tabs</li>
</ul>


<h2>Accessibility</h2>
{% include "../../src/_includes/modules/accessibility.html" %}