---
title: Testimonials
layout: templates.njk
permalink: "sample/testimonials.html"
---




<h1 class="m-t-0">Testimonials</h1>
<p>The Testimonial <code>.thumbnail</code> can be positioned within the testimonial to fit various
 styles. Use classes <code>.thumbnail-left</code>, <code>.thumbnail-right</code> to control the
 horizontal alignment. Use <code>.thumbnail-middle</code>, <code>.thumbnail-bottom</code> to control
 it'ts vertical alignment. This is helpful when it's desirable to align the image with the middle or
 bottom of the testimonial. <code>.thumbnail-top</code> will place the image above the testimonail
 text and center it within the testimonial panel.</p>

<p>Thumbnail images can also have classes applied to change the look and feel. <code>.img-circle</code>
 and <code>.img-rounded</code> can be used to round the corders of the image.</p>


<h2>Image Left Aligned:</h2>
{% include "../../src/_includes/modules/testimonial-default.html" %}

<h2>Source Code:</h2>
<pre><code class="overflow-auto">{% include "../../src/_includes/modules/testimonial-default.html" %}</code></pre>


<hr>


<h2>Thumnail Right Aligned:</h2>
{% include "../../src/_includes/modules/testimonial-danger.html" %}
<p><span class="text-highlight-primary">Note:</span> The source order for <code>.thumbnail</code> and
 <code>.testimonial-body</code> have been reversed. Source order is important when using this
 component with this configuration.
</p>

<h2>Source Code:</h2>
<pre><code class="overflow-auto">{% include "../../src/_includes/modules/testimonial-danger.html" %}</code></pre>


<hr>


<h2>Thumbnail Bottom Aligned:</h2>
{% include "../../src/_includes/modules/testimonial-standout.html" %}

<h2>Source Code:</h2>
<pre><code class="overflow-auto">{% include "../../src/_includes/modules/testimonial-standout.html" %}</code></pre>


<hr>


<h2>Thumbnail Top:</h2>
{% include "../../src/_includes/modules/testimonial-top.html" %}

<h2>Source Code:</h2>
<pre><code class="overflow-auto">{% include "../../src/_includes/modules/testimonial-top.html" %}</code></pre>