---
title: Text Accent
layout: components.njk
permalink: "sample/text-accent.html"
---

<nav aria-label="You are here">
 <ol class="breadcrumb">
  <li><a href="../index.html" title="Home page">Home</a></li>
  <li><a href="/sample/css-units.html" title="CSS Units landing page">CSS Units</a></li>
  <li class="active">Text Accent</li>
 </ol>
</nav>


<div class="row">
 <div class="half">
  <h1>Text Accent Colors</h1>
  <p>Convey meaning through color with a handful of emphasis utility classes. Accent colors were
   designed to applied to components like the number counter or charts. It is best to exercise
   restraint when using these classes on general body copy as color contrast may be
   insufficient for the visually impaired.</p>
  <h2>Examples:</h2>
  {% include "../../src/_includes/modules/text-accent.html" %}
 </div>
 <div class="half">
  <h2>Source Code:</h2>
  <pre class="section-default"><code>{% include "../../src/_includes/modules/text-accent.html" %}</code>
    </pre>
 </div>
</div>