---
title: Timeline
layout: components.njk
permalink: "sample/timeline.html"
---




<h1 class="mt-lg-0">Timeline</h1>
<p>Timeline is a display of a list of events (or milestones) in chronological order. in our case it
 could be a line with dots labelled with dates and events paralleling it.</p>

<h2>Example:</h2>
{% include "../../src/_includes/modules/timeline.html" %}


<button type="button" class="btn btn-default btn-sm" data-bs-toggle="modal" data-bs-target="#progress-block">Show Source
 Code</button>
<!-- Modal -->
<div class="modal fade" id="progress-block" role="dialog">
 <div class="modal-dialog modal-lg">
  <div class="modal-content">
   <div class="modal-header">
    <h3 class="h4 modal-title">HTML Markup</h3>
    <button type="button" class="close btn btn-secondary" data-bs-dismiss="modal"><span class="sr-only">Close
      modal</span><span class="ca-gov-icon-close-mark" aria-hidden="true"></span></button>

   </div>
   <div class="modal-body">
    <h3 class="h4">Source Code:</h3>
    <pre><code class="overflow-auto">{% include "../../src/_includes/modules/timeline.html" %}</code></pre>
   </div>
   <div class="modal-footer">
    <button type="button" class="btn btn-default" data-bs-dismiss="modal">Close</button>
   </div>
  </div>
 </div>
</div><!-- / End Modal -->