/* -----------------------------------------
   TYPE STYLES - /source/less/cagov/type.less
----------------------------------------- */


body {
	
	-webkit-transition: font-size 0.25s ease-in;
	transition:font-size 0.25s ease-in;
}

.featured-narrative {
     border-bottom: 1px solid #d6d6d6;
     border-top: 1px solid #d6d6d6;
     padding: 10px 10px 0 10px;
     margin-bottom: (@line-height-computed / 2);
     margin-left: 20px;
 }
 
 
 
//
// TYPOGRAPHY
// --------------------------------------------------



.ie9 p {
    + h1, + h2, + h3, + h4 {
        padding-top:10px;       // Add top padding back into ie9's headers
    }
}   
     
h1, .h1 {
    //color: #c60; // Orange
    
    span[class^="ca-gov-icon-"]:first-child {
        display:none;                           // hide icon used in v4
    }
}

// OVER RIDE BOOTSTRAP SIZES IN REMS USING SAME VALUES
h1, .h1 { .font-size(2.4); }
h2, .h2 { .font-size(1.94); }
h3, .h3 { .font-size(1.54); }
h4, .h4 { .font-size(1.25); }
h5, .h5 { .font-size(1); }
h6, .h6 { .font-size(.87); }

@media (max-width: @screen-xs-max) {
    // SMALLER HEADING SIZE FOR MOBILE
    h1, .h1 { .font-size(2); }
    h2, .h2 { .font-size(1.625); }
    h3, .h3 { .font-size(1.375); }
    h4, .h4 { .font-size(1.125); }
}


// ICON SIZING
[class*="icon-"] {
    &.big {
        .font-size(1.94);
    }
    
    &.bigger {
        .font-size(2.4);
    }
    
    &.biggest {
        .font-size(3.5);
    }
}