<!-- BEGIN Google Analytics -->
<script
  async="async"
  src="https://www.googletagmanager.com/gtag/js?id=G-69TD0KNT0F&l=dataLayer&cx=c"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag() {
    dataLayer.push(arguments);
  }
  gtag("js", new Date());
  // statewide GA properties. Please keep for CA.GOV statewide reporting.
  gtag("config", "G-69TD0KNT0F");
  gtag("config", "UA-3419582-2");
  // please update state department UA/GA4 code in line below before deployment
  gtag("config", "G-75V2BNQ3DR");
  gtag("config", "UA-20973992-30");
</script>
<!-- END Google Analytics -->
