<!-- Global Footer -->
<footer id="footer" class="global-footer">
    <button class="return-top"><span class="sr-only">Back to top</span></button>
    <div class="container">
        <div class="d-flex">
                <a href="https://ca.gov" class="cagov-logo" target="_blank">
                <img src="/images/Ca-Gov-Logo-Blue.svg" alt="CA.gov logo">
                </a>
            
                <ul class="footer-links">
                    <li><a href="/use.html">Conditions of Use</a></li>
                    <li><a href="/privacy.html">Privacy Policy</a></li>
                    <li><a href="/images/WebAccessibilityCert-beta.template.webstandards.ca.gov.pdf">Accessibility</a></li>
                    <li><a href="/contact.html">Contact Us</a></li>
                    <li><a href="/about.html">About</a></li>
                </ul>
          
                <ul class="socialsharer-container">
                    <li><a href="https://github.com/Office-of-Digital-Innovation/California-State-Web-Template"><span class="ca-gov-icon-github"
                                aria-hidden="true"></span><span class="sr-only">GitHub</span></a></li>
                    <li><a href="https://www.pinterest.com/cagovernment/"><span class="ca-gov-icon-pinterest"
                                aria-hidden="true"></span><span class="sr-only">Pinterest</span></a></li>
                </ul>
          
        </div>

    </div>

    <!-- Copyright Statement -->
    <div class="copyright">
        <div class="container">
            Copyright &copy;
            <span id="thisyear">
        <script>document.getElementById('thisyear').appendChild(document.createTextNode(new Date().getFullYear()))</script>
    </span> State of California
        </div>
    </div>
</footer>

<!-- Extra Decorative Content -->
<div class="decoration-last">&nbsp;</div>