<cal-ds-nav>
  <template>
    <a href="/template-updates.html"> Template updates </a>
    <a href="/get-started.html"> Get started </a>
    <a href="/structure.html">Structure</a>
    <a href="/visual-design.html"> Visual design </a>
    <a href="/components.html">Components</a>
    <a href="/patterns.html">Patterns</a>
  </template>
</cal-ds-nav>
