<nav id="navigation" class="main-navigation megadropdown auto-highlight">
    <ul id="nav_list" class="top-level-nav">
        <li class="nav-item">
            <a class="first-level-link">Getting Started</a>
            <div class="sub-nav">
                <div class="second-level-nav flex">
                    <a href="/getting-started.html" class="second-level-link">
                        <span class="ca-gov-icon-online-services font-size-40" aria-hidden="true"></span>
                        <p class="h3 sub-nav-link">Getting Started
                            <span class="sr-only">page</span>
                        </p>
                        <p class="link-description">How to apply California State Template css, js and ssi</p>
                    </a>
                    <a href="/update.html" class="second-level-link">
                        <span class="ca-gov-icon-file-check font-size-40" aria-hidden="true"></span>
                        <p class="h3 sub-nav-link">Update</p>
                        <p class="link-description">Update your State Template to most current version</p>
                    </a>
                    <a href="/cdn.html" class="second-level-link">
                        <span class="ca-gov-icon-globe font-size-40" aria-hidden="true"></span>
                        <p class="h3 sub-nav-link">CDN</p>
                        <p class="link-description">Load your website faster by using State Template CDN</p>
                    </a>
                </div>
                <div class="second-level-nav flex with-border">

                    <a href="/structure.html" class="second-level-link">
                        <span class="ca-gov-icon-flowchart" aria-hidden="true"></span>Structure
                        <div class="link-description">Find out more about State Template structure</div>
                    </a>
                    <a href="https://github.com/Office-of-Digital-Innovation/California-State-Template"
                        class="second-level-link" target="_blank">
                        <span class="ca-gov-icon-download-cloud" aria-hidden="true"></span>Download
                        <div class="link-description">Download or clone State Template on GitHub
                        </div>
                    </a>
                </div>
            </div>
        </li>

        <li class="nav-item">
            <a href="/sample/" class="first-level-link">Visual Design</a>
            <div class="sub-nav">
                <div class="second-level-nav flex">
                    <a href="/sample/typography.html" class="second-level-link">
                        <img class="image-icon rounded-50x m-b-md" src="/images/type.png" alt="Typography Icon">
                        <p class="h3 sub-nav-link">Typography</p>
                    </a>
                    <a href="/sample/color-schemes.html" class="second-level-link">
                        <img class="image-icon rounded-50x m-b-md" src="/images/color.png" alt="Color Schemes Icon">
                        <p class="h3 sub-nav-link">Color Schemes</p>
                    </a>
                    <a href="/sample/icon-fonts.html" class="second-level-link">
                        <img class="image-icon rounded-50x m-b-md" src="/images/icons.png" alt="Bear Icon">
                        <p class="h3 sub-nav-link">Icons</p>
                    </a>
                </div>

            </div>
        </li>
        <li class="nav-item">
            <a href="/sample/" class="first-level-link">Components</a>
            <div class="sub-nav">
                <div class="second-level-nav flex">
                    <a href="/sample/" class="second-level-link">
                        <img class="image-icon rounded-50x m-b-md" src="/images/sample/images/features-icon.png"
                            alt="Components Icon">
                        <p class="h3 sub-nav-link">Components</p>
                        <p class="link-description">Working modules and web components examples with their documentation
                        </p>
                    </a>
                    <a href="/sample/navsamples.html" class="second-level-link">
                        <img class="image-icon rounded-50x m-b-md" src="/images/sample/images/03.png" alt="Navigation Icon">
                        <p class="h3 sub-nav-link">Navigation</p>
                        <p class="link-description">Navigation examples and variations </p>
                    </a>
                    <a href="/sample/css-units.html" class="second-level-link">
                        <img class="image-icon rounded-50x m-b-md" src="/images/sample/images/css-icon.png" alt="CSS Icon">
                        <p class="h3 sub-nav-link">CSS Units</p>
                        <p class="link-description">Elements that use State Web Template's CSS utility classes</p>
                    </a>
                </div>

            </div>
        </li>

        <li class="nav-item">
            <a href="/sample/page-templates.html" class="first-level-link">Templates</a>
            <div class="sub-nav">
                <div class="second-level-nav flex">
                    <a href="/sample/content-patterns.html" class="second-level-link">
                        <span class="ca-gov-icon-apps font-size-40" aria-hidden="true"></span>
                        <p class="h3 sub-nav-link">Content Patterns
                        </p>
                        <p class="link-description">Content modules examples for specific user-focused tasks</p>
                    </a>
                    <a href="/sample/page-templates.html" class="second-level-link">
                        <span class="ca-gov-icon-responsive-alt font-size-40" aria-hidden="true"></span>
                        <p class="h3 sub-nav-link">Page Templates</p>
                        <p class="link-description">Page template are pre-made content-based sample pages</p>
                    </a>
                    <a href="/sample/layouts.html" class="second-level-link">
                        <span class="ca-gov-icon-desktop-checklist font-size-40" aria-hidden="true"></span>
                        <p class="h3 sub-nav-link">Page Layouts</p>
                        <p class="link-description">Using State Web Template's eleventy page layouts options</p>
                    </a>
                </div>
            </div>
        </li>
        <li class="nav-item">
            <a href="/sample/" class="first-level-link">About</a>
            <div class="sub-nav">
                <div class="second-level-nav flex with-border">
                    <a href="/about.html" class="second-level-link">
                        <div class="media-left">
                            <img class="media-object width-80 height-80" src="/images/sample/images/02.png" alt="About icon">
                        </div>
                        <div class="media-body">
                            <div class="title text-left">About State Template</div>
                            <div class="teaser link-description text-left">California State Template overview</div>
                        </div>
                    </a>
                    <a href="https://webstandards.ca.gov/" class="second-level-link" target="_blank">
                        <div class="media-left">
                            <img class="media-object width-80 height-80" src="/images/sample/images/01.png"
                                alt="Web Standards icon">
                        </div>
                        <div class="media-body">
                            <div class="title text-left">Web Standards</div>
                            <div class="teaser link-description text-left">Web Standards and Design System for
                                California Government</div>
                        </div>
                    </a>

                </div>

            </div>
        </li>
        
    </ul>

</nav>