<div class="utility-header">
    <div class="container">
        <div class="flex-row">
            <div class="social-media-links">
                <div class="header-cagov-logo"><a href="https://ca.gov"><span class="sr-only">CA.gov</span><img
                            src="/images/Ca-Gov-Logo-Blue.svg" class="pos-rel" alt="" aria-hidden="true" /></a></div>
               <p class="official-tag"><span class="desktop-only">Official website of the</span> State of California</p>
            </div>
            <div class="settings-links">
                <button class="btn btn-sm" data-bs-toggle="collapse" data-bs-target="#siteSettings"
                    aria-expanded="false" aria-controls="siteSettings"><span class="ca-gov-icon-gear"
                        aria-hidden="true"></span>Settings</button>
            </div>
        </div>
    </div>
</div>