{%- include "ca-gov-logo.svg" -%}
<div class="utility-header">
  <div class="container">
    <div class="flex-row">
      <div class="social-media-links">
        <div class="header-cagov-logo">
          <a href="https://ca.gov">
            <span class="sr-only">CA.gov</span>
            <span class="ca-gov-logo-svg"></span>
          </a>
        </div>
        <p class="official-tag">
          <span class="desktop-only">Official website of the</span>
          State of California
        </p>
      </div>
      <div class="settings-links"></div>
    </div>
  </div>
</div>
