# 
# DevSecOps team will review modifications to .github directory

/.github/workflows/   @SamuelAwosanya @SaranyaRSamy
/.github/codeql/      @SamuelAwosanya @SaranyaRSamy
CODEOWNERS            @SamuelAwosanya @SaranyaRSamy    
