<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <handlers>
            <remove name="SSINC-html" />
            <add name="ASPClassic-html" path="*.html" verb="GET, POST" modules="IsapiModule" scriptProcessor="%windir%\system32\inetsrv\asp.dll" resourceType="File" preCondition="bitness64" />
            <add name="SSINC-html" 
                 path="*.html" 
                 verb="*" 
                 modules="ServerSideIncludeModule" 
                 resourceType="File" 
                 requireAccess="Script" />
        </handlers>
      <staticContent>
      	<remove fileExtension=".woff" />
        <!-- in case the mime type already exist in IIS -->
        <mimeMap fileExtension=".woff" mimeType="application/x-font-woff" />
        <clientCache cacheControlCustom="public" cacheControlMode="UseMaxAge" cacheControlMaxAge="365.00:00:00" />
        <mimeMap fileExtension=".woff" mimeType="application/x-font-woff" />
        <mimeMap fileExtension=".woff2" mimeType="application/font-woff2" />
      </staticContent>
      <!-- Below block is for custom redirect for 404 error to 404.html -->
      <httpErrors>
        <remove statusCode="404" />
        <error statusCode="404" path="404.html" />
      </httpErrors>
    </system.webServer>
</configuration>