<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <handlers>
            <remove name="SSINC-html" />
            <add name="ASPClassic-html" path="*.html" verb="GET, POST" modules="IsapiModule" scriptProcessor="%windir%\system32\inetsrv\asp.dll" resourceType="File" preCondition="bitness64" />
            <add name="SSINC-html" 
                 path="*.html" 
                 verb="*" 
                 modules="ServerSideIncludeModule" 
                 resourceType="File" 
                 requireAccess="Script" />
        </handlers>
      <staticContent>
        <remove fileExtension=".woff" />
        <!-- in case the mime type already exist in IIS -->
        <mimeMap fileExtension=".woff" mimeType="application/x-font-woff" />
      </staticContent>
    </system.webServer>
</configuration>
