// Core variables and mixins

@import "cagov/template-comments";

//
// BOOTSTRAP CORE
// --------------------------------------------------

// Core variables and mixins
@import "bootstrap/functions";
@import "bootstrap/variables";
@import "bootstrap/mixins";
@import "bootstrap/root";
@import "bootstrap/reboot";
@import "bootstrap/type";
@import "bootstrap/images";
@import "bootstrap/code";
@import "bootstrap/grid";
@import "bootstrap/tables";
@import "bootstrap/forms";
@import "bootstrap/buttons";
@import "bootstrap/transitions";
@import "bootstrap/dropdown";
@import "bootstrap/button-group";
@import "bootstrap/input-group";
@import "bootstrap/custom-forms";
@import "bootstrap/nav";
@import "bootstrap/navbar";
@import "bootstrap/card";
@import "bootstrap/breadcrumb";
@import "bootstrap/pagination";
@import "bootstrap/badge";
@import "bootstrap/jumbotron";
@import "bootstrap/alert";
@import "bootstrap/progress";
@import "bootstrap/media";
@import "bootstrap/list-group";
@import "bootstrap/close";
@import "bootstrap/modal";
@import "bootstrap/tooltip";
@import "bootstrap/popover";
// @import "bootstrap/carousel"; // State template is using Third Party Owl Carousel plugin
@import "bootstrap/utilities";
@import "bootstrap/print";


// State Template Variables
@import "variables";
//


//
// BOOTSTRAP ACCESSIBILITY PLUGIN
// --------------------------------------------------


// Import Variables
@import "bootstrap-accessibility-plugin/variables.scss";

// Import Mixins
@import "bootstrap-accessibility-plugin/mixins.scss";

// Import Partials Styles
@import "bootstrap-accessibility-plugin/buttons.scss";
@import "bootstrap-accessibility-plugin/divs.scss";
@import "bootstrap-accessibility-plugin/links.scss";
@import "bootstrap-accessibility-plugin/close.scss";
@import "bootstrap-accessibility-plugin/navigation.scss";
@import "bootstrap-accessibility-plugin/carousel.scss";
@import "bootstrap-accessibility-plugin/alerts.scss";



//
//  CAGOV CORE
// --------------------------------------------------
// Pull in specific colorscheme variables

//@import "colorscheme/colorscheme-eureka.scss";
//@import "colorscheme/colorscheme-mono.scss";
@import "colorscheme/colorscheme-oceanside.scss";
//@import "colorscheme/colorscheme-orangecounty.scss";
//@import "colorscheme/colorscheme-pasorobles.scss";
//@import "colorscheme/colorscheme-sacramento.scss";
//@import "colorscheme/colorscheme-santabarbara.scss";
//@import "colorscheme/colorscheme-sierra.scss";
//@import "colorscheme/colorscheme-trinity.scss"; 

@import "cagov/reset.scss";
@import "cagov/mixins.scss";
@import "cagov/icon-font.scss";
@import "cagov/type.scss";
@import "cagov/socialsharer.scss";
@import "cagov/layout.scss";
@import "cagov/grid.scss";
@import "cagov/global-header.scss";
@import "cagov/header-banner.scss";
@import "cagov/fixed-header.scss";
@import "cagov/explore-banner.scss";
@import "cagov/global-footer.scss";
@import "cagov/search.scss";
@import "cagov/search-results.scss";
@import "cagov/search-google-cse.scss";
@import "cagov/navigation.scss";
@import "cagov/nav-megamenu.scss";
@import "cagov/nav-media.scss";
@import "cagov/nav-mobile-controls.scss";
@import "cagov/utility-header.scss";
@import "cagov/sections.scss";
@import "cagov/ask-group.scss";
@import "cagov/spacing.scss";
@import "cagov/return-top.scss";

// libs
@import "libs/owl.carousel.scss"; 
@import "libs/fancybox.scss"; 
@import "libs/animate.scss";

// content modules
@import "cagov/alert-banner.scss";
@import "cagov/tabs.scss";
@import "cagov/accordion.scss";
@import "cagov/breadcrumbs.scss";
@import "cagov/keywords.scss";
@import "cagov/horizontal-rules.scss";
@import "cagov/panel.scss";
@import "cagov/profiles.scss";
@import "cagov/media.scss";
@import "cagov/youtube.scss";
@import "cagov/news.scss";
@import "cagov/events.scss";
@import "cagov/exams.scss";
@import "cagov/courses.scss";
@import "cagov/forms.scss";
@import "cagov/publications.scss";
@import "cagov/location.scss";
@import "cagov/gallery.scss";
@import "cagov/cards.scss";
@import "cagov/hero-info.scss"; 
@import "cagov/icon-blocks.scss"; 
@import "cagov/jobs.scss";
@import "cagov/tables.scss";
@import "cagov/lists.scss";
@import "cagov/testimonials.scss";
@import "cagov/blockquote.scss";
@import "cagov/button.scss";
@import "cagov/settings-bar.scss";
@import "cagov/location-settings.scss";
@import "cagov/service-profile.scss";
@import "cagov/service-group.scss";
@import "cagov/number-counter.scss";
@import "cagov/carousel.scss";
@import "cagov/charts.scss";
@import "cagov/filter-group.scss";
@import "cagov/pills.scss";
@import "cagov/panes.scss";
@import "cagov/progress-bar.scss";
@import "cagov/progress-block.scss";
@import "cagov/gradient-backgrounds.scss";
@import "cagov/globals.scss";


//
// ORGANIZATION CUSTOM STYLES HERE
// --------------------------------------------------
// @import "orgname/custom.scss";
