/* -----------------------------------------
   ACCORDIONS SIDE NAV
   /source/scss/cagov/accordion-side-nav.scss
----------------------------------------- */

// BOOTSTRAP VERSION

.side-nav {
 .accordion {
  position: relative;
  .list-group-item {
   border-radius: 0;
   &:focus {
    @include outline(2px);
    outline-offset: -2px;
   }
  }

  .accordion__heading {
   padding: 0 !important;
   .accordion__trigger {
    padding-top: 0.75rem !important;
    padding-bottom: 0.75rem !important;
    padding-left: 1.25rem !important;
    padding-right: 1.25rem !important;
    color: #212529;
    text-decoration: none;
    font-weight: 500;
    &:hover,
    &:focus {
     background-color: #f8f9fa;
    }
    &::before {
     display: none;
    }
    &:after {
     position: absolute;
     font-family: "CaGov" !important;
     content: "\35";
     right: 15px;
     transition: transform 0.2s ease-in-out;
    }
    &[aria-expanded="true"]:after {
     transform: rotate(90deg);
    }
   }
   // active
   &.active {
    .accordion__trigger {
     color: $white !important;
    }
   }
  }
 }
}

// DS VERSION
cagov-accordion.sidenav {
 details {
  border: none;
  min-height: 2rem;
  margin-top: 1.125rem;
  //SUMMARY
  summary {
   border: none;
   background: transparent;
   padding-left: 1rem;
   padding: 0 2rem 0 1rem;
   font-size: calc($font-size-regular + $ratio);
   font-weight: 400;
   //color: #046b99;
   text-decoration: underline;
   &:before {
    border: none !important;
    width: 3px;
    background-color: transparent !important;
   }
   &::after {
    display: none;
   }
   // hover, focus
   &:hover,
   &:focus {
    text-decoration: none;
    &:before {
     border: none;
     background-color: transparent;
    }
   }

   &:focus {
    @include outline(2px);
    outline-offset: -2px;
   }

   // ACTIVE STATE
   &.active {
    font-weight: $font-weight-7;
    color: $black !important;
    text-decoration: none;
    &:before {
     border: none;
     width: 3px;
     border-radius: 0;
    }
    &:hover,
    &:focus {
     color: $gray-700 !important;
     text-decoration: underline;
    }
    &:focus {
     @include outline(2px);
     outline-offset: -2px;
    }
   }

   // OPEN STATE
   &[open] {
    summary {
     color: $black;
     font-weight: 700;

     &::after {
      display: none;
     }
    }
   }

   .cagov-open-indicator {
    left: unset !important;
    right: 1rem;
    top: 0.7rem !important;
   }
  }

  .cagov-open-indicator {
   left: unset;
   right: 1rem;
   top: 0.7rem !important;
  }

  .accordion-body {
   border: none;
   outline: none;

   .side-subnav {
    margin-bottom: 0;
    li {
     &:first-child {
      margin-top: 0;
     }
     &:last-child {
      margin-bottom: 0;
     }
    }
   }
  }
 }
}

.side-subnav {
 padding-left: 0;
 li {
  margin: 1rem 0;
  padding-left: 1rem;
  list-style: none;
  font-size: 1.125rem;
  a {
   position: relative;
   display: block;
   &:hover,
   &:focus {
    text-decoration: none;
    color: $black;
   }
   &:focus {
    @include outline(2px);
   }
   &.active {
    font-weight: 700;
    color: $black;
    text-decoration: none;
    &:before {
     content: "";
     border-left: 3px solid;
     position: absolute;
     top: 0;
     left: -1rem;
     width: 3px;
     height: 100%;
     border-radius: 0;
    }
    &:hover,
    &:focus {
     color: $gray-700;
     text-decoration: underline;
    }
   }
  }
 }
}
