/* -----------------------------------------
   BREADCRUMBS -  /source/scss/cagov/breadcrumbs.scss
----------------------------------------- */

.breadcrumb {
 padding: 0.5em 1rem;
 padding-left: 0;
 margin-bottom: 2rem;
 // @include font-size(1);
 font-size: $font-size-small;
 @include media-breakpoint-up(sm) {
  font-size: calc(#{$font-size-small} + #{$ratio});
 }

 li {
  position: relative;
  padding-left: .75rem;
  padding-right: .75rem;
  &:first-child {
   padding-left: 0;
  }
  &:after {
   content: "";
   color: $gray-300;
   border: none;
   margin: 0 calc($grid-gutter-width / 2);
   font-size: 1.125rem;
   font-weight: 200;
   position: absolute;
   border-left: 1px solid $gray-900;
   height: 70%;
   top: 5px;
   right:-12px;
   transform: rotate(15deg);
  }

  &:last-child {
   &:after {
    content: "";
    border-left: none; // Removes the border from the first item in the breadcrumb
    margin: 0 0;
   }
  }
 }
}

.breadcrumb > li + li:before {
 padding: 0; // Overrides Bootstraps injected content
}
