/* -----------------------------------------
   BREADCRUMBS -  /source/scss/cagov/breadcrumbs.scss
----------------------------------------- */

.breadcrumb {
 padding-left: 0;
 background-color: $gray-50;
 padding: 0.5em 1rem;
 margin-bottom: 2rem;
 // @include font-size(1);
 font-size: $font-size-small;
 @include media-breakpoint-up(sm) {
  font-size: calc(#{$font-size-small} + #{$ratio});
 }

 li {
  &:before {
   content: "/";
   color: $gray-300;
   border: none;
   margin: 0 calc($grid-gutter-width / 2);
   font-size: 1.125rem;
   font-weight: 200;
   position: relative;
   top: 1px;
  }

  &:first-child {
   &:before {
    content: "";
    border-left: none; // Removes the border from the first item in the breadcrumb
    margin: 0 0;
   }
  }
 }
}

.breadcrumb > li + li:before {
 padding: 0; // Overrides Bootstraps injected content
}
