/* -----------------------------------------
   FEATURE CARD
   /source/scss/cagov/feature-card.scss
----------------------------------------- */

.feature-img {
 display: block;
 min-height: 320px;
 width: 100%;
 background-repeat: no-repeat !important;
 background-size: cover !important;
 background-position: 50% 50% !important;
}
