/* -----------------------------------------
   SLIDESHOW BANNER
   /source/scss/cagov/header-banner.scss
----------------------------------------- */

.header-slideshow-banner {
    display: none;
    height: 500px; // Beta 5.0 addition
    position: relative;
}

@media (min-width: $screen-sm-min) {
    .header-slideshow-banner.enabled {
        display: block;
    }
}

.header-single-banner,
.header-large-banner,
.header-primary-banner {
    width: 100%;
    height: 80vh;
    overflow: hidden;
    background-position: center !important;
    background-size: cover !important;
    display: block;
    min-width: 100%;
    min-height: 100%;
    position: relative;
    @media (max-width: $screen-xs-max) {
        height: unset;
        padding-top: 70px;
        padding-bottom: 80px;
    }
}

.header-slideshow-banner {
    position: absolute;
    top: 0;
    height: 100%;
    width: 100%;
    overflow: hidden;
}

.carousel-banner,
.carousel-banner .owl-stage-outer,
.carousel-banner .owl-stage,
.carousel-banner .owl-item,
.carousel-banner .slide {
    height: 100%;
}

// Beta 5.0 addition
@media (max-width: $screen-xs-max) {
    .ask-group + .header-primary-banner,
    .ask-group + .header-large-banner,
    .ask-group + .header-slideshow-banner {
        display: none;
    }

    .primary .header-primary-banner,
    .primary .header-large-banner,
    .primary .header-slideshow-banner {
        display: none;
    }
}

.header-image {
    width: 100%;
    height: auto;
    overflow: hidden;
    background-image: url("/images/main-banner9.jpg");
    background-position: center;
    background-size: cover;
    display: block;
    min-width: 100%;
    min-height: 100%;
    position: relative;
    color: $white;
    padding: 1rem 0 1.5rem 0;
}
