/* -----------------------------------------
   HERO INFO - /source/scss/cagov/hero-info.scss
----------------------------------------- */

@media (min-width: 768px) {
  .p-y-200--md {
    padding-top: 14.28571rem !important;
    padding-bottom: 14.28571rem !important;
  }
}

.display {
  font-weight: 300;
}
.modal-title {
  margin: 0;
}
