/* -----------------------------------------
   HORIZONTAL RULES - /source/scss/cagov/horizontal-rules.scss
----------------------------------------- */

hr.hr-understated {
    border:none;
    border-bottom-style: dotted;
    border-bottom-width:2px;
    border-bottom-color:$hr-border;
}
// beta 5.0 addtition
hr.hr-light {
    border:none;
    border-bottom-style: solid;
    border-bottom-width:1px;
    border-bottom-color:#eee;
}