/* -----------------------------------------
   MOBILE CONTROLS
   /source/scss/cagov/nav-mobile-controls.scss
----------------------------------------- */

//
// MOBILE
// --------------------------------------------------
// Hamburger menu to X transition
header {
  &::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.48);
    top: 0;
    left: 0;
    opacity: 0;
    visibility: hidden;
    -webkit-transition: opacity 0.3s ease-in-out, visibility 0.3s ease-in-out;
    transition: opacity 0.3s ease-in-out, visibility 0.3s ease-in-out;
  }
}
header.nav-overlay {
  &::after {
    opacity: 1;
    visibility: visible;
  }
}

.nav-drawer {
  display: flex;
  padding: 0.5rem 1rem 1rem 1rem;
  .toggle-menu {
    margin-top: 0;
    width: 2.75rem;
    height: 2.75rem;
    span {
      background-color: $white;
      width: 30px;
      &:nth-child(2),
      &:nth-child(3) {
        top: 20px;
      }
    }
    background-color: transparent;
    border: none;

    &[aria-expanded="false"] {
      span {
        &:nth-child(1) {
          top: 15px;
        }
        &:nth-child(2),
        &:nth-child(3) {
          top: 25px;
        }
        &:nth-child(4) {
          top: 35px;
        }
      }
    }
  }
  @media (min-width: $screen-md-min) {
    display: none;
  }
}
.navigation-search .settings-links {
  padding: 1rem;
  a {
    position: relative;
    color: $white;
    margin-left: 1rem;
    margin-right: 1rem;
    font-size: 1rem;
  }
  a:before {
    content: "";
    color: $white;
    border: none;
    margin: 0 0.75rem;
    font-size: 1.125rem;
    font-weight: 200;
    position: absolute;
    border-left: 1px solid $gray-200;
    height: 70%;
    top: 5px;
    left: -1.95rem;
  }
  a:first-child:before {
    display: none;
  }
}

.toggle-menu {
  padding: 16px 8px;
  display: flex;
  flex-direction: column;
  align-items: center;
  cursor: pointer;
  color: $white;
  position: relative;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: 0.5s ease-in-out;
  -moz-transition: 0.5s ease-in-out;
  -o-transition: 0.5s ease-in-out;
  transition: 0.5s ease-in-out;
  cursor: pointer;
  color: $white;
  min-width: 2.5rem;
  min-height: 2.5rem;
  margin-top: 1.3rem;
  margin-left: auto;

  // Overvriting sr-only class to avoid strucural changes in mobile controls

  span {
    height: 2px;
    width: 20px;
    display: block;
    position: absolute;
    border-radius: 5px;
    opacity: 1;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: 0.25s ease-in-out;
    -moz-transition: 0.25s ease-in-out;
    -o-transition: 0.25s ease-in-out;
    transition: 0.25s ease-in-out;

    &:nth-child(1) {
      top: 2px;
    }

    &:nth-child(2),
    &:nth-child(3) {
      top: 9px;
    }

    &:nth-child(4) {
      top: 16px;
    }
  }

  &[aria-expanded="true"] {
    span:nth-child(1) {
      top: 12px;
      width: 0%;
    }

    span:nth-child(2) {
      -webkit-transform: rotate(45deg);
      -moz-transform: rotate(45deg);
      -o-transform: rotate(45deg);
      transform: rotate(45deg);
    }

    span:nth-child(3) {
      -webkit-transform: rotate(-45deg);
      -moz-transform: rotate(-45deg);
      -o-transform: rotate(-45deg);
      transform: rotate(-45deg);
    }

    span:nth-child(4) {
      top: 12px;
      width: 0%;
    }
  }
}
// CONTAINER
.mobile-controls {
  text-align: right; // move most menu controls to right
  position: relative;
  color: $gray-600;
  background: $white;
  top: 0;
  padding-right: 0;
  height: 0;
  @include container;

  .ca-gov-icon-menu-toggle-open,
  .ca-gov-icon-menu-toggle-closed {
    // Dynamic elements included in toggle-sub-nav
    padding-left: 16px;
    padding-right: 16px;
    line-height: 2.75rem;
  }

  .toggle-search {
    padding: 0;
    border: none;
    background: none;
    cursor: pointer;
    position: relative;
    margin-left: auto;
    margin-right: 1rem;
    text-align: center;
    z-index: 99;
    display: flex;
    flex-direction: column;

    span.ca-gov-icon-search {
      position: relative;
      font-size: 1.4rem;
      display: block;
      margin: 0 auto;
    }

    &:focus {
      @include outline(2px);
    }
  }

  @media (max-width: $screen-xs-max) {
    max-width: 100%;
  }
}

// Mobile controls inside main navigation
.main-navigation .mobile-controls {
  text-align: left;
  background-color: $body-bg;
}

// INDIVIDUAL CONTROLS
.mobile-control {
  &.toggle-sub-nav {
    // Dynamic element $toggleSubNav placed before each .sub-nav element
    position: absolute;
    top: 0;
    right: 2px;
    @include font-size(1.5);
    width: 80px;
    text-align: center;
    cursor: pointer;
    padding-left: 7px;
    border: none;
    height: 100%;

    &:active {
      .rotate {
        // preventing icon shifting on active state in IE and FF
        position: absolute;
        top: 20px;
        left: 30px;
      }
    }
  }
}

.main-nav-icons {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  z-index: 1;
  position: relative;
  top: -3.75rem;
  width: 20%;
  margin-left: auto;
}

/* mobile controls hack for IE because IE never dies */
@media all and (-ms-high-contrast: none) {
  .mobile-controls .toggle-search {
    position: absolute;
    right: 70px;
    top: 10px;
  }
  /* IE10 */
  *::-ms-backdrop,
  .mobile-controls .toggle-search {
    position: absolute;
    right: 70px;
    top: 10px;
  }
  /* IE11 */
}
