/* -----------------------------------------
   PAGE NAVIGATION - /source/scss/cagov/page-navigation.scss
----------------------------------------- */

// Page navigation (On this page)
.page-navigation {
  margin-bottom: 1.5rem;
  padding-bottom: 0.75rem;
  border-bottom: 1px solid $gray-200;
  .label {
    color: $gray-700;
    font-weight: $font-weight-7;
    font-size: $font-size-regular;
    line-height: $font-lineheight-5;
    padding: 0;
    margin: 0;
    padding-bottom: 0;
  }
  ul {
    margin: 0;
    text-indent: 0;
    padding: 0;
    &.columns-2 {
      columns: 2;
    }
    &.columns-3 {
      columns: 3;
    }
    li {
      list-style: none;
      padding: 0;
      margin: 0;
      margin-bottom: 0.3rem;
      font-size: calc(#{$font-size-small} + #{$ratio});

      a {
        display: inline-block;
        position: relative;
        padding-left: 1.5rem;
        &::before {
          content: "\ea33";
          font-family: "CaGov";
          position: absolute;
          font-size: 1.5rem;
          left: 0;
          top: -0.4rem;
        }
      }
    }
    @media (max-width: $screen-xxs-max) {
      &.columns-2,
      &.columns-3 {
        columns: 1;
      }
    }
  }
}
