/* -----------------------------------------
   PAGE NAVIGATION - /source/scss/cagov/page-navigation.scss
----------------------------------------- */

// List navigation
.list-navigation {
 li {
  list-style: none;
  margin: 0;
  font-size: calc(1rem + #{$ratio});
  padding-left: 0;

  a {
   position: relative;
   display: block;
   text-decoration: none !important;
   color: $gray-800;
   padding-bottom: 0.7rem;
   padding-top: 0.7rem;
   padding-left: 1rem;
   border-bottom: 1px solid $gray-100;
&.landing {
 font-weight: $font-weight-7;
 &.active {
  background-color: $gray-75;
  &:hover, &:focus {
   background-color: $gray-100;
  }
 }
 &.back {
  padding-left: 1.5rem;
  &::after {
   content: "\e668";
   position: absolute;
   font-family: "CaGov";
   left:0;
   top: .65rem;
  }
 }
}
   &.active {
    color: $gray-800;
    text-decoration: none;
    background-color: $gray-75;
    &:hover,
    &:focus {
     color: $black;
     text-decoration: none;
     background-color: $gray-100;
    }
    &:before {
     content: "";
     border-left: 3px solid;
     position: absolute;
     top: 0;
     left: 0;
     width: 3px;
     height: 100%;
     border-radius: 0;
    }
   }
  }
  a:hover,
  a:focus {
   text-decoration: none;
   background-color: $gray-50;
  }
  a:focus {
   @include outline(2px);
  }

// second level
  ul {
   padding-left: 0;
   li {
    margin: 0;
    a {
     padding-left: 2.5rem;
     &.active {
      color: $gray-800;
      text-decoration: none;
      &:hover,
      &:focus {
       color: $black;
       text-decoration: none;
      }
     }
    }
   }
  }
 }
}

// Page navigation (On this page)
.page-navigation {
 margin-bottom: 1.5rem;
 padding-bottom: .75rem;
 border-bottom: 1px solid $gray-200;
 .label {
  color: $gray-700;
  font-weight: $font-weight-7;
  font-size: $font-size-regular;
  line-height: $font-lineheight-5;
  padding: 0;
  margin: 0;
  padding-bottom: 0;
 }
 ul {
  margin: 0;
  text-indent: 0;
  padding: 0;
  &.columns-2 {
   columns: 2;
  }
  &.columns-3 {
   columns: 3;
  }
  li {
   list-style: none;
   padding: 0;
   margin: 0;
   margin-bottom: .3rem;
   font-size: calc(#{$font-size-small} + #{$ratio});


   a {
    display: inline-block;
    position: relative;
    padding-left: 1.5rem;
    &::before {
     content: "\ea33";
      font-family: "CaGov";
      position: absolute;
      font-size: 1.5rem;
      left: 0;
      top: -0.4rem;
    }
   }
  }
 }
}

a.sidenav {
 font-size: calc(1rem + $ratio);
 margin: 0;
 display: block;
 padding-top: 0.7rem;
 padding-bottom: 0.7rem;
 padding-left: 1rem;
 position: relative;
 text-decoration: none !important;
 color: $gray-700;
 border-bottom: 1px solid $gray-100;
 background-color: $white;
 &:hover,
 &:focus {
  text-decoration: none;
  background-color: $gray-50;
  color: $black;
 }
 &:focus {
  outline-offset: -2px;
 }
 &.active {
  color: $gray-700;
  text-decoration: none;
  background-color: $gray-75;

  &:hover,
  &:focus {
   text-decoration: none !important;
   color: $black;
   background-color: $gray-100;
  }
  &:before {
   content: "";
   border-left: 3px solid;
   position: absolute;
   top: 0;
   left: 0;
   width: 3px;
   height: 100%;
   border-radius: 0;
  }
 }
&.landing {
 font-weight: $font-weight-7;
}
&.subnav {
 padding-left: 2.5rem;
}
 &.back {
  padding-left: 1.5rem;
  &::after {
   content: "\e668";
   position: absolute;
   font-family: "CaGov";
   left:0;
   top: .65rem;
  }
 }
}
