/* -----------------------------------------
   PROGRESS BAR - /source/scss/cagov/progress-bar.scss
----------------------------------------- */
.progress-pointer {
  position: absolute;
  bottom: 100%;
  right: 0;
  min-width: 46px;
  white-space: nowrap;
  padding-left: 5px;
  padding-right: 5px;
  -webkit-transform: translateX(50%);
  -ms-transform: translateX(50%);
  transform: translateX(50%);
  margin-bottom: 5px;
  background-color: transparent;
  z-index: 1;

  &::after {
    content: "";
    position: absolute;
    left: 50%;
    bottom: -5px;
    margin-left: -5px;
    border-style: solid;
    border-color: $color-p2 transparent;
    border-width: 5px 5px 0;
  }
}
