/* -----------------------------------------
   GOOGLE CSE RESULTS
   /source/scss/cagov/search-google-cse.scss
----------------------------------------- */

.google_results {
  @include list-unstyled();
}

.google_result {
  margin-bottom: calc($line-height-computed / 2);
}

.google_url {
  @include text-muted();
}

.google_result_thumbnail {
  height: 68px;
  width: 89px;
  float: left;
  margin-right: calc($grid-gutter-width / 2);
}

.gs-result {
  a.gs-title,
  a.gs-title b {
    color: $color-p2 !important;
  }
  .gsc-url-top {
    .gs-visibleUrl-breadcrumb span {
      color: var(--bs-gray-600, #6c757d) !important;
    }
  }
  .gs-snippet {
    color: $text-color !important;
  }
}

.gsc-cursor-box {
  .gsc-cursor {
    .gsc-cursor-page {
      color: $color-p3 !important;
    }
    .gsc-cursor-current-page {
      color: $color-p3 !important;
    }
  }
}

.gcsc-find-more-on-google {
  color: $color-p2 !important;
}
