/* -----------------------------------------
   SITE SEARCH RESULTS - /source/scss/cagov/search-results.scss
----------------------------------------- */


.search-results-container {
    position: relative;
    z-index: 5; // keep it above other header elements
    top: 0;
    visibility: collapse;
	-webkit-transition: opacity 0.5s 0.7s;
    transition: opacity 0.5s 0.7s;
    opacity: 0;

    @media (min-width: $screen-sm-min) {
        /* position results container below search box */
		z-index: 6;  //  _cs-shame.scss addition
        position: absolute; 
        top: 155px;     // value calulated via js
        width: 100%;
	
    }

    &.visible {
        visibility: visible;
        opacity: 1;
    }

    // Allow proper positioning of the close button
    .container {
        position: relative;

        .close {
            font-size: 59px;
            position: absolute;
            top: 0;
            right: 5px;
            line-height: 16px;
			font-size: 59px;		
		    display: none;		// beta 5.0 addition	

			
        }
    }

    .search-results {
        position: absolute;
        right: 0;
        left: 0;
        overflow: hidden;
        margin-right: auto;
        margin-left: auto;
        background: #fff;

        .search-results-header {
			padding-top: 80px;	// beta 5.0 addition
        }

        .search-tabs .btn {
            margin: 0 10px;
        }

        .tab-content {
          .button-list .btn {
            margin: 0 5px;
          }
        }


    }
    .results-list {
      margin-top:    ($spacer-y * 1.5) !important; margin-bottom: ($spacer-y * 1.5) !important;
    }
}

// IE selector 	// beta 5.0 addition	
 .compact + .search-results-container .search-results .search-results-header  {	 
    padding-top: 50px;		
}	
