/* -----------------------------------------
   SITE SETTINGS
   /source/scss/cagov/settings-bar.scss
----------------------------------------- */

// Corrects close button placement & style

.site-settings {
 .settings-bar-buttons
  {
  display: flex;
  flex-wrap: wrap;
 }
 .btn-group {
  margin-right: 0.75rem;
  margin-top: 0.35rem;
  margin-bottom: 0.35rem;
 }
 button.close {
  position: relative;
  right: -15px;
  right: -10px;
  color: $black;
  text-shadow: none;
  opacity: 1;
  font-size: 2rem;
  border: none;
  background: none;
  float: right;
  @media (min-width: $screen-md-min) {
   margin-top: -5px;
  }
  &:hover,
  &:focus {
   color: $gray-700 !important;
  }
 }
}
