/* -----------------------------------------
   SITE SETTINGS
   /source/scss/cagov/settings-bar.scss
----------------------------------------- */

// Corrects close button placement & style

.site-settings {
 button.close {
  position: relative;
  right: -15px;
  right: -10px;
  color: $black;
  text-shadow: none;
  opacity: 1;
  font-size: 2.5em;
  border: none;
  background: none;
  float: right;
  @media (min-width: $screen-md-min) {
   margin-top: -15px;
  }
  &:hover,
  &:focus {
   color: $gray-700 !important;
  }
 }
}
