/* -----------------------------------------
   SIDE NAVIGATION - /source/scss/cagov/side-navigation.scss
----------------------------------------- */

.side-navigation ul,
.list-navigation {
  margin-left: 0;
  padding-left: 0;
  li {
    list-style: none;
    margin: 0;
    font-size: calc(1rem + #{$ratio});
    padding-left: 0;

    a {
      position: relative;
      display: block;
      text-decoration: none !important;
      color: $gray-800;
      padding-bottom: 0.7rem;
      padding-top: 0.7rem;
      padding-left: 1rem;
      border-bottom: 1px solid $gray-100;
      &.landing {
        font-weight: $font-weight-7;
        &.active {
          background-color: $gray-75;
          &:hover,
          &:focus {
            background-color: $gray-100;
          }
        }
        &.back {
          padding-left: 1.5rem;
          &::after {
            content: "\e668";
            position: absolute;
            font-family: "CaGov";
            left: 0;
            top: 0.65rem;
          }
        }
      }
      &.active {
        color: $gray-800;
        text-decoration: none;
        background-color: $gray-75;
        &:hover,
        &:focus {
          color: $black;
          text-decoration: none;
          background-color: $gray-100;
        }
        &:before {
          content: "";
          border-left: 3px solid;
          position: absolute;
          top: 0;
          left: 0;
          width: 3px;
          height: 100%;
          border-radius: 0;
        }
      }
    }
    a:hover,
    a:focus {
      text-decoration: none;
      background-color: $gray-50;
    }
    a:focus {
      @include outline(2px);
      outline-offset: -2px;
    }

    // second level
    ul {
      padding-left: 0;
      li {
        margin: 0;
        a {
          padding-left: 2.5rem;
          &.active {
            color: $gray-800;
            text-decoration: none;
            &:hover,
            &:focus {
              color: $black;
              text-decoration: none;
            }
          }
        }
      }
    }
  }
}

.sidenav-mobile-btn {
  display: block;
  padding: 0.5rem 0 0.5rem 0;
  border-bottom: 1px solid $gray-200;
  .container {
    display: flex;
    justify-content: flex-end;
  }
}

// sidenav mobile toggle button
.sidenav-toggle {
  border: none;
  background: none;
  font-weight: 500;
  position: relative;
  right: 0;
  padding-right: 2.3rem;
  .ca-gov-icon-caret-down {
    font-size: 2rem;
    position: absolute;
    top: 0.3rem;
    right: 0.2rem;
    line-height: 1rem;
    transition: all 0.3s ease;
  }
  &[aria-expanded="true"] {
    .ca-gov-icon-caret-down {
      transform: rotate(180deg);
      top: 0.6rem;
    }
  }
}

// desktop
@media (min-width: $screen-md-min) {
  .sidenav-mobile-btn {
    display: none;
  }
}

// mobile
@media (max-width: $screen-sm-max) {
  .mobile-sidenav {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.15s ease-out;
    &.visible {
      max-height: 1600px;
      transition: max-height 0.25s ease-in;
      overflow: auto;
    }
    .side-navigation {
      display: flex;
      flex-direction: column;
      padding: 1rem 0 1rem 0;
      &.sticky-6 {
        top: 0;
        position: relative;
      }
      ul {
        margin-top: 0;
        margin-bottom: 0;
      }
    }
  }
}

a.sidenav {
  font-size: calc(1rem + $ratio);
  margin: 0;
  display: block;
  padding-top: 0.7rem;
  padding-bottom: 0.7rem;
  padding-left: 1rem;
  position: relative;
  text-decoration: none !important;
  color: $gray-700;
  border-bottom: 1px solid $gray-100;
  background-color: $white;
  &:hover,
  &:focus {
    text-decoration: none;
    background-color: $gray-50;
    color: $black;
  }
  &:focus {
    outline-offset: -2px;
  }
  &.active {
    color: $gray-700;
    text-decoration: none;
    background-color: $gray-75;

    &:hover,
    &:focus {
      text-decoration: none !important;
      color: $black;
      background-color: $gray-100;
    }
    &:before {
      content: "";
      border-left: 3px solid;
      position: absolute;
      top: 0;
      left: 0;
      width: 3px;
      height: 100%;
      border-radius: 0;
    }
  }
  &.landing {
    font-weight: $font-weight-7;
  }
  &.subnav {
    padding-left: 2.5rem;
  }
  &.back {
    padding-left: 1.5rem;
    &::after {
      content: "\e668";
      position: absolute;
      font-family: "CaGov";
      left: 0;
      top: 0.65rem;
    }
  }
}
