/* -----------------------------------------
   STEP LIST - /src/scss/cagov/step-list.scss
----------------------------------------- */

.cagov-step-list {
 padding-left: 0 !important;
 margin-left: 26px !important;
 counter-reset: step-list-count;

 li {
  list-style: none;
  border-left: 5px solid;
  font-size: 1.75rem;
  font-weight: $font-weight-7;
  position: relative;
  padding-left: 45px;
  line-height: $font-lineheight-3;
  margin-bottom: 0;
 }
 li:before {
  content: "";
  font-size: 1.625rem;
  font-weight: 700;
  padding: 0 13px 0 13px;
  border: 5px solid;
  background-color: #fff;
  border-radius: 50%;
  text-align: center;
  position: absolute;
  left: -27px;
  top: -5px;
  margin-left: -1px;
 }
 li span.has-black-color,
 li .cagov-step-list-content {
  margin-top: 1rem;
  padding-bottom: 1.75rem;
  font-size: calc($font-size-regular + $ratio);
  font-weight: $font-weight-4;
  display: block;
 }
 li:first-child:before {
  padding: 0 13px 0 13px;
 }
 li::before {
  counter-increment: step-list-count;
  content: counter(step-list-count);
 }
 li:nth-child(n + 10):before {
  padding: 0 7px;
 }
 li:nth-child(n + 20):before {
  padding: 0 5px;
 }
 li:last-child {
  border-left: none;
 }
 li:last-child:before {
  margin-left: 6px;
 }
}


 /* Make the list within the step list look normal */
 .cagov-step-list li ul li {
  border: none;
  font-size: calc(1.125rem + .1vw);
  font-weight: normal;
  list-style-type: disc;
  padding-left: unset;
 }

 .cagov-step-list li ul li:before {
  content: none;
 }