/* -----------------------------------------
   TYPE STYLES - /source/scss/cagov/type.scss
----------------------------------------- */

/* latin-ext */
@font-face {
    font-family: "Source Sans Pro";
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url("/fonts/SourceSansPro-Regular.woff2") format("woff2");
    unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
    font-family: "Source Sans Pro";
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url("/fonts/SourceSansPro-Regular.woff2") format("woff2");
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC,
        U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
/* latin-ext */
@font-face {
    font-family: "Source Sans Pro";
    font-style: italic;
    font-weight: 400;
    font-display: swap;
    src: url("/fonts/SourceSansPro-Italic.woff2") format("woff2");
    unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
    font-family: "Source Sans Pro";
    font-style: italic;
    font-weight: 400;
    font-display: swap;
    src: url("/fonts/SourceSansPro-Italic.woff2") format("woff2");
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC,
        U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
/* latin-ext */
@font-face {
    font-family: "Source Sans Pro";
    font-style: normal;
    font-weight: 700;
    font-display: swap;
    src: url("/fonts/SourceSansPro-Bold.woff2") format("woff2");
    unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
    font-family: "Source Sans Pro";
    font-style: normal;
    font-weight: 700;
    font-display: swap;
    src: url("/fonts/SourceSansPro-Bold.woff2") format("woff2");
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC,
        U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

/* latin-ext */
@font-face {
    font-family: "Source Sans Pro";
    font-style: italic;
    font-weight: 700;
    font-display: swap;
    src: url("/fonts/SourceSansPro-BoldItalic.woff2") format("woff2");
    unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
    font-family: "Source Sans Pro";
    font-style: italic;
    font-weight: 700;
    font-display: swap;
    src: url("/fonts/SourceSansPro-BoldItalic.woff2") format("woff2");
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC,
        U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

/* HEADINGS */
/* latin-ext */
@font-face {
    font-family: "Asap Condensed";
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url("/fonts/AsapCondensed-Regular.woff2") format("woff2");
    unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
    font-family: "Asap Condensed";
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url("/fonts/AsapCondensed-Regular.woff2") format("woff2");
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC,
        U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

/* latin-ext */
@font-face {
    font-family: "Asap Condensed";
    font-style: normal;
    font-weight: 600;
    font-display: swap;
    src: url("/fonts/AsapCondensed-SemiBold.woff2") format("woff2");
    unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
    font-family: "Asap Condensed";
    font-style: normal;
    font-weight: 600;
    font-display: swap;
    src: url("/fonts/AsapCondensed-SemiBold.woff2") format("woff2");
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC,
        U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

body {
    font-family: $font-family-sans-serif;
    font-size: $font-size-regular;
    line-height: $line-height-base;
    color: $text-color;
    @include media-breakpoint-up(sm) {
        font-size: calc(#{$font-size-regular} + #{$ratio});
    }
}

a {
    color: $link-color;

    &:hover {
        color: $link-hover-color;
    }
}

/* Solution for links that are behind fixed Header */
#main-content a,
#main-content button {
    scroll-margin-top: 120px !important;
}

.featured-narrative {
    border-bottom: 1px solid #d6d6d6;
    border-top: 1px solid #d6d6d6;
    padding: 10px 10px 0 10px;
    margin-bottom: calc($line-height-computed / 2);
    margin-left: 20px;
}

//
// TYPOGRAPHY
// --------------------------------------------------

// Responsive Font Sizes
p {
    margin-bottom: 0.7rem;
    @include media-breakpoint-up(sm) {
        margin-bottom: calc(0.7rem + #{$ratio});
    }
}

.lead {
    font-size: $font-size-large;
    margin-bottom: 1rem;
    @include media-breakpoint-up(sm) {
        font-size: calc(#{$font-size-large} + #{$ratio});
        margin-bottom: calc(1rem + #{$ratio});
    }
}

.small {
    font-size: $font-size-base;
    margin-bottom: 0.65rem;
    @include media-breakpoint-up(sm) {
        font-size: calc(#{$font-size-base} + #{$ratio});
        margin-bottom: calc(0.65rem + #{$ratio});
    }
}

.btn {
    font-size: $font-size-base;
    @include media-breakpoint-up(sm) {
        font-size: calc(#{$font-size-base} + #{$ratio});
    }
}

.btn-lg {
    font-size: 1.125rem;
    @include media-breakpoint-up(sm) {
        font-size: calc(#{$font-size-regular} + #{$ratio});
    }
}
.btn-sm {
    font-size: 0.9rem;
    @include media-breakpoint-up(sm) {
        font-size: calc(0.9rem + #{$ratio});
    }
}

.ie9 p {
    + h1,
    + h2,
    + h3,
    + h4 {
        padding-top: 10px; // Add top padding back into ie9's headers
    }
}

h1,
.h1 {
    //color: #c60; // Orange
    span[class^="ca-gov-icon-"]:first-child {
        display: none; // hide icon used in v4
    }
}

// Responsive Font Sizes
h1,
.h1 {
    // @include font-size(2.4);
    font-size: $font-size-h1;
    margin-top: 3rem;
    margin-bottom: 1.6rem;
    @include media-breakpoint-up(sm) {
        font-size: calc(#{$font-size-h1} + #{$ratio-headers});
        margin-top: calc(3rem + #{$ratio-headers});
        margin-bottom: calc(1.6rem + #{$ratio-headers});
    }
    font-family: $headings-font-family;
}

h2,
.h2 {
    // @include font-size(1.94);
    font-size: $font-size-h2;
    margin-top: 2.7rem;
    margin-bottom: 1.4rem;

    @include media-breakpoint-up(sm) {
        font-size: calc(#{$font-size-h2} + #{$ratio-headers});
        margin-top: calc(2.7rem + #{$ratio-headers});
        margin-bottom: calc(1.4rem + #{$ratio-headers});
    }
    font-family: $headings-font-family;
}

h3,
.h3 {
    // @include font-size(1.54);
    font-size: $font-size-h3;
    margin-top: 2.4rem;
    margin-bottom: 1.2rem;
    @include media-breakpoint-up(sm) {
        font-size: calc(#{$font-size-h3} + #{$ratio-headers});
        margin-top: calc(2.4rem + #{$ratio-headers});
        margin-bottom: calc(1.2rem + #{$ratio-headers});
    }
    font-family: $headings-font-family;
}

h4,
.h4 {
    // @include font-size(1.25);
    font-size: $font-size-h4;
    margin-top: 2rem;
    margin-bottom: 1rem;
    @include media-breakpoint-up(sm) {
        font-size: calc(#{$font-size-h4} + #{$ratio-headers});
        margin-top: calc(2rem + #{$ratio-headers});
        margin-bottom: calc(1rem + #{$ratio-headers});
    }

    font-family: $headings-font-family;
}

h5,
.h5 {
    // @include font-size(1);
    font-size: $font-size-h5;
    margin-top: 1.7rem;
    margin-bottom: 0.8rem;

    @include media-breakpoint-up(sm) {
        font-size: calc(#{$font-size-h5} + #{$ratio-headers});
        margin-top: calc(1.7rem + #{$ratio-headers});
        margin-bottom: calc(0.8rem + #{$ratio-headers});
    }
    font-family: $headings-font-family;
}

h6,
.h6 {
    // @include font-size(0.8);
    font-size: $font-size-h6;
    margin-top: 1.4rem;
    margin-bottom: 0.6rem;
    @include media-breakpoint-up(sm) {
        font-size: calc(#{$font-size-h6} + #{$ratio-headers});
        margin-top: calc(1.4rem + #{$ratio-headers});
        margin-bottom: calc(0.6rem + #{$ratio-headers});
    }

    font-family: $headings-font-family;
}

h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
    line-height: $headings-line-height;
}

// ICON SIZING
[class*="icon-"] {
    &.big {
        @include font-size(1.94);
    }

    &.bigger {
        @include font-size(2.4);
    }

    &.biggest {
        @include font-size(3.5);
    }
}

.serif {
    font-family: $font-family-serif !important;
}

.monospace {
    font-family: $font-family-monospace !important;
}

.heading {
    font-family: $headings-font-family !important;
}

code {
    color: $code-color;
}

// pre-wrap class
.wrap {
    white-space: normal !important;
}

// LINKS NEED VISUAL INDICATORS OTHER THAN COLOR (USING UNDERLINE MIXING)
.main-content {
    @include underline($link-color, $link-hover-color);
}
// UNDELINE EXEPTIONS
.tab-group .nav-tabs li > a,
.main-content .btn,
.panel-title,
.panel-heading a,
.btn-more,
.accordion .panel-heading a,
.panel-group .panel-heading .panel-title a,
.accordion .panel-heading .panel-title a,
.panel-group .panel-heading .panel-title a,
.service-tile-content .panel-heading .panel-title a,
.service-tile-content .panel-heading a,
.accordion .panel-heading a,
.icon-link,
.social a,
.main-content a[role="button"],
.main-content a[role="tab"],
.gallery-item,
.news-link,
.news-icon,
.socialsharer-container a,
.thumbnail a,
.explore-invite a {
    text-decoration: none !important;
    background-image: none !important;
}

.no-underline {
    text-decoration: none !important;
    background-image: none !important;
}

// group lists (sidebar navigation)
.list-group {
    padding-left: 0 !important;
    margin-bottom: 0 !important;
}

.list-group-item {
    padding-top: ($spacer * 0.75) !important;
    padding-bottom: ($spacer * 0.75) !important;
    padding-left: ($spacer * 1.25) !important;
    padding-right: ($spacer * 1.25) !important;
    margin-top: 0 !important;
    background-image: none !important;
    text-decoration: none !important;
}
a.list-group-item {
    margin-bottom: 0px !important;
}

.tab.list-group-item {
    margin-bottom: -1px !important;
}

/*dyslexic font*/

@font-face {
    font-family: "OpenDyslexicAlta Regular";
    src: url("../fonts/OpenDyslexicAlta-Regular.eat");
    src: url("../fonts/OpenDyslexicAlta-Regular.eot#iefix") format("embedded-opentype"),
        url("../fonts/OpenDyslexicAlta-Regular.ttf") format("truetype"),
        url("../fonts/OpenDyslexicAlta-Regular.woff") format("woff"),
        url("../fonts/OpenDyslexicAlta-Regular.svg#OpenDyslexicAlta") format("svg");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "OpenDyslexic Regular";
    src: url("../fonts/OpenDyslexic-Regular.eat");
    src: url("../fonts/OpenDyslexic-Regular.eot#iefix") format("embedded-opentype"),
        url("../fonts/OpenDyslexic-Regular.ttf") format("truetype"),
        url("../fonts/OpenDyslexic-Regular.woff") format("woff"),
        url("../fonts/OpenDyslexic-Regular.svg#OpenDyslexicAlta") format("svg");
    font-weight: normal;
    font-style: normal;
}
