/* -----------------------------------------
   TOP NAVIGATION
   /source/scss/cagov/utility-header.scss
----------------------------------------- */

.utility-header {
  //position:absolute;
  top: 0;
  width: 100%;
  min-height: 42px; // beta 6.0 addition
  transition: all 0.3s ease;

  .half {
    @include make-sm-column(6);
    padding-top: 0; // beta 6.0 addition
    padding-left: 15px; // beta 5.0 addition
    @media (max-width: $screen-xs-max) {
      padding-top: 2px; // beta 5.0 addition
      float: left;

      &:first-child {
        padding-left: 15px;
        padding-right: 0 !important;
        width: 50%;
      }

      &:nth-child(2) {
        padding-left: 0 !important;
        width: 50%;
      }
    }
  }

  a {
    display: inline-block;
    padding: 0;
    text-decoration: underline;

    &:hover,
    &:focus,
    &.hovered {
      text-decoration: none;
    }
  }

  ul {
    @include list-unstyled();
    @include list-inline();
    margin-bottom: 0;

    li {
      padding: 0 8px;

      button {
        font-size: 100%;
        outline: none !important;
        position: relative;
        top: -1px;
        background-color: transparent;
        border: none;

        span {
          font-size: 100% !important;
        }

        &:hover,
        &:focus {
          color: $gray-800;
          background-color: transparent;
          border: none;
        }
      }
    }
  }

  .settings-links {
    // @include font-size(1); // font size
    font-size: $font-size-base;
    @include media-breakpoint-up(sm) {
      font-size: calc(#{$font-size-base} + #{$ratio});
    }

    @include text-right();

    @media (min-width: $screen-md-min) {
      padding-right: 5px;
    }
  }

  [class^="ca-gov-icon-"] {
    @include font-size(1.1);
    vertical-align: -2px;
    display: inline-block;
    text-decoration: none;
    padding-right: 4px;
  }

  .located-city-name {
    margin-left: 5px;
  }

  .geo-zip-input {
    margin-left: 5px;
    width: 50%;
    vertical-align: initial;
    line-height: 120%;
    background: white;
    color: $black;
  }
}

.header-cagov-logo svg {
  left: 27px;
  height: 1.7rem;

  @media (max-width: $screen-md-max) {
    left: 5px;
  }
}

//
// FLEX UTILITY
// --------------------------------------------------
.utility-header {
  .flex-row {
    display: flex;

    .social-media-links {
      display: flex;
      flex-direction: row;
      justify-content: flex-start;
      min-height: 38px;
      align-items: center; // make items vertically centered
      .header-cagov-logo {
        margin-right: 0.5rem;

        .ca-gov-logo-svg {
          left: 0;

          vertical-align: middle;
        }

        a {
          margin: 0;
          padding-top: 0;
        }
      }

      .official-tag {
        margin: 0;
        margin-right: 1rem;
        font-size: 0.95rem;
        @media (max-width: $screen-xs-max) {
          margin-right: 0;
          .desktop-only {
            display: none;
          }
        }
      }

      a {
        margin: 0px 10px 0 10px;
      }
    }

    .settings-links {
      display: flex;
      flex-wrap: wrap;
      margin-left: auto; // justify to the right
      align-items: center; // make items vertically centered
      justify-content: flex-end;
      min-height: 38px;

      a {
        margin: 0 10px 0 10px;
        font-size: 0.95rem;
      }

      button {
        margin: 0;
        padding-right: 0;
        font-size: 0.95rem;
        &:hover,
        &:focus {
          text-decoration: none;
        }
      }
    }
  }
}
/* Hide utilities in mobile */
@media (max-width: $screen-sm-max) {
  button[aria-controls="siteSettings"] {
    display: none;
  }
}
