{%- extends "./base.njk" -%}
{%- block content -%}
<div id="main-content" class="main-content">
  <main class="main-primary" id="main">
    <div
      class="container p-t-md">
      {# Breadcrumbs (rendering data from /src/_data/breadcrumbs.json and /src/_data/helpers.js #}
      {%- include "../breadcrumbs.njk" -%}
      <div class="row">
        <div class="col-lg-4 col-xl-3 pb-lg-5">
          {# SIde navigation (rendering data from /src/_data/components.json and /src/_data/helpers.js #}
          <nav
            aria-labelledby="components-list" class="side-navigation sticky-6">
            {# Links with subnav #}
            <ul>
              <li>
                <a href="/components.html" class="nav-heading landing" id="components-list">
                  Components
                </a>
              </li>
              {%- for item in components.components -%}
                {%- if 'subnav' in item %}
                  <li>
                    <a href="{{ item.url }}" {{ helpers.getLinkActiveState(item.url, page.url) | safe }}>
                      {{ item.text }}
                    </a>
                    {#- subnav -#}
                    {%- if helpers.getURL(item.url, page.url) -%}
                      <ul>
                        {%- for subitem in item.subnav %}
                          <li>
                            <a href="{{ subitem.url }}" class="tab-link">
                              {{ subitem.text }}
                            </a>
                          </li>
                        {%- endfor -%}
                      </ul>
                    {%- endif -%}
                  </li>
                {%- else %}
                  <li>
                    <a href="{{ item.url }}" {{ helpers.getLinkActiveState(item.url, page.url) | safe }}>
                      {{ item.text }}
                    </a>
                  </li>
                {%- endif -%}
              {%- endfor -%}


               <li class="bold">
                    <a href="/components/legacy-components.html">
                      Legacy components
                    </a>
              </li>
            </ul>
          </nav>
        </div>
        <div class="col-lg-8 col-xl-9 p-b-lg">{{ content | safe }}</div>
      </div>
    </div>
  </main>
</div>{%- endblock -%}