{% extends "./base.njk" %} {% block content %}
<div id="main-content" class="main-content">
  <div class="container p-t-md p-b-lg">
    <main class="main-primary" id="main">
      {# Breadcrumbs (rendering data from /src/_data/breadcrumbs.json and
      /src/_data/helpers.js #} {% include "../breadcrumbs.njk" %}
      <div class="row">
        <div class="col-md-10 mx-auto">{{ content | safe }}</div>
      </div>
    </main>
  </div>
</div>
{% endblock %}
