{% extends "./base.njk" %}
{% block content %}
<div id="main-content" class="main-content">
	<div class="container p-b-lg p-t-md">
		<main class="main-primary" id="main">
     {# Breadcrumbs (rendering data from /src/_data/breadcrumbs.json and /src/_data/helpers.js  #}
    {% include "../modules/breadcrumbs.njk" %}

			{{ content | safe }}

		</main>
	</div>
</div>
{% endblock %}