<!DOCTYPE html>
<html lang="en">
<head>
  <title>{{ title }}</title> 
  <meta charset="utf-8">
  <meta name="Author" content="State of California" />
  <meta name="Description" content="State of California" />
  <meta name="Keywords" content="California, government" />
  {% include "../head-js-css.njk" %}
      <!--hiding search link from page navigation sinse the search box is already open-->
    <style>
        #nav-item-search,
        .mobile-controls .toggle-search {
            display: none;
        }

        .mobile-controls .mobile-header-icons {
            display: none;
        }
        .search-textfield {
         border-top-left-radius:5px;
         border-bottom-left-radius:5px;
         border:1px solid #72717c;
        }
    </style>
</head>
<body class="primary">
  <header role="banner" id="header" class="global-header fixed">
    <div id="skip-to-content">
        <a href="#main-content">Skip to Main Content</a>
    </div>
    {% if alert %}
      {% include alert %}
    {% endif %}
    {% include "../utility-header.njk" %}
    {% include "../settings-bar.njk" %}
    {% include "../site-header.njk" %}
    {% include "../mobile-controls.njk" %}

    <div class="navigation-search full-width-nav container">
            <div id="head-search" class="search-container">
			</div>
      {% include "../navigation.njk" %}
    </div>
  </header>

{% block content %}
<div id="main-content" class="main-content">
		<main class="main-primary" id="main">
			<!--Search result section-->
            <div class="section section-default">
                <div class="container search-results-header">
                    <!--Uncomment if you prefer to use original google search box. Be advided that original custom search box is not meeting WCAG accessibility standards. -->
                    <!--<gcse:searchbox-only resultsUrl="/serp.html" enableAutoComplete="true"></gcse:searchbox-only>-->

                    <form id="Search" class="pos-rel" action="/serp.html">
                        <span class="sr-only" id="SearchInput">Custom Google Search</span>
                        <input type="text" id="q" name="q" aria-labelledby="SearchInput"
                            placeholder="Search this website" class="search-textfield height-40" style="width:95%" />
                        <button type="submit"
                            class="gsc-search-button width-60 height-40 pos-abs color-white right-0 top-0 border-0 bg-gray-600 bg-gray-800-hover"><span
                                class="ca-gov-icon-search" aria-hidden="true"></span><span
                                class="sr-only">Submit</span></button>
                    </form>

                </div>
            </div>
            <div class="section">
                <div class="container">

                    <gcse:searchresults-only></gcse:searchresults-only>
                    <!-- <script src='//www.google.com/jsapi' type='text/javascript'></script> -->


						  {{ content | safe }}

                </div>
            </div>



			
		</main>
</div>
{% endblock %}

  {% include "../global-footer.njk" %}
  {% include "../scripts.njk" %}

    <script>
        // Search ID
        var cx = '001779225245372747843:9s-idxui5pk';// Update this value with your search engine unique ID. Submit a request to the CDT Service Desk if you don't already know your unique search engine ID.
        var gcse = document.createElement('script');
        gcse.type = 'text/javascript';
        gcse.async = true;
        gcse.src = 'https://cse.google.com/cse.js?cx=' + cx;
        var s = document.getElementsByTagName('script');
        s[s.length - 1].parentNode.insertBefore(gcse, s[s.length - 1]);



        // extracting search query from the url parameter and applying it to the searchbox
        function getUrlVars() {
            var vars = {};
            var parts = window.location.href.replace(/[?&]+([^=&]+)=([^&]*)/gi, function (m, key, value) {
                vars[key] = value;
            });
            return vars;
        }
        var query = getUrlVars()["q"];
        document.querySelector('input[name=q]').value = query;

    </script>
</body>
</html>