// ----------------------------------------
//   COLOR SCHEME TRINITY IMPORT
//-----------------------------------------

@import "../bootstrap/functions";
@import "../bootstrap/variables";
@import "../bootstrap/mixins";
@import "../variables.scss";
@import "../cagov/mixins.scss";

@import "colorscheme-trinity.scss";

@import "cs-layout.scss";
@import "cs-global-header.scss";
@import "cs-explore-banner.scss";
@import "cs-global-footer.scss";
@import "cs-navigation.scss";
@import "cs-search.scss";
@import "cs-tabs.scss";
@import "cs-media.scss";
@import "cs-location.scss";
@import "cs-typography.scss";
@import "cs-sections.scss";
@import "cs-header-slideshow-banner.scss";
@import "cs-progress-bar.scss";
@import "cs-testimonials.scss";
@import "cs-cards.scss";
@import "cs-text-accent.scss";
@import "cs-image.scss";
@import "cs-carousel.scss";
@import "cs-buttons.scss";
@import "cs-blocks.scss";
@import "cs-panes.scss";

@import "cs-high-contrast.scss"; // File should always be last