/* -----------------------------------------
   OCEANSIDE
----------------------------------------- */
//
// VARIABLES
// --------------------------------------------------
// Theme directory
$theme-directory: "#{$template-path}/oceanside";      // Folder where assets for theme are stored

// Primary Theme colors
$color-p1:              #FDB81E;     // Gold
$color-p2:              #046B99;     // Medium Blue
$color-p3:              #323A45;     // Dark Blue

// Secondary Theme colors
$color-s1:              #E1F2F7;            // Lightest Blue
$color-s2:              #9FDBF1;            // Lighter Blue
$color-s3:              #50aee4;        	// Light Blue $brand-info

// Accent Colors
$color-a1:              #1f89db;            // Dark Blue
$color-a2:              #49bbf8;            // Med Blue
$color-a3:              #35bbaa;            // Teal
$color-a4:              #72ce6f;     		// Green $brand-success
$color-a5:              #815ab4;            // Purple
$color-a6:              #dd99e5;            // Lavender
$color-a7:              #d34a37;      		// Red $brand-danger
$color-a8:              #F27e31;     		// Orange $brand-warning
$color-a9:              #f7e455;            // Yellow

$panel-border:        #ddd;

// Module or theme specific variables
$nav-first-level:       $gray-light;    // Color of navigation links
$nav-second-level:      $text-color;    // Second level link colors
$off-canvas-links:      #fff;           // Off Canvas link color
$search-accent:         $color-p1;      // Search field input hover border
$nav-accent:            $color-p1;      // Link hover and nav bar bottom line
$body-color:            #32608a;        // Background base and typically the page edge border
$body-midline:          $color-s3;      // Midline gradient color
$edge-border:           $body-color;    // Applied to outer edge of the page
$header-icon:           $color-p2;      // Icon left of main content H1
$mobile-controls:		$color-p2;		// Mobile controls
$footer-txt:            #fff;           // Color of text and links in the footer

$overstated-header-bg:          $color-p2;      // Background for panel header
$overstated-header-txt:         #fff;           // Panel header text color
$overstated-header-icon:        #fff;           // Panel header text color
$overstated-header-border:      $color-p2;     // Panel header bottom border color
$overstated-border:             $panel-border;    // Border surrounding entire panel
$overstated-body-bg:            #fff;           // Panel body background

$panel-default-header-bg:       $panel-default-heading-bg;      // Background for panel header
$panel-default-header-txt:      $text-color;        // Panel header text color
$panel-default-header-icon:     $color-p3;      // Panel header icon color
$panel-default-header-border:   $panel-border;     // Panel header bottom border color
$panel-default-border:        	$panel-border;     // Border surrounding entire panel
$panel-default-body-bg:         #fff;      // Panel body background

$sidebar-default-header-bg:     $color-s2;      // Background for panel header
$sidebar-default-header-txt:    $text-color;    // Panel header text color
$sidebar-default-header-icon:   $color-p3;      // Panel header icon color
$sidebar-default-header-border: $color-p3;      // Panel header bottom border color
$sidebar-default-border:        $panel-border;     // Border surrounding entire panel
$sidebar-default-body-bg:       #fff;           // Panel body background

$understated-header-bg:         $color-s1;      // Background for panel header
$understated-header-txt:        $text-color;    // Panel header text color
$understated-header-icon:       $color-p3;      // Panel header icon color
$understated-header-border:     $color-s1;          // Panel header bottom border color
$understated-border:            $panel-border;          // Border surrounding entire panel
$understated-body-bg:           #fff;           // Panel body background


$standout-header-bg:            $color-p3;      // Background for panel header
$standout-header-txt:           #fff;           // Panel header text color
$standout-header-icon:          $color-p1;      // Panel header icon color
$standout-header-border:        $color-p3;      // Panel header bottom border color
$standout-border:               $panel-border;   // Border surrounding entire panel
$standout-body-bg:              #fff;           // Panel body background

$figure-border:                 $color-s2;      // Border around media captions
$figure-bg:                     $color-s1;      // Background behind figure and caption

// MEGAMENU
$sub-nav-bg:                    #F5F9FB;
$sub-nav-link-border:           $gray-lighter;
$sub-nav-media-bg:              transparent;

// SEARCH
$expanded-background-color: $gray-lighter;
$text-field-color: rgba(255, 255, 255, 0.8); // 80% white

/* ----- OCEANSIDE PRIMARY THEME COLORS -----  */

.color-highlight, .color-p1 {
    color: $color-p1;
    }
.color-primary, .color-p2 {
    color: $color-p2;
    }
.color-standout, .color-p3 {
    color: $color-p3;
    }
	
.bg-highlight, .bg-p1 {
    background-color: $color-p1 !important;
    }
.bg-primary, .bg-p2 {
    background-color: $color-p2 !important;
    }
.bg-standout, .bg-p3 {
    background-color: $color-p3 !important;
    }
	
/*  SECONDARY THEME COLORS	*/
.color-s1 {
    color: $color-s1;
    }
.color-s2 {
    color: $color-s2;
    }
.color-s3 {
    color: $color-s3;
    }
.bg-s1 {
    background-color: $color-s1 !important;
    }
.bg-s2 {
    background-color: $color-s2 !important;
    }
.bg-s3 {
    background-color: $color-s3 !important;
    }


