/* -----------------------------------------
   COMMENT
   /source/scss/colorscheme/cs-buttons.scss
----------------------------------------- */

// better-button = color; background; border, hover-color; hover-background; hover-border
.btn-primary {
    @include better-button($white, $color-p2, $color-p2, $white, darken($color-p2, 7%), darken($color-p2, 7%)); // beta 5.0 addition
    &:disabled {
        color: $white !important;
    }

    &.disabled {
        color: $white !important;
    }
}


// better-button = color; background; border, hover-color; hover-background; hover-border
.btn-outline-primary {
    @include better-button($color-p2, $white, $color-p2, $white, $color-p2, darken($color-p2, 7%)); // beta 6.0 addition
}


.btn-default {
    @include better-button($gray-base, rgba(255,255,255,.65), $gray-base, $gray-base, rgba(255,255,255,1), $gray-base);
}

// beta 5.0 addition
.btn-standout {
    @include better-button($white, $color-p3, $color-p3, $white, darken($color-p3, 7%), darken($color-p3, 7%));

    &:disabled {
        color: $white !important;
    }

    &.disabled {
        color: $white !important;
    }
}

// better-button = color; background; border, hover-color; hover-background; hover-border
.btn-outline-standout {
    @include better-button($color-p3, $white, $color-p3, $white, $color-p3, darken($color-p3, 7%)); // beta 6.0 addition
}

// beta 5.0 addition
.btn-highlight {
    @include better-button($gray-darker, $color-p1, $color-p1, $gray-darker, darken($color-p1, 7%), darken($color-p1, 7%));
}

// better-button = color; background; border, hover-color; hover-background; hover-border
.btn-outline-highlight {
    @include better-button($text-color, $white, $color-p1, $text-color, $color-p1, darken($color-p1, 7%)); // beta 6.0 addition
    &.active {
        color: $text-color;
    }
}

.btn-secondary {
    @include better-button($gray, $gray-lightest, $gray, $link-hover-color, #fff, $gray-base);


    &.active {
        background: $gray;
        color: #fff;
        box-shadow: none;
    }

    &:disabled {
        color: $gray-base;
    }

    &.disabled {
        color: $gray-base;
    }
}


// better-button = color; background; border, hover-color; hover-background; hover-border
.btn-outline-secondary {
    @include better-button($gray, $white, $gray, $white, $gray, darken($gray, 7%)); // beta 6.0 addition
}

.check-icon-radio {
    color: $color-p2;
    border-color: $color-p2;
}

.check-icon-checkbox {
    border-color: $color-p2;
}

input[type="checkbox"]:checked + i,
input[type="radio"]:checked + i,
input[type="checkbox"]:checked + * i,
input[type="radio"]:checked + * i {
    color: #fff;
    background-color: $color-p2;
    border-color: $color-p2;
}

.bg-primary--checked.checked,
.checked .bg-primary--checked {
    background-color: $color-p2 !important;
}
