/* -----------------------------------------
   GLOBAL HEADER
   /source/scss/colorscheme/global-header.scss
----------------------------------------- */

.utility-header { //beta 5.0 addition
	background:$color-p2;
    color:contrast($color-p2);
	}

.global-header {
    /* Default header pattern */
    //background: $body-bg url("#{$theme-directory}/header-background.jpg") no-repeat 40% 40%;
	
    /* Small screen gets solid color */
    @media (max-width: $screen-xs-max) {
		//background: $color-p3;              // Fallback color
    	//.rgba ($color-p3, .85);             // rgba function
    	//background: $rgba;                  // rgba value for modern browsers
	}
}

