/* -----------------------------------------
   FORM
   /source/scss/colorscheme/cs-form.scss
----------------------------------------- */
.custom-file-label:after {
   background-color: $color-p2;
}
.check-icon-radio {
   color: $color-p2;
   border-color: $color-p2;
}
.check-icon-checkbox {
   border-color: $color-p2;
}

input[type="checkbox"]:checked + i,
input[type="radio"]:checked + i,
input[type="checkbox"]:checked + * i,
input[type="radio"]:checked + * i {
   background-color: $color-p2;
   border-color: $color-p2;
}

.bg-primary--checked.checked,
.checked .bg-primary--checked {
   background-color: $color-p2 !important;
}

// radio and checkbox in form of button
/* primary Color */
input[type="checkbox"]:checked + .bg-primary--checked,
input[type="radio"]:checked + .bg-primary--checked,
input[type="checkbox"]:checked + * .bg-primary--checked,
input[type="radio"]:checked + * .bg-primary--checked {
   background-color: $color-p2;
}

/* highlight Color */
input[type="checkbox"]:checked + .bg-highlight--checked,
input[type="radio"]:checked + .bg-highlight--checked,
input[type="checkbox"]:checked + * .bg-highlight--checked,
input[type="radio"]:checked + * .bg-highlight--checked {
   background-color: $color-p1;
}

/* Focusable custom checkboxes and radios for accessibility */
input[type="checkbox"]:focus + div,
input[type="radio"]:focus + div {
   box-shadow: 0 0 2px 2px $color-s3;
}

.custom-radio {
   .custom-control-input:checked ~ .custom-control-label::before {
      @include gradient-bg($color-p2);
   }
}

.custom-checkbox {
   .custom-control-input:checked ~ .custom-control-label::before {
      @include gradient-bg($color-p2);
   }
}

.form-check-input:checked,
.custom-control-input:checked {
   background-color: $color-p2;
   border-color: $color-p2;
}
