/* -----------------------------------------
   GLOBAL FOOTER
   /source/scss/colorscheme/global-footer.scss
----------------------------------------- */


.global-footer {
  background: $gray-darker;
}

/* Targets icon of first h1 on the page  */
h1 {
    span[class^="ca-gov-icon-"]:first-child {
        color: $header-icon;
    }
}
