/* -----------------------------------------
   ACCENT TEXT
   /source/scss/colorscheme/cs-text-accent.scss
----------------------------------------- */

.text {
 &-accent1 {
  color: $color-a1;
 }

 &-accent2 {
  color: $color-a2;
 }

 &-accent3 {
  color: $color-a3;
 }

 &-accent4 {
  color: $color-a4;
 }

 &-accent5 {
  color: $color-a5;
 }

 &-accent6 {
  color: $color-a6;
 }

 &-accent7 {
  color: $color-a7;
 }

 &-accent8 {
  color: $color-a8;
 }

 &-accent9 {
  color: $color-a9;
 }

 // PRIMARY COLORS
 &-accent-p1 {
  color: $color-p1;
 }

 &-accent-p2 {
  color: $color-p2;
 }

 &-accent-p3 {
  color: $color-p3;
 }

 // SECONDARY COLORS
 &-accent-s1 {
  color: $color-s1;
 }

 &-accent-s2 {
  color: $color-s2;
 }

 &-accent-s3 {
  color: $color-s3;
 }
}

.color-primary--hover:hover {
 color: $color-p2;
}
.bg-primary--hover:hover {
 background-color: $color-p2;
}

// badges
.label-primary {
 color: $black;
 background-color: $gray-100;
 border-radius: 0;
}

.label-info {
 color: #fff;
 background-color: $color-p2;
}

.label-secondary {
 color: $text-color;
 background-color: $color-s2;
}

.label-light {
 color: $text-color;
 background-color: $color-s1;
}
.label-dark {
 color: #fff;
 background-color: $color-p3;
}
.label-warning {
 color: $text-color;
 background-color: $color-p1;
}

.text-highlight-primary {
 background-color: $color-s1;
}

.text-highlight-warning {
 background-color: lighten($color-p1, 32%);
}

.text-highlight-dark {
 color: #fff;
 background-color: $color-p3;
}
