/* -----------------------------------------
   UTILITY HEADER
   /source/scss/colorscheme/utility.scss
----------------------------------------- */

.utility-header {
    background: $gray-50;
    color: $black;

    .social-media-links {
        a {
            color: $black;
            text-decoration: none;
            &:hover,
            &:focus {
                color: $gray-700;
            }
        }
    }

    a {
        color: $black;

        &:hover,
        &:focus,
        &.hovered {
            color: $black;
        }
    }

    ul {
        li {
            padding: 0 8px;

            button {
                &:hover,
                &:focus {
                    color: $gray-700;
                }
            }
        }
    }
}
