/* -----------------------------------------
   ACCORDIONS SIDE NAV
   /source/scss/cagov/accordion-side-nav.scss
----------------------------------------- */

.side-nav {
  .accordion {
    position: relative;
    .list-group-item {
      border-radius: 0;
      &:focus {
        @include outline(2px);
        outline-offset: -2px;
      }
    }

    .accordion__heading {
      padding: 0 !important;
      .accordion__trigger {
        padding-top: 0.75rem !important;
        padding-bottom: 0.75rem !important;
        padding-left: 1.25rem !important;
        padding-right: 1.25rem !important;
        color: #212529;
        text-decoration: none;
        font-weight: 500;
        &:hover,
        &:focus {
          background-color: #f8f9fa;
        }
        &::before {
          display: none;
        }
        &:after {
          position: absolute;
          font-family: "CaGov" !important;
          content: "\35";
          right: 15px;
          transition: transform 0.2s ease-in-out;
        }
        &[aria-expanded="true"]:after {
          transform: rotate(90deg);
        }
      }
    }
  }
}
