/* -----------------------------------------
   ACCORDIONS
   /source/scss/cagov/accordion.scss
----------------------------------------- */

/* Adds open and closed icons to accordion */
.accordion, .panel-group, .service-tile-content {
    /* Move padding from container to the href so the entire panel is clickable */
    .panel-heading {
        padding: 0;

        a {
            padding: 15px;
            padding-right: 30px;
        }
    }

    .panel-heading .panel-title {
        margin-top: 0; // Remove the top margin on panel groups that are responsive. e.g. tabs2accordion
        display: block; // Force the title and a tag to be block to make the hit box larger
        @include font-size(1.125);

        a {
            display: block;
            position: relative;
            outline: none;

            &:hover, &:focus {
                text-decoration: none;
                background: lighten($gray-lighter, 10%); // beta 5.0 addition
            }
            /* Adds open and closed icons to responsive tab panels */
            span[aria-hidden="true"] {
                position: absolute;
                right: 10px;
                top: 50%;
                margin-top: -11px;
                color: $gray-light;

                &:after {
                    content: "\43"; // .ca-gov-icon-triangle-down
                    font-family: 'CaGov';
                }
            }

            &.collapsed {
                span[aria-hidden="true"] {

                    &:after {
                        content: "\45"; // .ca-gov-icon-triangle-right
                    }
                }
            }
        }
    }
}


.accordion {
    .panel {
        overflow: visible; // to display focus outline for accessibility
        a {
            &:focus {
                @include outline(2px);
            }
        }
    }
}


/* list accordion */
.accordion-list {
    list-style: none;

    li.tab {
        cursor: pointer;
        padding-bottom: 0;
        margin-top: 13px;

        a {
            color: $link-color;

            &:hover {
                color: $link-hover-color;
            }
        }
    }

    .panel {
        padding-left: 1em;
        margin-bottom: 10px;
        border: none;
    }
}

.accordion-list.list-standout {
    li.tab {
        padding-left: 1em;
        margin-top: 0;
    }
}

.accordion-list.list-understated {
    padding-left: 0;
}
