/* -----------------------------------------
   ACCORDIONS
   /source/scss/cagov/accordion.scss
----------------------------------------- */

/* accordion component specific classes */
cagov-accordion .cagov-accordion-card {
  border-radius: 0.3rem !important;
  margin-bottom: 0;
  min-height: 3rem;
  margin-top: 1rem;
  border: solid 1px #ededef !important;
}

cagov-accordion .accordion-card-container {
  display: block;
  overflow: hidden;
}

cagov-accordion button.accordion-card-header {
  display: flex;
  justify-content: left;
  align-items: center;
  padding: 0 0 0 1rem;
  background-clip: border-box;
  background-color: #f5f5f5;
  border: none;
  position: relative;
  width: 100%;
  line-height: 3rem;
  padding-right: 0.5rem;
  &:hover {
    .accordion-title {
      text-decoration: none !important;
    }
  }
}

cagov-accordion.prog-enhanced button.accordion-card-header {
  cursor: pointer;
}

cagov-accordion .accordion-title {
  text-align: left;
  margin-bottom: 0;
  color: $link-color;
  margin-right: auto;
  width: 90%;
  padding: 0.8rem 0.5rem 0.8rem 0 !important;
  font-size: 1.125rem;
  @include media-breakpoint-up(sm) {
    font-size: calc(1.125rem + 0.3vw);
  }
  font-weight: 700;
  line-height: 1.5;
}

cagov-accordion.prog-enhanced .accordion-card-container {
  height: 0px;
  transition: height 0.3s ease;
}
cagov-accordion.prog-enhanced .accordion-card-container .card-body {
  padding-left: 1rem;
  margin-top: 8px;
}

cagov-accordion.prog-enhanced .accordion-card-container .card-body ul {
  margin-left: 16px;
  margin-right: 16px;
}

cagov-accordion .collapsed {
  display: block;
  overflow: hidden;
  visibility: hidden;
}

.accordion-title h4,
.accordion-title h3,
.accordion-title h2 {
  padding: 0 !important;
  margin-top: 0 !important;
  margin-bottom: 0 !important;
  font-size: 1.2rem !important;
  font-weight: 700;
  color: $link-color;
  text-align: left !important;
}

button.accordion-card-header:hover {
  background-color: #f9f9fa;
}
button.accordion-card-header:hover .accordion-title {
  text-decoration: underline;
}
button.accordion-card-header:hover .accordion-title:hover {
  text-decoration: underline;
}

button.accordion-card-header:focus {
  outline-offset: -2px;
}

.accordion-icon svg line {
  stroke-width: 4px;
}

cagov-accordion.prog-enhanced .accordion-alpha .plus-minus {
  width: 2.125rem;
  height: 2.125rem;
  border: none;
  overflow: hidden;
  margin-top: 0.15rem;
  margin-left: 1rem;
  color: $link-color;
  align-self: flex-start;
}

.prog-enhanced .accordion-alpha .plus-minus svg {
  fill: $link-color;
  width: 25px;
  height: 25px;
}

.prog-enhanced .accordion-alpha-open cagov-plus .accordion-icon {
  display: none !important;
}
.prog-enhanced .accordion-alpha-open cagov-minus .accordion-icon {
  display: block !important;
}

@media only screen and (max-width: 767px) {
  .accordion-alpha-open + .accordion-card-container {
    height: 100% !important;
  }
}
