/* -----------------------------------------
   ALERT BANNER
   /source/scss/cagov/alert-banner.scss
----------------------------------------- */

.alert-banner {
    margin-bottom: 0;
    padding: 5px 0;
    border-radius: 0;
    -webkit-column-rule: $text-field-color;
    -moz-column-rule: $text-field-color;
    column-rule: $text-field-color;
    -webkit-transition: all 0.2s;
    transition: all 0.2s;

    .close {
        position: relative;
        top: 0;
        right: -5px;
        padding: 0 10px;
        text-shadow: none;
    }

    .container:after {
        content: " ";
        display: table;
        clear: both;
    }
}

.alert-level {
    display: inline-block;
    font-weight: bold;
    padding: 0 5px;
    margin: 0 5px;
    @include font-size(.87);

    [class^="ca-gov-icon-"] {
        margin-right: 3px;
    }
}

.alert-link {
    line-height: 1.2em;
    @include float-right();
	font-weight:400;
}

.alert-severe {
    background: $brand-highlight;
    
    .close {
        color: $gray-base;
		position:relative;
		top:0;
		right: -5px;
		padding:0 10px;
		text-shadow: none; 
    }
	
.alert-level {
        color: $gray-base;
        background: rgba(0, 0, 0, 0.15);
		}
	
	.alert-text {
      color: $gray-base;
    }
		



}



//
// HIDE ALERTS AFTER PAGE SCROLLS & HEADER COMPACTS
// --------------------------------------------------

.global-header.compact {
    .alert-banner {
        opacity: 0;
        position: absolute;
        width: 100%;
        height: 0;
    }
	}