/* -----------------------------------------
   BLOCKQUOTE
   /source/scss/cagov/blockquote.scss
----------------------------------------- */

blockquote {
  @include font-size(1.125);
  @include media-breakpoint-up(sm) {
    font-size: calc(1.125rem + 0.3vw);
  }
  padding: 11px 22px;
  margin: 0 0 22px;
  border-left: 5px solid #d6d6d6;
}

blockquote footer {
  display: block;
  font-size: 80%; // back to default font-size
  color: $blockquote-small-color;

  &::before {
    content: "\2014 \00A0"; // em dash, nbsp
  }
}

blockquote.blockquote-reverse {
  padding-right: 15px;
  padding-left: 0;
  border-right: 5px solid $blockquote-border-color;
  border-left: 0;
  text-align: right;
  footer,
  small,
  .small {
    &:before {
      content: "";
    }
    &:after {
      content: "\00A0 \2014"; // nbsp, em dash
    }
  }
}
