/* -----------------------------------------
   BUTTONS
   /source/scss/cagov/button.scss
----------------------------------------- */
/* 
    NOTE: This might make more sence later to be moved to the color schemes
*/

/* .btn-primary {
    border:2px solid #fff;
    background:none;
    color:#fff;
    transition:all 0.5s;
    
    &:hover, &:focus {
        .rgba (#fff, .2);
        background-color: $rgba;
        //box-shadow: 0 0 5px rgba(255,255,255,0.8);
        border-color:#fff;
        color:#fff;
    }
} */

// better-button = color; background; border, hover-color; hover-background; hover-border
.btn-primary {
    @include better-button($white, $color-p2, $color-p2, $white,  darken($color-p2, 7%), darken($color-p2, 7%)); // beta 5.0 addition
    //border-width:2px;
	-webkit-transition: all 0.5s;
    transition:all 0.5s;
}

.btn-default {
    @include better-button($gray-base, rgba(255,255,255,.65), $gray-base, $gray-base, rgba(255,255,255,1), $gray-base);
    //border-width:2px;
	-webkit-transition: all 0.5s;
    transition:all 0.5s;
}

// beta 5.0 addition
.btn-standout {
    @include better-button($white, $color-p3, $color-p3, $white,  darken($color-p3, 7%), darken($color-p3, 7%));
    //border-width:2px;
	-webkit-transition: all 0.5s;
    transition:all 0.5s;
}

// beta 5.0 addition
.btn-highlight {
    @include better-button($text-color, $color-p1, $color-p1, $color-p3,  darken($color-p1, 7%), darken($color-p1, 7%));
    //border-width:2px;
	-webkit-transition: all 0.5s;
    transition:all 0.5s;
}

.btn-secondary {
    @include better-button($gray, $gray-lightest, $gray, $link-hover-color, #fff, $gray-base);
    border-width:1px;
    //transition:all 0.5s;
    
    &.active {
        background:$gray;
        color:#fff;
        box-shadow:none;
    }
}

//
// Default look and feel for more buttons
// --------------------------------------------------

.btn-more {
    @include btn();
    @include btn-block();
    background-color: #fff;     // Fallback
    @include rgba (#ffffff, .7);
    // background-color: $rgba;
    @include font-size(1.25);
    
    .more-title {
        display:block;
    }
    
    .more-icon {
        @include font-size(1.5);
    }
}

.btn-more:focus {
	@include outline(2px);
	}

.btn-more.inverse {
    background-color: #000;     // Fallback
    //.rgba (#000, .64);
    //background-color: $rgba;
    color:#fff;
    
    &:hover, &:focus {
        color:$color-p1;
    }
}


//
// Justified mobile button groups in Site Settings
// --------------------------------------------------

@media (max-width: $screen-xs-max) {
    [role="group"].btn-group {
        margin-top: 10px;
        @include btn-group-justified();
    }
}

//
// Button Blocks for Mobile
// --------------------------------------------------

@media (max-width: $screen-xs-max) {
    .btn-block-xs {
        display: block !important;
        width: 100% !important;
        @include m-b();
    }
}

@media (max-width: $screen-sm-max) {
    .btn-block-sm {
        display: block !important;
        width: 100% !important;
        @include m-b();
    }
}

//
// Rows of buttons can benefit from a gutter
// Mobile can benefit from additional leading
// --------------------------------------------------

.btn-row {
    .btn {
        @include m-r-sm();
        @include m-b-sm();
        
        @media (max-width: $screen-xs-max) {
            @include m-b-sm();
        }
    }
}

// beta 5.0 addition
/* Rounded Around */
.rounded-0 {
  border-radius: 0 !important; }

.rounded-50x {
  border-radius: 50%; }
  
  // Backward compatibility (bootstrap 3 leftovers)
  .btn-xs {
		padding: 0.17rem 0.35rem;
		font-size: 0.85rem;
	  }

.btn-block {
    white-space: normal;
}