/* -----------------------------------------
   CAROUSEL - /source/scss/cagov/carousel.scss
----------------------------------------- */
/*
 * 	CAGOV theme - Owl Carousel CSS File
 */
.carousel .owl-nav {
    margin-top: 10px;
    text-align: center;
    -webkit-tap-highlight-color: transparent;
}

.carousel .owl-nav [class*='owl-'] {
    background: rgba(0, 0, 0, 0.4) !important;
    color: #fff !important;
    font-size: 20px !important;
    height: 35px;
    width: 35px;
    border-radius: 35px;
    display: inline-block;
    cursor: pointer;

    > span {
        line-height: 35px; // line-height equal to size of nav circle for centering
    }
}

.carousel .owl-nav [class*='owl-']:hover {
    // color: white;
    text-decoration: none;
}

.carousel .owl-nav .disabled {
    opacity: 0.5;
    cursor: default;
}

.carousel .owl-nav.disabled + .owl-dots {
    margin-top: 10px;
}

.carousel .owl-dots {
    text-align: center;
    -webkit-tap-highlight-color: transparent;
}

.carousel .owl-dots .owl-dot {
    display: inline-block;
    zoom: 1;
    *display: inline;
}

.carousel .owl-dots .owl-dot span {
    width: 10px;
    height: 10px;
    margin: 5px 7px;
    background: #d6d6d6;
    display: block;
    -webkit-backface-visibility: visible;
    -webkit-transition: opacity 200ms ease;
    -moz-transition: opacity 200ms ease;
    -ms-transition: opacity 200ms ease;
    -o-transition: opacity 200ms ease;
    transition: opacity 200ms ease;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    border-radius: 30px;
}

.carousel .owl-dots .owl-dot.active span,
.carousel .owl-dots .owl-dot:hover span {
    background: $brand-highlight;
}
/* end theme */
/* owl-inline-nav class positions previous and next buttons inline with the carousel */
.carousel-media,
.carousel-link,
.carousel-slider,
.carousel-gallery {
    padding: 0 3em;
    position: relative;

    .owl-nav {
        position: absolute;
        top: 50%;
        left: 0;
        right: 0;
        margin-top: 0;
    }

    .owl-prev {
        position: absolute;
        left: 0;
    }

    .owl-next {
        position: absolute;
        right: 0;
    }

    .owl-nav .owl-prev,
    .owl-nav .owl-next {
        margin: -1em 0 0;
    }
}

// positions the next and prev buttons ontop of video when hovered
.carousel-video,
.carousel-video-submenu,
.carousel-content {
    $button-offsets: -2em;
    $button-offsets-sm: -0.1em;
    overflow: hidden;
    // hide the buttons so they animate in
    // overflow: hidden;
    &:hover {
        .owl-prev {
            color: white;
            position: absolute;
            left: ($grid-gutter-width / 2);

            @media (max-width: $screen-xs-max) {
                left: -$button-offsets-sm;
            }
        }

        .owl-next {
            color: white;
            position: absolute;
            right: ($grid-gutter-width / 2);

            @media (max-width: $screen-xs-max) {
                right: -$button-offsets-sm;
            }
        }
    }


    .owl-nav {
        position: absolute;
        top: 50%;
        left: 0;
        right: 0;
        margin-top: 0;
    }

    .owl-prev {
        position: absolute;
        left: $button-offsets;
    }

    .owl-next {
        position: absolute;
        right: $button-offsets;
    }


    .owl-nav .owl-prev,
    .owl-nav .owl-next {
        -webkit-transition: left 400ms ease, right 400ms ease;
        transition: left 400ms ease, right 400ms ease;
        margin: -1em 0 0;

        &:hover {
            @include rgba (#000000, .75);
            // background-color: $rgba;
        }
    }
}

// content specfic
.carousel-content {

    .owl-nav {
        $button-offsets: -2em;
        $button-offsets-sm: -0.1em;

        @media (max-width: $screen-xs-max) {
            .owl-prev {
                color: white;
                position: absolute;
                left: -$button-offsets-sm;
            }

            .owl-next {
                color: white;
                position: absolute;
                right: -$button-offsets-sm;
            }
        }
    }

    .owl-dots {
        //margin-top: -35px;
        z-index: 6; // beta 5.0 addition
        position: relative;
        height: 15px; // Size of dots
        top: -40px; // Pull higher so video controls can still be accessed
    }

    .item {
        position: relative;
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
    }

    .content-container {
        pointer-events: none;
        color: white;
        text-align: center;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;

        .content {
            pointer-events: all;
            padding: 20px 20px 50px 20px;
        }
    }
    // we fit to the image size not content
    img + .content-container, video + .content-container {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        margin: 10%;
        margin-bottom: 50px;
        padding: 0;
        max-height: 100%;
        overflow: hidden;

        .content {
            padding: 20px;
        }
    }

    .item.backdrop {
        // fitting to image
        img + .content-container, video + .content-container {
            background: rgba(0, 0, 0, 0.3);
        }
        // fitting to content
        .content-container:first-child {
            @media (min-width: $screen-sm-min) {
                padding: 10%;
            }

            .content {
                background: rgba(0, 0, 0, 0.65);
            }
        }
    }
}

.owl-item {
    // stop webkit from flickering on slide change
    -webkit-backface-visibility: hidden;
    -webkit-transform: translateZ(0) scale(1.0, 1.0);
}



.carousel-video {

    .owl-video-play-icon {
        span {
            font-size: 80px;
            line-height: 80px;
            color: white;
            opacity: 0;
            background-color: $gray-darker;
            border-radius: 10px;
            padding: 15px 15px;
        }
    }

    .item-overlay {
        background: rgba(0,0,0,.55);
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        text-align: center;
        vertical-align: middle;
        opacity: 0;
        -webkit-transition: opacity .25s ease;
        transition: opacity .25s ease;
        color: rgba(255,255,255,0.8);
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;

        span {
            opacity: 0;
        }
    }

    .owl-item:not(.owl-video-playing):hover {
        .item-overlay {
            opacity: 1;
        }

        .owl-video-play-icon {
            span {
                opacity: 1;
            }
        }
    }

    .item {
        position: relative;
        width: 100%;

        .owl-video-wrapper, .owl-video-tn {
            width: 100%;
            height: 0;
            padding-bottom: 56.25%;
        }

        .video {
            position: relative;
            top: 0;
            left: 0;
            width: 100%;
            height: auto;

            video {
                width: 100%;
            }
        }
    }
}

.carousel-video-submenu {
    margin-top: 20px;

    .owl-item {
        button {
            border: 5px solid #ddd;
        }
    }

    .owl-item.watching {
        img {
            border-width: 5px;
            border-style: solid;
            // see color schemes
        }

        button {
            border-width: 5px;
            border-style: solid;
            // see color schemes
        }
    }

    .item-thumbnail {
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;

        .videoThumb {
            display: block;
            width: 100%;
            background-size: cover;
            background-position: center, center;
            height: 160px;
            zoom: 1;

            &:focus {
                @include outline(2px);

                + .item-overlay {
                    opacity: 1;
                }
            }

            @media (max-width: $screen-sm-max) {
                height: 110px;
            }

            @media (max-width: $screen-xs-max) {
                height: 80px;
            }
        }


        &:hover, &:focus {
            .item-overlay {
                opacity: 1;
            }
        }

        .item-overlay {
            background: rgba(0,0,0,.55);
            position: absolute;
            width: 100%;
            height: 100%;
            top: 0;
            left: 0;
            text-align: center;
            vertical-align: middle;
            opacity: 0;
            -webkit-transition: opacity 0.25s ease;
            transition: opacity 0.25s ease;
            color: rgba(255,255,255,0.8);
            // display: table-cell;
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            -webkit-box-pack: center;
            -ms-flex-pack: center;
            justify-content: center;

            button {
                width: 100%;
                height: 100%;
                cursor: pointer;
                background: transparent;
                font-size: 4em;
                color: $white;
            }

            .ie9 & {
                display: table;

                span {
                    display: table-cell;
                    text-align: center;
                    vertical-align: middle;
                }
            }

            span {
                -ms-flex-item-align: center;
                align-self: center;
                font-size: 50px;
                cursor: pointer;

                @media (max-width: $screen-md) {
                    font-size: 30px;
                }
            }
        }
    }
}

.owl-prev {
    position: absolute;
    left: 0;
}

.owl-next {
    position: absolute;
    right: 0;
}

.owl-nav .owl-prev,
.owl-nav .owl-next {
    margin: -1em 0 0;
}

/* Banner Carousel */
.carousel-banner .slide {
    background-position: center;
    background-size: cover;
}

.header-slideshow-banner .carousel-banner .owl-item img {
    width: auto;
    height: 50%;
}

.header-slideshow-banner .banner-pager {
    position: absolute;
    right: 45px;
    top: auto; // Beta 5.0 addition
    bottom: 25px; // Beta 5.0 addition
}

.header-slideshow-banner .banner-control {
    cursor: pointer;
    font-weight: bold;
    text-align: center;
    color: #fff;
    background: #181818;
    background-color: rgba(0, 0, 0, 0.60);
    border: none;
    display: block;
    width: 25px; // Beta 5.0 addition
    height: 26px; // Beta 5.0 addition
    float: left;
    margin: 0 5px 0 0;
    font-stretch: normal;
    border-radius: 0; // Beta 5.0 addition
    outline-style: none;
    /* remove outlines, for FF */
}




.header-slideshow-banner .banner-control:hover {
    background-color: rgba(0, 0, 0, 0.5);
}

.header-slideshow-banner .banner-control .pause {
    width: 25px;
    height: 26px;
    border: none;
    text-align: center;
    padding: 0;
    color: #fff;
    background-color: transparent;
    cursor: pointer;
}

.header-slideshow-banner .banner-control .play {
    width: 25px;
    height: 26px;
    border: none;
    padding: 0;
    text-align: center;
    cursor: pointer;
}


.header-slideshow-banner .banner-control.active {
    display: block;
    color: #000;
    background-color: rgba(255, 255, 255, 0.70);
    border: none;
}

.header-slideshow-banner .banner-play-pause {
    position: absolute;
    top: auto; // Beta 5.0 addition
    right: 15px;
    bottom: 25px; // Beta 5.0 addition
    z-index: 1000;
}


.slide-text {
    position: absolute;
    top: auto; // Beta 5.0 addition
    padding: 5px 15px 25px 15px;
    bottom: 0px; // Beta 5.0 addition
    width: 100%; // Beta 5.0 addition
    margin: 0 auto; // Beta 5.0 addition
    color: #FFF;
    font-family: $font-family-sans-serif;
    font-size: 1.2em; // Beta 5.0 addition
    font-stretch: normal; // Beta 5.0 addition
    text-align: center; // Beta 5.0 addition
    box-sizing: border-box;
    border: none; // Beta 5.0 addition
    border-radius: 0px; // Beta 5.0 addition
    background-color: rgba(0,0,0,0.5); // Beta 5.0 addition
}

.slide-text .title {
    font-size: 1.8em; // Beta 5.0 addition
}

/* Media Carousel */
.carousel-media .item {
    // width: 120px;
    margin: 0 auto;
}

/* Link Icon Carousel */
.carousel-link .item {
    width: 32px;
    text-align: center;
}

/* Social Media Slider */
.carousel-slider .owl-item {
    img, .item-logo {
        width: auto;
        float: left;
        margin: 0 10px 10px 0;
        font-size: 32px;
    }
}

/* Image Slider */
.carousel-gallery .item {
    text-align: center; // center slide contents (specifically in mobile view)
}

.carousel-gallery .owl-item img {
    // let image auto size up to 100%
    width: auto;
    display: inline-block;
    max-width: 100%;
    margin: 0 10px 10px 0;
}

// Accessibility
.banner-control:focus, .banner-control .pause:focus, .banner-control .play:focus, .owl-dot:focus, .owl-prev:focus, .owl-next:focus {
    @include outline(2px);
}

.owl-carousel:focus {
    @include outline(2px);
}


.owl-carousel .owl-nav button.owl-prev:focus {
    margin-left: 3em;
}


.owl-carousel .owl-nav button.owl-next:focus {
    margin-right: 3em;
}

.owl-carousel:hover .owl-nav button.owl-prev:focus {
    margin-left: 0;
}

.owl-carousel:hover .owl-nav button.owl-next:focus {
    margin-right: 0;
}


// Video

.owl-video-wrapper .item-overlay {
    display: none;
}



/* HEADER SLIDESHOW */
.header-slideshow-banner {
    position: relative;
    height: 500px; // Beta 5.0 addition
    #primary-carousel {
        //@include container();
    }
    /* Adjusting the height of the banner controls */
    .banner-pager, .banner-play-pause {
        top: 350px;
        z-index: 1; //  _cs-shame.scss addition
    }
    // Overrides AEM's main.css
    .carousel {
        margin-top: 0;
        margin-bottom: 0;
    }
}
/* CA GOV Template hides the carousel by default. 
   The following lines are to unhide it and make it look pretty */
@media (max-width: $screen-xs-max) {
    .header-slideshow-banner {
        display: block;
        height: 160px;

        #primary-carousel {
            margin: 0;
            padding: 0;

            .slide-text {
                bottom: -($line-height-computed / 2);
                right: 0;
                font-size: 14px;
                width: 100%;

                .title {
                    font-size: 19px;
                }
            }
        }
    }
}
/* Move the slide text below the image for small mobile devices */
@media (max-width: $screen-xs-max) {
    .header-slideshow-banner {
        .banner-pager, .banner-play-pause {
            top: 15px;
        }
    }
}
