.plotly-chart {
    .modebar {
        .modebar-group:last-child {
            // display: none;
        }
    }

    .plotly-chart--loading {
        font-size: 150%;
        text-align: center;
        display: block;
        vertical-align: middle;
        height: 100%;
        width: 100%;
        color: $gray-light;
    }


    .hovertext {
        path {
            stroke-width: 7px;
        }
    }

    img {
        width: 100%;
    }

    .plot-container.plotly {
      // same as min section height
       min-height: 300px;
   }

}



.stats-highlight {
    width: 100%;
    height: 100%;
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: -25%;
    padding-left: 10px;
    padding-right: 10px;
    position: relative;
    // using the defaults
    @include donut-color-variants();


    .info {
        display: block;
        text-align: center;
        margin: 0 auto;
        position: relative;
    }


    .small-goal-text,
    .percent-detail,
    .big-number {
        display: inline-block;
        text-align: center;
        width: 100%;
        line-height: 0.8;
    }


    .small-goal-text {
        position: absolute;
        left: 0;
    }


    .info .small-goal-text + .big-number {
        margin-top: -0.8;
    }


    .percent-detail {
        // font-size and top are set by js
        margin-top: 10px;
    }


    .service {
        display: block;
        text-align: center;
        width: 100%;
        font-size: x-large;
        height: 50%;
        padding-top: 10px;
        line-height: 1.1em;
    }


    .half-gauge-chart {
        margin: 5px 10px 0;
        height: 50%;
        width: 100%;
        margin: auto;


        .donut-section {
          //  transition: all 200ms ease;
        }
    }
}

html:not(.ie8) {
    .stats-highlight img {
        display: none;
    }
}


.ie8 .stats-highlight {
    .info,
    .small-goal-text {
        display: none;
    }

    img {
        width: 100%;
    }
}
