/* -----------------------------------------
   LIGHTBOX GALLERY - /source/scss/cagov/gallery.scss
----------------------------------------- */

.gallery {
    @include make-row();
    
    .item {
        float:left;
        position: relative;
        text-align:center;
        margin-bottom:$line-height-computed;
        padding-bottom:8px;                                 // Bottom padding value equal to the a tags negative bottom value
        padding-left: ($grid-gutter-width / 2);
        padding-right: ($grid-gutter-width / 2);
        
        @media (max-width: $screen-xs-min) {                // Only use full column for single image at smallest viewport size
            @include make-xs-column(12);                            // Default layout needs media query to override float left
        }
    }
    
    a.gallery-item {
        display: block;
        position: relative;
        text-decoration:none;
        
        /* Use pseudo selectors to add the background */
        &:before {
            content: "";
            background-color: #fff;
            opacity: 0;
            position: absolute;
            bottom:0;
            z-index:100;
            height:100%;
            width:100%;
			-webkit-transition: all 0.3s;
            transition:all 0.3s;
        }
        
        /* Transition in the color panel */
        &:hover:before {
            //top:-8px;
            height:100%;
            overflow:visible;
            opacity: 0.7;
        }
        
        /* Use pseudo selectors to add the icon */
        &:after {
            content: "";
            position:absolute;
            top:60%;
            left:50%;
            margin-left:-$font-size-base;
            margin-top:-($font-size-base * 1.5);
            z-index:101;
            font-family: 'CaGov';
            @include font-size(2);
			-webkit-transition: all 0.5s;
            transition: all 0.5s;
        }
        
        /* Transition the icon up */
        &:hover:after {
            content: "\e65e";       // .ca-gov-icon-magnify-glass
            font-family: 'CaGov';
            @include font-size(2);
            color:$color-a1;
            top:50%;
        }
    }
    
    img {
        @include img-responsive();                                  // Function to make image responsive
        bottom: 0;
		display:inline-block;
        position: relative;
        //border: 3px solid #e5e5e5;
        max-height:140px;
        //box-shadow:0 3px 8px #ccc;
		//transition: box-shadow .2s ease, bottom .2s ease;
        
        .ie8 & {
            width:auto !important;                          // IE8 Stretches images due to .img-responsive() having 100% width. This line reverts it.
        }
    }
    
    
    // OPTIONS - for greater layout control
    &.three-up .item {
        @include make-sm-column(6);                                 // Two columns for sm
        @include make-md-column(4);                                 // Three columns for md and above (12 / 3 = 4)
    }
    
    &.four-up .item {
        @include make-sm-column(6);                                 // two columns for sm
        @include make-md-column(3);                                 // four columns for md and above (12 / 4 = 3)
    }
	
	&.gallery-small {                                       // place small gallery into columns and reset image dimensions
		.item {
			@include make-xs-column(4);                             // two columns for sm
			@include make-md-column(4);                             // three columns for md and above (12 / 4 = 3)
		}
		
		img {
			width: auto;
			height: auto;
		}
	}
}
