/* -----------------------------------------
   GLOBAL HEADER - /source/scss/cagov/global-header.scss
----------------------------------------- */

#skip-to-content {
    position: relative;
    left: 50% !important;
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    transform: translateX(-50%);
    width: 0;
    height: 0;
    z-index: 999;

    a {
        width: 0;
        height: 0;
        text-align: center;
        position: absolute !important;
        left: 50% !important;
        -webkit-transform: translateX(-50%);
        -ms-transform: translateX(-50%);
        transform: translateX(-50%);
        clip: unset;
        background-color: white;
        border-bottom-left-radius: 7px;
        border-bottom-right-radius: 7px;
        overflow: hidden;


        &:focus {
            width: 160px;
            height: 27px;
        }
    }
}

.global-header {                 // Extends bootstrap .container class to .global-header
    position: relative;                      // Allows children to be absolute positioned within .global-header
    padding: 0;
    background: $white;
    width: auto;

    @media (min-width: $screen-sm-min) {
        .primary & {
            // min-height: 412px;              // 390px + line-height;
        }

        // Hide mobile controls in desktop view
        .mobile-controls {
            display: none !important;                  // Javascript also uses this style to detect if page is in mobile view
        }
    }
}



//
// BRANDING
// --------------------------------------------------


.branding {
    @include container;
    position: relative;

    @media (min-width: $screen-sm-min) {
        height: 88px !important;
    }

    .header-organization-banner {
        line-height: 88px;
        -webkit-transition: all 0.3s;
        transition: all 0.3s; // Smooth transition for compact header
        @media (max-width: $screen-xs-max) {
            max-width: 400px;
        }

        img {
            width: 100%; // Beta 5.0 addition
            max-width: 300px;
            max-height: 70px;
            object-fit: contain !important;
            object-position: left;


            @media (max-width: $screen-md) and (min-width: $screen-sm-min) { // Beta 5.0 addition
                max-width: 225px;
            }
        }
        // Move logo above navigation
        a {
            display: inline-block;
            z-index: 26; // navigation is 25
            position: relative;
        }

        @media (max-width: $screen-xs-max) { // Beta 5.0 addition
            position: absolute;
            margin-top: -5px;
            padding-right: 150px;
        }
    }

    @media (max-width: $screen-xs-max) {
        max-width: 100%;
    }
}

.header-cagov-logo img {	 // Beta 5.0 addition	
  top: 4px;		
  height: 32px;		
  position: absolute;		

}




//
// MOBILE
// --------------------------------------------------

.mobile-controls toggle-menu {
    position: absolute;
    top: 5px;
	right: 10px;	// Beta 5.0 addition		
	left: auto;	 // Beta 5.0 addition	
}

.mobile-controls toggle-search {
    position: absolute;
    top: 5px;
    right: 0;
}


// Banner Carousel Styles
@media (min-width: $screen-sm-min) {
    .header-slideshow-banner.enabled {
        display: block;
    }
}
.header-single-banner, .header-large-banner, .header-primary-banner {
    width: 100%;
    /* Will be overriden with js */
    height: auto;
    overflow: hidden;
    background-position: center;
    background-size: cover;
    display: block;
    /* Preserve aspect ratio */
    min-width: 100%;
    min-height: 100%
}

.header-slideshow-banner {
    position: absolute;
    top: 0;
    height: 100%;
    width: 100%;
    overflow: hidden;
}

.carousel-banner,
.carousel-banner .owl-stage-outer,
.carousel-banner .owl-stage,
.carousel-banner .owl-item,
.carousel-banner .slide {
    height: 100%;
}

// Beta 5.0 addition
.fixed + .header-single-banner, .fixed + .header-primary-banner, .fixed + .header-large-banner, .fixed + .header-slideshow-banner  {			
    top: 136px;		
 		
}		

