/* -----------------------------------------
   GRID -  /source/scss/cagov/grid.scss
----------------------------------------- */

//
// SEMANTIC GRID
// --------------------------------------------------

/* .container custom width  */


.container {
    @include container;
}


.group {
    @include make-row(); // Self clearing row container same as bootstraps .row
    @media (max-width: $screen-xs-max) {
        //@include make-row(0);       // Remove negative margins for mobile
    }
}

.full-width {
    @include make-xs-column(12);
}

.half {
    //@include make-sm-column(6);     // 50% wide columns same as bootstraps .col-sm-6
    @include make-sm-column(6); // Equivelent to .col-md-6
}

.third {
    @include make-sm-column(4); // Only specifying medium size grid. Small will collapse to single column only
}

.two-thirds {
    @include make-sm-column(8);
}

.quarter {
    @include make-xs-column(6); // make 2 column on extra small and small 
    @include make-md-column(3); // 4 column on medium and up
}
.three-quarters {
    //@include make-sm-column(6);
    @include make-sm-column(9);
}
    //
    // GRID OFFSETS
    // --------------------------------------------------
    .offset-quarter {
        @include make-sm-column-offset(3);
    }

    .offset-third {
        @include make-sm-column-offset(4);
    }

    .offset-half {
        @include make-sm-column-offset(6);
    }

    .offset-two-thirds {
        @include make-sm-column-offset(8);
    }

    .offset-three-quarters {
        @include make-sm-column-offset(9);
    }
    //
    // SECONDARY COLUMN GROUP STYLES
    // --------------------------------------------------
    .main-secondary .group {
        padding: 0 8px 0 8px;

        .half {
            padding: 0 7px 0 7px;
        }
    }
    //
    // GRID OUTLINE FOR SAMPLE PAGE
    // --------------------------------------------------
    .grid-demo {
        margin-bottom: ($line-height-computed / 2);

        div {
            border: 1px solid $gray-light;
        }
    }
    //
    // DEFAULT SECTION
    //
    .main-content > .section,
    .two-column .main-content > .section {
        @include container;
    }
