/* -----------------------------------------
   JOBS - /source/scss/cagov/jobs.scss
----------------------------------------- */

.job-detail {
    .sub-header {
        margin-bottom:$line-height-computed;
    }
}

.job-item {
    @include well();
}