/* -----------------------------------------
   LOCATION SETTINGS
   /source/scss/cagov/location-settings.scss
----------------------------------------- */

.location-settings {
    label {
        font-weight: normal;
        @include p-r();
    }
    
    button.close {
        position: relative;
        right: -10px;
        color: #fff;
        text-shadow: none;
        opacity: 0.5;
    }
    
    @media (max-width: $screen-xs-max) {
        button.btn-primary {
            @include m-t();
        }
    }
}