/* -----------------------------------------
   MEGA MENU
   /source/scss/cagov/nav-megamenu.scss
----------------------------------------- */
// 991px
@media (max-width: $screen-sm-max) {
    .main-navigation {
        margin-top: 0;
        padding: 0;
    }
}

.megadropdown .top-level-nav {
    // beta 5.0 addition (fixes IE dropdown issue)

    .nav-item {
        position: static;
        // 992px
        @media (max-width: $screen-sm-max) {
            position: relative;
        }

        .no-js &:hover .sub-nav {
            position: absolute; // On hover show the sub navigation panel
            display: block;
        }
    }
}

// beta 5.0 addition
.main-navigation.dropdown .sub-nav {
    max-width: 250px;
    min-width: 250px;
    left: initial;
    right: initial;

    // 992px
    @media (max-width: $screen-sm-max) {
        max-width: 100%;
    }
}

//
// Sub-menu open indicator
// --------------------------------------------------
// 991px
@media (min-width: $screen-sm-max) {
    /* Dynamic Element appended to each .sub-nav */
    .nav-arrow-container {
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
    }

    /* Dynamic element contained in .nav-arrow-container */
    .megadropdown .nav-arrow-down {
        // KEEPING POINTER AS I FEEL IT'S A BETTER SOLUTION
        //background: transparent url("#{$template-path}/nav-down-arrow.png") no-repeat;
        //width: 44px;
        //height: 16px;
        //margin-left: -22px;
        // VARIATION USING BAR
        position: absolute;
        top: -5px; // equal to the thickness of the border
        left: 50%;
        height: 5px;
        width: 100px;
        margin-left: -65px; // -50 + -15 for 1/2 of gutter
    }

    .dropdown .nav-arrow-down {
        height: 5px;
        left: 0;
        margin-left: 0;
        position: absolute;
        top: -5px;
    }
}

//
// Sub navigation container
// --------------------------------------------------

.sub-nav {
    left: ($grid-gutter-width / 2);
    right: ($grid-gutter-width / 2);
    overflow: hidden;
    // Remove border as rules are added to top level links
    // 991px
    @media (max-width: $screen-xs-max) {
        border: none;
    }
    // Collapse grid gutters
    .half,
    .third,
    .quarter,
    .two-thirds,
    .three-quarters {
        padding: 0;
    }
}

//
// Secondary level navigationr
// --------------------------------------------------

.dropdown {
    .second-level-nav {
        > li {
            border-right: 0; //  _cs-shame.scss addition
        }
    }

    .sub-nav {
        border-bottom: none; //  _cs-shame.scss addition
    }
}

.second-level-nav {
    list-style: none;
    padding: 0;
    // SET UP NAVIGATION COLUMNS

    // 992px
    @media (min-width: $screen-md-min) {
        .half &,
        .two-thirds & {
            @include nav-columns(2);
        }

        .three-quarters & {
            @include nav-columns(3);
        }
    }
    // float links ie9 and below doesn't support columns
    &.oldie {
        @include clearfix();
    }

    [class^="unit"] {
        @include nav-column-group;
        background: none;

        a,
        .link-description {
            @include nav-column-group;
        }
        // float links since ie9 and below doesn't support columns
        .oldie & {
            width: 33.3333%;
            float: left;
        }
    }
}

//
// Links in Subnav
// --------------------------------------------------

a.second-level-link {
    @include font-size(1.1);
    @include media-breakpoint-up(sm) {
        font-size: calc(1.1rem + 0.3vw);
    }
    padding: 10px;

    &:hover,
    &:focus {
        text-decoration: none !important;
    }

    [class^="ca-gov-icon-"] {
        display: inline-block;
        @include font-size(1.375);
        vertical-align: -2px;
        margin-right: 3px;
    }
    // 991px
    @media (max-width: $screen-sm-max) {
        &:first-child {
            margin-top: 2px !important;
        }
        // to make outline visible
        padding: 10px 15px 10px 20px !important;
    }
}

.link-description {
    display: block;
    @include font-size(1);
    @include media-breakpoint-up(sm) {
        font-size: calc(1rem + 0.3vw);
    }
}

//
// MEGA MENU NAVIGATION UNITS
// --------------------------------------------------

// Unit values for desktop only, mobile will collapse vertically.
// 992px
@media (min-width: $screen-md-min) {
    $nav-unit-base: 65px;

    .unit1 {
        height: $nav-unit-base;
        overflow: hidden !important;
    }

    .unit2 {
        height: ($nav-unit-base * 2);
        overflow: hidden;
    }

    .unit3 {
        height: ($nav-unit-base * 3);
        overflow: hidden;
    }

    .unit4 {
        height: ($nav-unit-base * 4);
        overflow: hidden;
    }

    .unit5 {
        height: ($nav-unit-base * 5);
        overflow: hidden;
    }

    .unit6 {
        height: ($nav-unit-base * 6);
        overflow: hidden;
    }
}

/* Megamenu State Template v4 */
// 992px
@media (min-width: $screen-md-min) {
    .main-navigation.megadropdown.original {
        .second-level-nav {
            -moz-column-count: 3;
            -ms-column-count: 3;
            -webkit-column-count: 3;
            -moz-column-gap: 20px;
            -ms-column-gap: 20px;
            -webkit-column-gap: 20px;
            column-count: 3;
            column-gap: 20px;
        }

        .sub-nav {
            padding: 16px;
            // one third width of the -sm  nav image
            &[class*="with-image-sm-"] {
                .sub-nav-decoration {
                    width: 33.3333%;
                }
                // two columns for submenu items with -sm image
                > ul {
                    -webkit-column-count: 2;
                    -moz-column-count: 2;
                    -ms-column-count: 2;
                    column-count: 2;
                    -moz-column-gap: 20px;
                    -ms-column-gap: 20px;
                    -webkit-column-gap: 20px;
                    column-gap: 20px;
                }
            }
            // half width for the -md nav image
            &[class*="with-image-md-"] {
                .sub-nav-decoration {
                    width: 50%;
                }
                // one column for submenu items with -md image
                > ul {
                    -moz-column-count: 1;
                    -ms-column-count: 1;
                    -webkit-column-count: 1;
                    -moz-column-gap: 20px;
                    -ms-column-gap: 20px;
                    -webkit-column-gap: 20px;
                    column-count: 1;
                    column-gap: 20px;
                }
            }

            &[class*="with-image-"] > ul > li {
                padding-right: 16px !important;
            }
            // sub nav background image settings
            .sub-nav-decoration {
                display: block;
                position: absolute;
                top: 0;
                right: 0;
                bottom: 0;
                overflow: hidden;
                background-position: 50% 50% !important;
                background-size: cover !important;
            }
            // width and float for the sub nav list if there is -sm-right image
            &.with-image-sm-right > ul {
                float: left;
                width: 66.6667%;
            }
            // width and float for the sub nav list if there is -sm-left image
            &.with-image-sm-left > ul {
                float: right;
                width: 66.6667%;
            }
            // width and float for the sub nav list if there is -md-right image
            &.with-image-md-right > ul {
                float: left;
                width: 50%;
            }
            // width and float for the sub nav list if there is -md-left image
            &.with-image-md-left > ul {
                float: right;
                width: 50%;
            }
            // settings if the subnav image has -left
            &[class*="-left"] .sub-nav-decoration {
                right: auto;
                left: 0;
            }
        }
    }
}

.main-navigation.megadropdown.original {
    .link-description {
        font-size: 0.8em;
    }

    a.second-level-link {
        padding: 0 !important;
    }

    .second-level-nav > li {
        padding: 0.3em 0.7rem 0.4em 1rem;
        border: none;
        -webkit-column-break-inside: avoid;
        page-break-inside: avoid;
        break-inside: avoid;
    }
}

.nav-item {
    display: inline-block;
}

.sub-nav.open {
    display: block;
    max-height: 1000px;
    overflow: auto;
}

.main-navigation.active {
    max-height: 5000px;
}

.mobile-controls {
    .toggle-menu {
        border: none;
        background: none;

        &:focus {
            outline: #2ea3f2 solid 2px;
        }
    }
}

// 991
@media (max-width: $screen-sm-max) {
    .main-navigation {
        overflow: hidden;
    }

    .sub-nav {
        display: block;
        top: 0;
        left: 0; // beta 6.0 addition
        position: relative;
    }

    .nav-item {
        .toggle-sub-nav {
            display: block;
        }

        display: block;
    }
    .second-level-nav > li {
        border-right: 0px;
    }
}

// 992
@media (min-width: $screen-md-min) {
    .sub-nav {
        border-top: none;
    }

    .main-navigation {
        margin-top: -82px; // beta 6.0 addition
    }
}

.media-left,
.media-right,
.media-body {
    display: table-cell;
    vertical-align: top;
}

.media-left {
    padding-right: 10px;
}

/* Flex Sub Nav */
// Flex subnav desktop view

// 992
@media (min-width: $screen-md-min) {
    .second-level-nav.flex {
        display: flex;
        text-align: center;
        padding: 0 40px 0 40px;

        a {
            flex: 1;
            border: none;
            padding: 20px 15px 15px 15px;
            margin-top: 15px;
            margin-bottom: 15px;
            width: 100%;
            height: auto;

            &:hover {
                background: #fff;
            }
        }

        .sub-nav-link {
            display: block;
            margin: 0;
        }
    }

    .second-level-nav.flex.with-border a {
        border-top: 2px dotted #ccc;
        border-right: 2px dotted #ccc;
        border-bottom: 2px dotted #ccc;

        &:first-child {
            border-left: 2px dotted #ccc;
        }
    }
}

// Flex subnav in mobile view

//991
@media (max-width: $screen-sm-max) {
    .second-level-nav.flex {
        display: block;
        text-align: left;
        padding: 0;

        a {
            display: block;
            border-bottom: 1px solid #ccc;
            padding: 0;
            margin-top: 0;
            margin-bottom: 0;
            width: 100%;
            height: auto;

            &:hover {
                background: #fff;
            }
        }

        .sub-nav-link {
            display: inline-block;
            margin: 0 !important;
        }

        .image-icon {
            width: 4rem;
            margin-bottom: 5px !important;
        }
    }
}
