/* -----------------------------------------
   PILLS
   Overwrites the default look and feel of pills
   /source/scss/cagov/pills.scss
----------------------------------------- */

.nav-pills {
    > li {
        > a {
            border: 1px solid $gray;
            
            &:hover {
                background: #fff;
            }
        }
    }
}


// Bringing back old bootstrap3  class .label for backward compatibility 
.label {
	display: inline-block;
  padding: $badge-padding-y $badge-padding-x;
  font-size: $badge-font-size;
  font-weight: $badge-font-weight;
  line-height: 1;
  text-align: center;
  white-space: nowrap;
  vertical-align: baseline;
  @include border-radius($badge-border-radius);

  // Empty badges collapse automatically
  &:empty {
    display: none;
  }
	}
	
	
.label-pill {
  padding-right: $badge-pill-padding-x;
  padding-left: $badge-pill-padding-x;
  @include border-radius($badge-pill-border-radius);
}

// Colors
//
// Contextual variations (linked badges get darker on :hover).

@each $color, $value in $theme-colors {
  .label-#{$color} {
    @include badge-variant($value);
  }
}