/* -----------------------------------------
   PUBLICATIONS /source/scss/cagov/publications.scss
----------------------------------------- */

.pub-item {
    @include clearfix();
    margin-bottom:($line-height-computed / 2);
    
    &.odd {
        background:lighten($gray-lighter, 14%); // beta 5.0 addition
    }
    
    &.even {
        background:lighten($gray-lighter, 10%); // beta 5.0 addition
    }
    
   .thumbnail {
       float:left;
       margin-right:15px;
       
       img {
           @include img-responsive();
       }
   }
}

.pub-body {
    padding: ($line-height-computed / 2)  ($grid-gutter-width / 2) !important;       // Adds padding consistent to the themes gutter and line-height
}

.pub-language, .pub-revision-date, .pub-tags {
    color:$gray;
}