/* -----------------------------------------
   GOOGLE CSE RESULTS
   /source/scss/cagov/search-google-cse.scss
----------------------------------------- */

.google_results {
    @include list-unstyled();
}

.google_result {
    margin-bottom: ($line-height-computed / 2);
}

.google_url {
    @include text-muted();
}

.google_result_thumbnail {
    height: 68px;
    width: 89px;
    float: left;
    margin-right: ($grid-gutter-width / 2);
}