/* -----------------------------------------
   SITE SETTINGS
   /source/scss/cagov/settings-bar.scss
----------------------------------------- */

// Corrects close button placement & style

.site-settings {
    padding-right: 20px; // Beta 5.0 addition
    button.close {
        position: relative;
        right: -10px;
        color: #fff;
        text-shadow: none;
        opacity: 0.8;
        font-size: 2.5em;

        @media (max-width: $screen-xs-max) {
            margin-top:20px;
        }
        // Beta 5.0 addition
        &:hover {
            color: $color-p1 !important;
        }

        &:focus {
            color: $color-p1 !important;
        }

        span {
            position: relative;
            top: -10px;
        }
    }
}