/* -----------------------------------------
   TOP NAVIGATION
   /source/scss/cagov/utility-header.scss
----------------------------------------- */

.utility-header {
    //position:absolute;
    top: 0;
    width: 100%;
    min-height: 40px; // beta 5.0 addition
    background: $color-p2;
    color: contrast($color-p2);


    .half {
        @include make-sm-column(6);
        padding-top: 4px; // beta 5.0 addition
        padding-left: 80px; // beta 5.0 addition
        @media (max-width: $screen-xs-max) {
            padding-top: 2px; // beta 5.0 addition
            float: left;

            &:first-child {
                padding-left: 70px;
                padding-right: 0 !important;
                width: 50%;
            }

            &:nth-child(2) {
                padding-left: 0 !important;
                width: 50%;
            }
        }
    }

    a {
        color: contrast($color-p2);
        display: inline-block;
        padding: 3px 0;

        &:hover, &:focus, &.hovered {
            color: #FEF1D2;
            text-decoration: none;
        }
    }

    ul {
        @include list-unstyled();
        @include list-inline();
        margin-bottom: 0;

        li {
            padding: 0 8px;

            button {
                font-size: 100%;
                outline: none !important;
                position: relative;
                top: -1px;
                background-color: transparent;
                border: none;

                span {
                    font-size: 100% !important;
                }

                &:hover, &:focus {
                    color: lighten($color-p1, 25%);
                    background-color: transparent;
                    border: none;
                }
            }
        }
    }

    .settings-links {
        @include small();
        @include text-right();
        margin-top: 0px; // beta 5.0 addition
        @media (max-width: $screen-xs-max) {
            @include text-right(); // beta 5.0 addition
            padding-right: 0;
        }

        @media (min-width: $screen-xs-max) and (max-width: $screen-sm-max) {
            padding-right: 0;
        }

        @media (min-width: $screen-md-min) {
            padding-right: 5px;
        }
    }

    [class^="ca-gov-icon-"] {
        @include font-size(1.1);
        vertical-align: -2px;
    }

    @media (max-width: $screen-xs-max) {
        .container {
            max-width: 100%;
        }

        .social-media-links {
            li {
                padding: 0 1px;
            }
        }

        [class^="ca-gov-icon-"] {
            @include font-size(0.8);
        }
    }

    .located-city-name {
        margin-left: 5px;
    }

    .geo-zip-input {
        margin-left: 5px;
        width: 50%;
        vertical-align: initial;
        line-height: 120%;
        background: white;
        color: black;
    }
}

//
// FLEX UTILITY
// --------------------------------------------------

.utility-header {
    .flex-row {
        display: flex;

        .social-media-links {
            display: flex;
            flex-direction: row;
            justify-content: flex-start;

            .header-cagov-logo {
                @media (min-width: $screen-md-min) {
                    margin-right: 20px;
                    padding-left: 20px;
                }

                @media (min-width: $screen-xs-max) and (max-width: $screen-sm-max) {
                    margin-right: 20px;
                    padding-left: 15px;
                }

                @media (max-width: $screen-xs-max) {
                    margin-right: 15px;
                    padding-left: 15px;
                }

                a {
                    margin: 0;
                    padding-top: 0;
                }
            }

            a {
                margin: 0px 10px 0 10px;


                @media (max-width: $screen-xs-max) {
                    margin: 0px 4px 0 4px;
                }
            }

            > a {
                padding-top: 7px; // links with icons
            }

            @media (max-width: $screen-xs-max) {
                [class^="ca-gov-icon-"] {
                    font-size: 1rem;
                }
            }
        }

        .settings-links {
            display: flex;
            flex-wrap: wrap;
            margin-left: auto; // justify to the right
            align-items: baseline; // make items vertically centered
            justify-content: flex-end;
            padding-top: 3px;

            a {
                margin: 0 10px 0 10px;




                @media (max-width: $screen-xs-max) {
                    margin: 5px 4px 0 4px;
                    padding: 0;
                }
            }

            button {
                margin: 0 4px 0 4px;
            }
        }
    }
}
//
// HIDE UTILITY HEADER IN HEADER COMPACT MODE
// --------------------------------------------------

/* .global-header.compact {
    .utility-header {
        opacity: 0;
        position: absolute;
        width: 100%;
        height: 0;
    }
} */
