/* -----------------------------------------
   TOP NAVIGATION
   /source/scss/cagov/utility-header.scss
----------------------------------------- */

.utility-header {
    //position:absolute;
    top: 0;
    width: 100%;
    min-height: 38px; // beta 6.0 addition
    @media (max-width: $screen-xs-max) {
        min-height: 40px; // beta 6.0 addition
        .container {
            max-width: 100%;
        }
    }

    .half {
        @include make-sm-column(6);
        padding-top: 0; // beta 6.0 addition
        padding-left: 15px; // beta 5.0 addition
        @media (max-width: $screen-xs-max) {
            padding-top: 2px; // beta 5.0 addition
            float: left;

            &:first-child {
                padding-left: 15px;
                padding-right: 0 !important;
                width: 50%;
            }

            &:nth-child(2) {
                padding-left: 0 !important;
                width: 50%;
            }
        }
    }

    a {
        display: inline-block;
        padding: 0;

        &:hover, &:focus, &.hovered {
            text-decoration: none;
        }
    }

    ul {
        @include list-unstyled();
        @include list-inline();
        margin-bottom: 0;

        li {
            padding: 0 8px;

            button {
                font-size: 100%;
                outline: none !important;
                position: relative;
                top: -1px;
                background-color: transparent;
                border: none;

                span {
                    font-size: 100% !important;
                }

                &:hover, &:focus {
                    color: lighten($color-p1, 25%);
                    background-color: transparent;
                    border: none;
                }
            }
        }
    }

    .settings-links {
        @include font-size(1); // font size
        @include text-right();
        @media (max-width: $screen-xs-max) {
            @include font-size(0.9); // font size
            @include text-right(); // beta 5.0 addition
            padding-right: 0;
        }

        @media (min-width: $screen-xs-max) and (max-width: $screen-sm-max) {
            padding-right: 0;
        }

        @media (min-width: $screen-md-min) {
            padding-right: 5px;
        }
    }

    [class^="ca-gov-icon-"] {
        @include font-size(1.1);
        vertical-align: -2px;
    }

    @media (max-width: $screen-xs-max) {

        .social-media-links {
            li {
                padding: 0 5px;
            }
        }

        .header-cagov-logo img {
            left: 10px;
        }
    }

    .located-city-name {
        margin-left: 5px;
    }

    .geo-zip-input {
        margin-left: 5px;
        width: 50%;
        vertical-align: initial;
        line-height: 120%;
        background: white;
        color: black;
    }
}


.header-cagov-logo img { // Beta 5.0 addition
    left: 27px;

    @media (max-width: $screen-md-max) {
        left: 5px;
    }
}




/* Utility header when using full width menu with icons */

.nav-full-width-icons .utility-header {
    min-height: 60px;

    a {
        padding: 0px;
    }

    .header-cagov-logo {
        position: relative;
        width: 1px;
        height: 1px;

        img {
            height: 45px;
            position: relative;
            top: 5px;
            left: 0px;
        }
    }

    .header-organization-banner {
        padding-left: 90px;
        min-height: 60px;
    }
}


// Desktop view
@media (min-width: $screen-sm-min) {

    .nav-full-width-icons .header-organization-banner a img {
        width: 100%;
        max-width: 300px;
        max-height: 60px;
        object-fit: contain !important;
        object-position: left;
    }

    // fixed mode
    .nav-full-width-icons.fixed.compact .header-organization-banner a {
        max-width: inherit;

        img {
            max-height: 60px !important;
        }
    }


    .nav-full-width-icons .settings-links {
        margin-top: -52px;

        a, button {
            padding: 8px 10px 8px 10px;
            border: 1px solid #fff;
            border-radius: 3px;
            color: #fff;

            &:hover, &:focus {
                border: 1px solid #fff;
            }
        }
    }
}

// Mobile view
@media (max-width: $screen-xs-max) {
    .nav-full-width-icons {

        .header-organization-banner img {
            width: 100%;
            max-width: 300px;
            max-height: 70px;
            object-fit: contain !important;
            object-position: left;
        }

        .utility-header {
            height: 60px;
        }

        .settings-links {
            .utility-links {
                text-align: left;
                position: relative;
                top: 20px;
                z-index: 9;

                a, button {
                    padding: 8px 10px 8px 10px;
                    border: 1px solid $color-p2;
                    border-radius: 3px;
                    color: $color-p2;
                }
            }
        }

        .mobile-controls {
            background-color: transparent;
            float: right;
            width: 50%;
            position: relative;
            z-index: 9;
        }
    }
}


//
// FLEX UTILITY
// --------------------------------------------------

.utility-header {
    .flex-row {
        display: flex;

        .social-media-links {
            display: flex;
            flex-direction: row;
            justify-content: flex-start;
            min-height: 38px;
            align-items: center; // make items vertically centered
            .header-cagov-logo {
                margin-right: 20px;
                margin-left: 20px;
                min-height: 34px;

                img {
                    left: 0;
                    height: 34px;
                }

                @media (min-width: $screen-xs-max) and (max-width: $screen-sm-max) {
                    margin-right: 15px;
                    margin-left: 15px;
                }

                @media (max-width: $screen-xs-max) {
                    margin-right: 15px;
                    margin-left: 15px;
                }

                a {
                    margin: 0;
                    padding-top: 0;
                }
            }

            a {
                margin: 0px 10px 0 10px;


                @media (max-width: $screen-xs-max) {
                    margin: 4px 4px 0 4px;
                }
            }


            @media (max-width: $screen-xs-max) {
                [class^="ca-gov-icon-"] {
                    font-size: 1rem;
                }
            }
        }

        .settings-links {
            display: flex;
            flex-wrap: wrap;
            margin-left: auto; // justify to the right
            align-items: center; // make items vertically centered
            justify-content: flex-end;
            min-height: 38px;

            a {
                margin: 0 10px 0 10px;
                font-size: .9em;




                @media (max-width: $screen-xs-max) {
                    margin: 0 4px 0 4px;
                    padding: 0;
                }
            }

            button {
                margin: 0 4px 0 4px;
            }
        }
    }
}
