/* -----------------------------------------
   ALERT
   /source/scss/colortheme/cs-alert.scss
----------------------------------------- */

.alert-banner {
 background-color: $color-p3;
 color: $white;
 a:not(.btn), .close {
  color: $white;
  &:focus, &:hover {
   color: $color-p1;
  }
 }
}


.alert-warning {
 color: $alert-warning-text;
 background-color: $alert-warning-bg;
 a:not(.btn), .close {
  color: $alert-warning-text;
  &:focus, &:hover {
   color: darken($alert-warning-text, 7%);
  }
 }
}

.alert-info {
 color: $alert-info-text;
 background-color: $alert-info-bg;
 a:not(.btn), .close {
  color: $alert-info-text;
  &:focus, &:hover {
   color: darken($alert-info-text, 14%);
  }
 }
}

.alert-danger {
 color: $alert-danger-text;
 background-color: $alert-danger-bg;
 a:not(.btn), .close {
  color: $alert-danger-text;
  &:focus, &:hover {
   color: darken($alert-danger-text, 14%);
  }
 }
}

.alert-success {
 color: $alert-success-text;
 background-color: $alert-success-bg;
 a:not(.btn), .close {
  color: $alert-success-text;
  &:focus, &:hover {
   color: darken($alert-success-text, 14%);
  }
 }
}

.alert-severe {
 color: $gray-800 !important;
 background-color: $color-p1;
 a:not(.btn), .close {
  color: $gray-800 !important;
  &:focus, &:hover {
   color: $black !important;
  }
 }
}




