/* -----------------------------------------
   CARDS
   /source/scss/colortheme/cs-executive-profile.scss
----------------------------------------- */
.executive-profile {
 background-color: $color-s1;
}
.executive-profile.dark {
 .executive-profile-body {
  border-left-color: $white;
 }
 p, .executive-name, a {
  color: $white;
 }
a:hover, a:focus {
 color: $color-p1;
}
}
