/* -----------------------------------------
   LAYOUT
   /source/scss/colortheme/cs-layout.scss
----------------------------------------- */

/* Primary page with/without two-column */
.primary {
  /* Primary page with two column */
  &.two-column {
    /* Main content contains 2col bg and footer bg */
    .main-content {
      background-color: #fff;
    }
  }
}
