/* -----------------------------------------
   PANELS
   /source/scss/colortheme/cs-location.scss
----------------------------------------- */

.location.mini {
  [class^="ca-gov-icon"] {
    background: $color-p3;
    color: contrast($color-p3);
  }
}
