/* -----------------------------------------
   LINK GRID
   /source/scss/colortheme/cs-link-grid.scss
----------------------------------------- */

.link-grid {
 color: $color-p2;
 border-bottom: 4px solid $color-p2;
 &:hover,
 &:focus {
  color: darken($color-p2, 7%);
 }
}
