/* -----------------------------------------
   NAVIGATION
   /source/scss/colortheme/cs-navigation.scss
----------------------------------------- */

//
// NAVIGATION ACTIVE STYLE
// --------------------------------------------------
.nav-item,
nav-item-search {
  &.active {
    > a,
    .first-level-btn,
    .first-level-link {
      color: $color-p2;
      //border-bottom:5px solid $color-p2;
      //margin-bottom:-5px;
      > span[class^="ca-gov-icon"] {
        color: $gray-900;
      }
    }
  }

  &:hover,
  &:focus {
    @media (min-width: $screen-sm-min) {
      background-color: $sub-nav-bg;
    }

    > a,
    .first-level-btn,
    .first-level-link {
      color: $color-p2;

      > span[class^="ca-gov-icon"] {
        color: $gray-900;
      }
    }
  }
}

.nav-arrow-down {
  background: $color-p2;
}

//
// FIRST LEVEL LINKS
// --------------------------------------------------

.first-level-link,
.first-level-btn {
  color: $color-p2;

  > span[class^="ca-gov-icon"]:not(.carrot) {
    /* Navigation icons */
    color: $gray-700;
  }

  &:hover,
  &:focus {
    color: $gray-900;
  }
  // 991
  @media (max-width: $screen-sm-max) {
    &.active {
      background-color: $mobile-drawer-active !important;
      color: $white !important;
      &:hover,
      &:focus {
        background-color: $mobile-drawer !important;
        color: $white !important;
      }
      &::before,
      &::after {
        border-left: none !important;
      }
    }

    &:hover,
    &:focus {
      background-color: $mobile-drawer-active !important;
      color: $white !important;
    }
  }
}

//
// SECOND LEVEL LINKS
// --------------------------------------------------

.second-level-link {
  color: $color-p2;

  [class^="ca-gov-icon-"] {
    color: $gray-700;
  }
  // 991px
  @media (max-width: $screen-sm-max) {
    background-color: $mobile-drawer;
    &.active {
      background-color: $mobile-drawer-active;
      &:hover,
      &:focus {
        background-color: $mobile-drawer;
      }
    }
  }
}

.second-level-nav {
  > li {
    border: 1px solid transparent;
    border-right: 4px solid $white; // beta 6.0 addition
    border-bottom: 4px solid $white; // beta 6.0 addition

    &:hover,
    &:focus {
      background: #fff;
    }

    @media (max-width: $screen-sm-max) {
      border: none; // beta 5.0 addition (for accessible menu)
      border-top: 1px solid $gray-200;

      &:hover,
      &:focus {
        background: lighten($sub-nav-bg, 2%);
      }
    }
  }

  .link-description {
    color: $gray;
  }
}

//
// SUB NAV CONTAINER
// --------------------------------------------------

.sub-nav {
  // border-top: 5px solid $color-p1;
  // border-bottom: 5px solid $color-p2;
  // border-left: 1px solid $gray-lighter;
  // border-right: 1px solid $gray-lighter;
  background: $white;
}

@media (max-width: $screen-xs-max) {
  .sub-nav {
    border-top: none;
    border-bottom: none;
  }
}

//
// MEDIA IN SUB NAV
// --------------------------------------------------

.nav-media {
  background: $sub-nav-media-bg;

  .media:hover {
    background: #fff;
  }

  // Add the border to the first one only
  .media {
    border-bottom: 4px solid $white;

    @media (max-width: $screen-xs-max) {
      border-bottom: 4px solid $white;

      &:hover,
      &:focus {
        background: lighten($sub-nav-bg, 2%);
      }
    }
  }
}

// Accessible menu
// beta 5.0 addition (for accessible menu)
@media (min-width: $screen-sm-min) {
  .nav-item {
    &::after {
      background-color: transparent;
    }

    &:hover::after,
    &:focus::after {
      background-color: $color-p2;
    }
  }
  /*full width navigation*/
  .nav-full-width {
    background: $color-p2;

    .main-navigation .nav-item:hover,
    .main-navigation .nav-item:focus,
    .main-navigation .nav-item.active:hover {
      background-color: darken($color-p2, 8%);
    }

    .main-navigation .nav-item.active {
      background-color: darken($color-p2, 5%);
    }
  }
}

.has-sub .rotate {
  color: $color-p2;
}

/* Dark Mobile menu */
@media (max-width: $screen-sm-max) {
  .navigation-search {
    background-color: $mobile-drawer;
  }
}
