/* -----------------------------------------
   PROGRESS BARS
   /source/scss/colortheme/cs-progress-bar.scss
----------------------------------------- */

/* Traditional Colors */

.progress-bar-default {
  @include progress-bar-variant($gray-lighter);
}

.progress-bar-primary {
  @include progress-bar-variant($color-p2);
}

.progress-bar-understated {
  @include progress-bar-variant($color-s1);
}

.progress-bar-overstated {
  @include progress-bar-variant($color-s3);
}

.progress-bar-standout {
  @include progress-bar-variant($color-p3);
}

/* Accent Colors */

.progress-bar-accent1 {
  @include progress-bar-variant($color-a1);
}

.progress-bar-accent1 {
  @include progress-bar-variant($color-a1);
}

.progress-bar-accent2 {
  @include progress-bar-variant($color-a2);
}

.progress-bar-accent3 {
  @include progress-bar-variant($color-a3);
}

.progress-bar-accent4 {
  @include progress-bar-variant($color-a4);
}

.progress-bar-accent5 {
  @include progress-bar-variant($color-a5);
}

.progress-bar-accent6 {
  @include progress-bar-variant($color-a6);
}

.progress-bar-accent7 {
  @include progress-bar-variant($color-a7);
}

.progress-bar-accent8 {
  @include progress-bar-variant($color-a8);
}

.progress-bar-accent9 {
  @include progress-bar-variant($color-a9);
}
