/* -----------------------------------------
   PAGE NAVIGATION
   /source/scss/colortheme/cs-page-navigation.scss
----------------------------------------- */

.side-navigation ul,
.list-navigation {
  li {
    a {
      color: $gray-700;
      &:hover,
      &:hover {
        color: $gray-900;
      }
      &.active {
        &:before {
          border-left-color: $color-p1;
        }
      }
    }
    ul li a.active::before {
      border-left-color: $color-p1;
    }
  }
}

a.sidenav {
  color: $gray-700;
  &:hover,
  &:hover {
    color: $gray-900;
  }
  &.active {
    &:before {
      border-left-color: $color-p1;
    }
  }
}

/* side navigation */

.list-group-item {
  &.active {
    background-color: $color-p2;
    border-color: $color-p2;
    &:hover {
      background-color: darken($color-p2, 7%) !important;
      border-color: darken($color-p2, 7%);
    }
  }
}

.list-group.section-standout {
  .list-group-item,
  .list-group-item > button {
    background-color: $color-p3 !important;
    color: contrast($color-p3) !important;

    &:hover,
    &:focus,
    &.open {
      background: darken($color-p3, 7%) !important;
      color: contrast($color-p3) !important;
    }

    &.active {
      background-color: #fff !important;
      border-color: $color-p3;
      color: $color-p3 !important;
      &:hover,
      &:focus {
        background-color: #f8f9fa !important;
        border-color: $color-p3;
      }
    }
  }
}

.list-group.section-overstated {
  .list-group-item,
  .list-group-item > button {
    background: $color-p2 !important;
    color: contrast($color-p2) !important;

    &:hover,
    &:focus,
    &.open {
      background: darken($color-p2, 7%) !important;
      color: contrast($color-p2) !important;
    }
    &.active {
      background-color: #fff !important;
      border-color: $color-p2;
      color: $color-p2 !important;
      &:hover,
      &:focus {
        background-color: #f8f9fa !important;
        border-color: $color-p2;
      }
    }
  }
}

.list-group.section-impact {
  .list-group-item,
  .list-group-item > button {
    background: $color-p3 !important;
    color: contrast($color-p3) !important;

    &:hover,
    &:focus {
      background: darken($color-p3, 7%) !important;
      color: contrast($color-p3) !important;
    }
    &.active {
      background-color: #fff !important;
      border-color: $color-p3;
      color: $color-p3 !important;
      &:hover,
      &:focus {
        background-color: #f8f9fa !important;
        border-color: $color-p3;
      }
    }
  }
}

.list-group.section-primary {
  .list-group-item,
  .list-group-item > button {
    background: $color-p2 !important;
    color: contrast($color-p2) !important;

    &:hover,
    &:focus,
    &.open {
      background: darken($color-p2, 7%) !important;
      color: contrast($color-p2) !important;
    }
    &.active {
      background-color: #fff !important;
      border-color: $color-p2;
      color: $color-p2 !important;
      &:hover,
      &:focus {
        background-color: #f8f9fa !important;
        border-color: $color-p2;
      }
    }
  }
}

.list-group.section-inverted {
  .list-group-item,
  .list-group-item > button {
    background: $gray-darker !important;
    color: #fff !important;

    &:hover,
    &:focus,
    &.open {
      background: darken($gray-darker, 7%) !important;
      color: #fff !important;
    }

    &.active {
      background-color: #fff !important;
      border-color: $color-p3;
      color: $color-p3 !important;
      &:hover,
      &:focus {
        background-color: #f8f9fa !important;
        border-color: $color-p3;
      }
    }
  }
}

.list-group.section-danger {
  .list-group-item,
  .list-group-item > button {
    background: $brand-danger !important;
    color: contrast($brand-danger) !important;

    &:hover,
    &:focus,
    &.open {
      background: darken($brand-danger, 7%) !important;
      color: contrast($brand-danger) !important;
    }

    &.active {
      background-color: #fff !important;
      border-color: $brand-danger;
      color: $brand-danger !important;
      &:hover,
      &:focus {
        background-color: #f8f9fa !important;
        border-color: $brand-danger;
      }
    }
  }
}

.list-group.section-understated {
  .list-group-item,
  .list-group-item > button {
    background: $color-s1 !important;

    &:hover,
    &:focus,
    &.open {
      background: darken($color-s1, 7%) !important;
    }
    &.active {
      background-color: $color-p2 !important;
      border-color: $color-p2;
      color: $white !important;
      &:hover,
      &:focus {
        background-color: darken($color-p2, 7%) !important;
        border-color: darken($color-p2, 7%) !important;
      }
    }
  }
}

.list-group.section-default {
  .list-group-item,
  .list-group-item > button {
    background: $gray-lightest !important;

    &:hover,
    &:focus,
    &.open {
      background: darken($gray-lightest, 7%) !important;
    }

    &.active {
      background-color: $color-p2 !important;
      border-color: $color-p2;
      color: $white !important;
      &:hover,
      &:focus {
        background-color: darken($color-p2, 7%) !important;
        border-color: darken($color-p2, 7%) !important;
      }
    }
  }
}
