/* -----------------------------------------
   BACK-TO-TOP / RETURN TOP
   /source/scss/colortheme/cs-return-top.scss
----------------------------------------- */

.return-top {
  border-color: $color-p2;
  color: $color-p2;
  &.is-visible {
    &:hover,
    &:focus {
      color: darken($color-p2, 7%);
      border-color: darken($color-p2, 7%);
    }
  }
}
