/* -----------------------------------------
   TABS
   /source/scss/colortheme/cs-tabs.scss
----------------------------------------- */

.tab-group {
  background: $nav-tabs-active-link-hover-bg;

  .nav-tabs {
    background: $panel-default-header-bg;
  }
}

.tabs {
  [role="tablist"] [aria-selected] {
    &::after {
      border-color: $color-p1;
    }
  }
}

.nav-tabs .nav-link.active {
  &::after {
    border-color: $color-p1;
  }
}
@media (max-width: $screen-xs-max) {
  .responsive .tab-pane .card-header a[aria-expanded="true"]::before {
    border-left-color: $color-p1;
  }
}
