/* -----------------------------------------
   ACCENT TEXT
   /source/scss/colortheme/cs-text-accent.scss
----------------------------------------- */

.text {
  &-accent1 {
    color: $color-a1 !important;
  }

  &-accent2 {
    color: $color-a2 !important;
  }

  &-accent3 {
    color: $color-a3 !important;
  }

  &-accent4 {
    color: $color-a4 !important;
  }

  &-accent5 {
    color: $color-a5 !important;
  }

  &-accent6 {
    color: $color-a6 !important;
  }

  &-accent7 {
    color: $color-a7 !important;
  }

  &-accent8 {
    color: $color-a8 !important;
  }

  &-accent9 {
    color: $color-a9 !important;
  }

  // PRIMARY COLORS
  &-accent-p1 {
    color: $color-p1 !important;
  }

  &-accent-p2 {
    color: $color-p2 !important;
  }

  &-accent-p3 {
    color: $color-p3 !important;
  }

  // SECONDARY COLORS
  &-accent-s1 {
    color: $color-s1 !important;
  }

  &-accent-s2 {
    color: $color-s2 !important;
  }

  &-accent-s3 {
    color: $color-s3 !important;
  }
}

.color-primary--hover:hover {
  color: $color-p2;
}
.bg-primary--hover:hover {
  background-color: $color-p2;
}

// badges
.label-primary {
  color: $black;
  background-color: $gray-100;
  border-radius: 0;
}

.label-info {
  color: #fff;
  background-color: $color-p2;
}

.label-secondary {
  color: $text-color;
  background-color: $color-s2;
}

.label-light {
  color: $text-color;
  background-color: $color-s1;
}
.label-dark {
  color: #fff;
  background-color: $color-p3;
}
.label-warning {
  color: $text-color;
  background-color: $color-p1;
}

.text-highlight-primary {
  background-color: $color-s1;
}

.text-highlight-warning {
  background-color: lighten($color-p1, 32%);
}

.text-highlight-dark {
  color: #fff;
  background-color: $color-p3;
}
