/* -----------------------------------------
   UTILITY HEADER
   /source/scss/colortheme/cs-utility.scss
----------------------------------------- */

.utility-header {
  background: $color-s1;
  color: $black;

  .social-media-links {
    a {
      color: $black;
      text-decoration: none;
      &:hover,
      &:focus {
        color: $gray-800;
      }
    }
  }

  .settings-links {
    button {
      color: $black;
      &:hover,
      &:focus {
        color: $gray-800;
      }
    }
  }

  a {
    color: $black;

    &:hover,
    &:focus,
    &.hovered {
      color: $gray-800;
    }
  }

  ul {
    li {
      padding: 0 8px;

      button {
        color: $black;
        &:hover,
        &:focus {
          color: $gray-800;
        }
      }
    }
  }
}

.site-settings {
  background-color: darken($color-s1, 7%) !important;
}
