/* -----------------------------------------
   SANTABARBARA
----------------------------------------- */

//
// VARIABLES
// --------------------------------------------------

// Theme directory
$theme-directory: "#{$template-path}/santabarbara"; // Folder where assets for theme are stored

// Primary Theme colors
$color-p1: #ff9b53; // Gold
$color-p2: #834b1e; // Rust
$color-p3: #664945; // Brown Violet

// Secondary Theme colors
$color-s1: #f8eee4; // Lightest Gold
$color-s2: #f1dac2; // Lighter Gold
$color-s3: #e8bd90; // Light Gold

// Accent Colors
$color-a1: #1b79c0; // Dark Blue
$color-a2: #077cbb; // Med Blue
$color-a3: #258378; // Teal
$color-a4: #32852e; // Green $brand-success
$color-a5: #815ab4; // Purple
$color-a6: #be37cd; // Lavender
$color-a7: #c93e2c; // Red $brand-danger
$color-a8: #bb520c; // Orange $brand-warning
$color-a9: #f7e455; // Yellow

// Module or theme specific variables
$nav-first-level: #fff; // Color of navigation links
$nav-second-level: $text-color; // Second level link colors
$off-canvas-links: #fff; // Off Canvas link color
$search-accent: $color-p1; // Search field input hover border
$nav-accent: $color-p1; // Link hover and nav bar bottom line
$body-color: #07537b; // Background base and typically the page edge border
$body-midline: $color-s2; // Midline gradient color
$edge-border: $body-color; // Applied to outer edge of the page
$header-icon: $color-p2; // Icon left of main content H1
$mobile-controls: $gray-600; // Mobile controls
$footer-txt: #fff; // Color of text and links in the footer

$panel-border: #ddd;

$overstated-header-bg: $color-p2; // Background for panel header
$overstated-header-txt: #fff; // Panel header text color
$overstated-header-icon: #fff; // Panel header icon color
$overstated-header-border: darken(
  $color-p2,
  10%
); // Panel header bottom border color
$overstated-border: $panel-border; // Border surrounding entire panel
$overstated-body-bg: $color-s1; // Panel body background

$panel-default-header-bg: $color-s3; // Background for panel header
$panel-default-header-txt: $text-color; // Panel header text color
$panel-default-header-icon: $color-p3; // Panel header icon color
$panel-default-header-border: $panel-border; // Panel header bottom border color
$panel-default-border: $panel-border; // Border surrounding entire panel
$panel-default-body-bg: #fff; // Panel body background

$sidebar-default-header-bg: $color-s2; // Background for panel header
$sidebar-default-header-txt: $text-color; // Panel header text color
$sidebar-default-header-icon: $color-p3; // Panel header icon color
$sidebar-default-header-border: $panel-border; // Border between header and body
$sidebar-default-border: $panel-border; // Border on top
$sidebar-default-body-bg: #fff; // Panel body background

$understated-header-bg: $color-s1; // Background for panel header
$understated-header-txt: $text-color; // Panel header text color
$understated-header-icon: $color-p3; // Panel header icon color
$understated-header-border: $panel-border; // Panel header bottom border color
$understated-border: $panel-border; // Border surrounding entire panel
$understated-body-bg: #fff; // Panel body background

$standout-header-bg: $color-p3; // Background for panel header
$standout-header-txt: #fff; // Panel header text color
$standout-header-icon: $color-p1; // Panel header icon color
$standout-header-border: $color-p1; // Panel header bottom border color
$standout-border: $panel-border; // Border surrounding entire panel
$standout-body-bg: $color-s1; // Panel body background

$figure-border: $color-s2; // Border around media captions
$figure-bg: $color-s1; // Background behind figure and caption

// MEGAMENU
$sub-nav-bg: lighten($color-s1, 6.5%);
$sub-nav-link-border: $gray-lighter;
$sub-nav-media-bg: transparent;

// SEARCH
$expanded-background-color: $gray-lighter;
$text-field-color: rgba(255, 255, 255, 0.8); // 80% white

// UTILITY
$utility-link-hover-color: lighten($color-p1, 35%);

// MOBILE DRAWER BACKGROUND
$mobile-drawer: $color-p3;
