

/* -----------------------------------------
   SIERRA
----------------------------------------- */

//
// VARIABLES
// --------------------------------------------------

// Theme directory
$theme-directory:       "#{$template-path}/sierra";      // Folder where assets for theme are stored

// Primary Theme colors
$color-p1:              #fbad23;        // Gold
$color-p2:              #447766;        // Medium green
$color-p3:              #194949;        // Dark green

// Secondary Theme colors
$color-s1:              #e8f1ee;        // Lightest green
$color-s2:              #daefe8;        // Lighter green
$color-s3:              #a1cca1;        // Light green

// Accent Colors
$color-a1: #1B79C0; // Dark Blue
$color-a2: #077CBB; // Med Blue
$color-a3: #258378; // Teal
$color-a4: #32852E; // Green $brand-success
$color-a5: #815ab4; // Purple
$color-a6: #BE37CD; // Lavender
$color-a7: #C93E2C; // Red $brand-danger
$color-a8: #BB520C; // Orange $brand-warning
$color-a9: #f7e455; // Yellow

// Module or theme specific variables
$nav-first-level:       #fff;           // Color of navigation links
$nav-second-level:      $text-color;    // Second level link colors
$off-canvas-links:      #fff;           // Off Canvas link color
$search-accent:         $color-p1;      // Search field input hover border
$nav-accent:            $color-p1;      // Link hover and nav bar bottom line
$body-color:            #1d4d4c;        // Background base and typically the page edge border
$body-midline:          $color-s3;      // Midline gradient color
$edge-border:           $body-color;    // Applied to outer edge of the page
$header-icon:           $color-p2;      // Icon left of main content H1
$mobile-controls:				$gray-600;	    // Mobile controls
$footer-txt:            #fff;           // Color of text and links in the footer

$panel-border:        #ddd;

$overstated-header-bg:          $color-p2;      // Background for panel header
$overstated-header-txt:         #fff;           // Panel header text color 
$overstated-header-icon:        #fff;           // Panel header icon color  
$overstated-header-border:      $color-p2;     // Panel header bottom border color 
$overstated-border:             $panel-border;       // Border surrounding entire panel
$overstated-body-bg:            $color-s1;      // Panel body background

$panel-default-header-bg:       $color-s3;      // Background for panel header
$panel-default-header-txt:      $text-color;       // Panel header text color
$panel-default-header-icon:     $color-p3;      // Panel header icon color 
$panel-default-header-border:   $panel-border;       // Panel header bottom border color 
$panel-default-border:          $panel-border;       // Border surrounding entire panel
$panel-default-body-bg:         $color-s1;      // Panel body background

$sidebar-default-header-bg:     $color-s2;      // Background for panel header
$sidebar-default-header-txt:    $text-color;        // Panel header text color
$sidebar-default-header-icon:   $color-p3;      // Panel header icon color
$sidebar-default-header-border: $panel-border;       // Panel header bottom border color  
$sidebar-default-border:        $panel-border;       // Border surrounding entire panel
$sidebar-default-body-bg:       $color-s1;      // Panel body background

$understated-header-bg:         $color-s1;      // Background for panel header
$understated-header-txt:        $text-color;    // Panel header text color
$understated-header-icon:       $color-p3;      // Panel header icon color 
$understated-header-border:     $color-s1;            // Panel header bottom border color  
$understated-border:            $panel-border;            // Border surrounding entire panel
$understated-body-bg:           #fff;      // Panel body background

$standout-header-bg:            $color-p3;      // Background for panel header
$standout-header-txt:           #fff;           // Panel header text color
$standout-header-icon:          $color-p1;      // Panel header icon color
$standout-header-border:        $color-p3;      // Panel header bottom border color 
$standout-border:               $panel-border;            // Border surrounding entire panel
$standout-body-bg:              $color-s1;      // Panel body background

$figure-border:                 $color-s2;      // Border around media captions
$figure-bg:                     $color-s1;      // Background behind figure and caption

// MEGAMENU
$sub-nav-bg: lighten($color-s1, 2%);
$sub-nav-link-border:           $gray-lighter;
$sub-nav-media-bg:              transparent;

// SEARCH
$expanded-background-color: $gray-lighter;
$text-field-color: rgba(255, 255, 255, 0.8); // 80% white

// UTILITY
$utility-link-hover-color: lighten($color-p1, 35%);

