<h3 class="m-t">Standard accessibility review</h3>
<p>Each time a new component version is published:</p>
<ul>
 <li>Test with the <a href="https://www.deque.com/axe/" target="_blank">axe
   accessibility tool</a></li>
 <li>Review with the <a href="https://www.apple.com/voiceover/info/guide/_1121.html" target="_blank">VoiceOver</a> or <a
   href="https://www.nvaccess.org/download/" target="_blank">NVDA</a> screen reader</li>
 <li>Ensure all actionable elements are accessible by keyboard command and tab in a logical order</li>
 <li>Check the component layout on a variety of screen sizes</li>
</ul>