<ol data-aria-accordion data-multi data-transition data-default="none">
  <li>
    <h3 data-aria-accordion-heading>List heading number 1</h3>
    <div data-aria-accordion-panel>
      <p>
        Use this space to offer visitors more detail. You can also link to
        additional resources.
      </p>
    </div>
  </li>
  <li>
    <h3 data-aria-accordion-heading>List heading number 2</h3>
    <div data-aria-accordion-panel>
      <p>
        Use this space to offer visitors more detail. You can also link to
        additional resources.
      </p>
    </div>
  </li>
  <li>
    <h3 data-aria-accordion-heading>List heading number 3</h3>
    <div data-aria-accordion-panel>
      <p>
        Use this space to offer visitors more detail. You can also link to
        additional resources.
      </p>
    </div>
  </li>
</ol>
