<cagov-accordion class="sidenav">
 <details open>
  <summary class="active">Accordion</summary>
  <div class="accordion-body">
   <ul class="side-subnav">
    <li>
     <a href="#">Basic Accordion</a>
    </li>
    <li>
     <a href="#">Side navigation accordion</a>
    </li>
    <li>
     <a href="#">List Accordion</a>
    </li>
   </ul>
  </div>
 </details>
</cagov-accordion>
<cagov-accordion class="sidenav">
 <details>
  <summary>Buttons</summary>
  <div class="accordion-body">
   <ul class="side-subnav">
    <li>
     <a href="#" class="active">Links as Buttons</a>
    </li>
    <li>
     <a href="#">Buttons as Buttons</a>
    </li>
    <li>
     <a href="#">Disabled Buttons</a>
    </li>
   </ul>
  </div>
 </details>
</cagov-accordion>
<cagov-accordion class="sidenav">
 <details>
  <summary>Form Styles</summary>
  <div class="accordion-body">
   <ul class="side-subnav">
    <li>
     <a href="#">Contact form sample</a>
    </li>
    <li>
     <a href="#">File input</a>
    </li>
    <li>
     <a href="#">Radio buttons and checkboxes</a>
    </li>
   </ul>
  </div>
 </details>
</cagov-accordion>