<cagov-accordion>
 <details>
  <summary>Add a short, descriptive heading for your topic</summary>
  <div class="accordion-body">
   <p>A couple link are included inside this accordion to demonstrate that when the accordion is closed they are
    automatically not in the keyboard focus order but when the accordion opens they become the next available elements
    in the keyboard navigation sequence after the accordion's summary element.</p>
   <ul class="list-primary">
    <li><a href="#">Link one</a></li>
    <li><a href="#">Link two</a></li>
   </ul>
  </div>
 </details>
</cagov-accordion>
<cagov-accordion>
 <details>
  <summary>If your heading must be longer, the accordion will wrap to multiple lines within the container like this
  </summary>
  <div class="accordion-body">
   <p>Once open, the content within the accordion should describe the topic in more detail. It should not repeat the
    heading.</p>
  </div>
 </details>
</cagov-accordion>
<cagov-accordion>
 <details>
  <summary>This heading tells users what’s inside the accordion</summary>
  <div class="accordion-body">
   <p>Once open, the content within the accordion should describe the topic in more detail. It should not repeat the
    heading.</p>
  </div>
 </details>
</cagov-accordion>