<cagov-accordion class="sidenav">
 <details open>
  <summary class="active">Accordion</summary>
  <div class="accordion-body">
   <ul class="side-subnav">
    <li>
     <a href="javascript:;">Basic Accordion</a>
    </li>
    <li>
     <a href="javascript:;">Side navigation accordion</a>
    </li>
    <li>
     <a href="javascript:;">List Accordion</a>
    </li>
   </ul>
  </div>
 </details>
</cagov-accordion>
<cagov-accordion class="sidenav">
 <details>
  <summary>Buttons</summary>
  <div class="accordion-body">
   <ul class="side-subnav">
    <li>
     <a href="javascript:;" class="active">Links as Buttons</a>
    </li>
    <li>
     <a href="javascript:;">Buttons as Buttons</a>
    </li>
    <li>
     <a href="javascript:;">Disabled Buttons</a>
    </li>
   </ul>
  </div>
 </details>
</cagov-accordion>
<cagov-accordion class="sidenav">
 <details>
  <summary>Form Styles</summary>
  <div class="accordion-body">
   <ul class="side-subnav">
    <li>
     <a href="javascript:;">Contact form sample</a>
    </li>
    <li>
     <a href="javascript:;">File input</a>
    </li>
    <li>
     <a href="javascript:;">Radio buttons and checkboxes</a>
    </li>
   </ul>
  </div>
 </details>
</cagov-accordion>