<div class="header-primary-banner d-flex justify-content-center align-items-center"
 style="background-image: url('/images/main-banner10.jpg');">
 <div class="container p-y-lg">
  <div class="row">
   <div class="col-sm color-white text-center p-a-lg">

    <h2 class="text-3rem m-t-0 overflow-visible">Title</h2>
    <p class="text-1-5rem line-height-1-5em">Highlight an action you want people to take or important information on
     the
     homepage.</p>
    <div class="btn-row p-b">
     <a href="#" class="btn btn-lg btn-highlight m-t">Short link</a>
    </div>
   </div>
  </div>
 </div>
</div>