<div class="section-primary collapsed">
    <div class="row">
        <div class="col-sm-4 text-center p-a-lg bg-standout-radialgradient">
            <span class="ca-gov-icon-page text-3rem" aria-hidden="true"></span>
            <h3 class="h4"><a href="/sample/index.html">Extensive documentation</a></h3>
            <p>We strive to embrace and drive change in our industry which allows us to keep CA state web presence relevant</p>
        </div>
        <div class="col-sm-4 text-center  p-a-lg section-impact">
            <span class="ca-gov-icon-idea-alt text-3rem" aria-hidden="true"></span>
            <h3 class="h4"><a href="/sample/index.html">Modern design</a></h3>
            <p>
                We strive to use most efficient
                technology and most current UI/UX practices
            </p>
        </div>
        <div class="col-sm-4 text-center  p-a-lg bg-primary-gradient">
            <span class="ca-gov-icon-info-bubble text-3rem" aria-hidden="true"></span>
            <h3 class="h4"><a href="/sample/index.html">Let's Talk Details</a></h3>
            <p>We are jacks of all. We are experts in all. We show our solutions and explain them in great details</p>
        </div>
    </div>
</div>