<!--ICON BLOCKS-->
<div class="group p-t-80">
 <div class="third m-b-60">
  <!-- Icon Blocks -->
  <div class="shadow2 bg-white text-center p-x-md pb-5">
   <span class="icon-block bg-standout-radialgradient rounded-10">
    <i class="ca-gov-icon-albums"></i>
   </span>
   <h3 class="h4 m-y-sm">Elegant Design</h3>
   <p class="m-b">Curabitur ut augue at mi eleifend lobortis. Ut tincidunt lacinia nisi pharetra.</p>

   <a class="text-uppercase small" href="javascript:;">Read More <span class="sr-only">about Elegant Design</span></a>
  </div>
  <!-- End Icon Blocks -->
 </div>
 <div class="third m-b-60">
  <!-- Icon Blocks -->
  <div class="shadow2 bg-white text-center p-x-md pb-5">
   <span class="icon-block bg-standout-radialgradient rounded-10">
    <i class="ca-gov-icon-certificate-check"></i>
   </span>
   <h3 class="h4 m-y-sm">ADA Compliant</h3>
   <p class="m-b">Curabitur ut augue at mi eleifend lobortis. Ut tincidunt lacinia nisi pharetra.</p>
   <a class="text-uppercase small" href="javascript:;">Read More <span class="sr-only">about ADA
     Compliant</span></a>
  </div>
  <!-- End Icon Blocks -->
 </div>
 <div class="third m-b-60">
  <!-- Icon Blocks -->
  <div class="shadow2 bg-white text-center p-x-md pb-5">
   <span class="icon-block bg-standout-radialgradient rounded-10">
    <i class="ca-gov-icon-responsive-alt"></i>
   </span>
   <h3 class="h4 m-y-sm">Fully Responsive</h3>
   <p class="m-b">Curabitur ut augue at mi eleifend lobortis. Ut tincidunt lacinia nisi pharetra.</p>
   <a class="text-uppercase small" href="javascript:;">Read More <span class="sr-only">about Fully
     Responsiven</span></a>
  </div>
  <!-- End Icon Blocks -->
 </div>
</div><!-- End Group-->