<div class="btn-row">
    <a href="" class="btn btn-primary btn-hover" role="button">.btn-primary</a>
    <a href="" class="btn btn-standout btn-hover" role="button">.btn-standout</a>
    <a href="" class="btn btn-secondary btn-hover" role="button">.btn-secondary</a>
    <a href="" class="btn btn-default btn-hover" role="button">.btn-default</a>
</div>
<div class="btn-row">
    <a href="" class="btn btn-outline-primary btn-hover" role="button">.btn-outline-primary</a>
    <a href="" class="btn btn-outline-standout btn-hover" role="button">.btn-outline-standout</a>
    <a href="" class="btn btn-outline-secondary btn-hover" role="button">.btn-outline-secondary</a>
</div>
<div class="row">
    <div class="col-md-8">
        <div class="section-standout p-t p-b-sm p-x">
            <div class="btn-row">
                <a href="" class="btn btn-light btn-hover" role="button">.btn-light</a>
                <a href="" class="btn btn-outline-light btn-hover" role="button">.btn-outline-light</a>
                <a href="" class="btn btn-highlight btn-hover" role="button">.btn-highlight</a>
                <a href="" class="btn btn-outline-highlight btn-hover" role="button">.btn-outline-highlight</a>
            </div>
        </div>
    </div>
</div>