<div class="row">
 <div class="col-md-4">
  <!-- Icon Blocks -->
  <a href="/visual-design/color-schemes.html" class="no-underline d-block bg-gray-50 bg-grey-lightest-hover p-a-md"
   title="Features">
   <div class="text-center">
    <span class="ca-gov-icon-features text-4rem d-block" aria-hidden="true"></span>
    <h2 class="h4 m-t-0 m-b-sm color-gray-dark">Features</h2>

    <p class="color-gray-dark">This template includes 12 color themes and multiple page layouts
     samples</p>
   </div>
  </a>
  <!-- End Icon Blocks -->
 </div>
 <div class="col-md-4">
  <!-- Icon Blocks -->
  <a href="/accessibility.html" class="no-underline d-block bg-gray-50 bg-grey-lightest-hover p-a-md"
   title="Accessibility">
   <div class="text-center">
    <span class="ca-gov-icon-accessibility text-4rem d-block" aria-hidden="true"></span>
    <h2 class="h4 m-t-0 m-b-sm color-gray-dark">Accessibility</h2>
    <p class="color-gray-dark">State Web Template is designed, developed and maintained to be ADA compliant
    </p>
   </div>
  </a>
  <!-- End Icon Blocks -->
 </div>
 <div class="col-md-4">
  <!-- Icon Blocks -->
  <a href="/components.html" class="no-underline d-block bg-gray-50 bg-grey-lightest-hover p-a-md" title="Code">
   <div class="text-center">
    <span class="ca-gov-icon-code text-4rem d-block" aria-hidden="true"></span>
    <h2 class="h4 m-t-0 m-b-sm color-gray-dark">Code</h2>
    <p class="color-gray-dark">State Web Template emplate includes over 180 ready to use code samples</p>
   </div>
  </a>
  <!-- End Icon Blocks -->
 </div>
</div>