<div class="card card-standout highlight">
  <div class="card-heading">
    <h2>
      <span class="ca-gov-icon-info"></span>
      Card (Standout Highlight)
    </h2>
  </div>
  <div class="card-body">
    <p>
      Use
      <code>.highlight</code>
      class with
      <code>.card-standout</code>
      for triangle effect. Integer posuere erat a ante venenatis dapibus posuere
      velit aliquet. Cum sociis natoque penatibus et magnis dis parturient
      montes, nascetur ridiculus mus. Curabitur blandit tempus porttitor.
      Integer posuere erat a ante venenatis dapibus posuere velit aliquet. Cras
      justo odio, dapibus ac facilisis in, egestas eget quam. Aenean eu leo
      quam. Pellentesque ornare sem lacinia quam venenatis vestibulum.
    </p>
  </div>
</div>

<div class="card card-standout">
  <div class="card-heading">
    <h3 class="h4">
      <span class="ca-gov-icon-info"></span>
      Card (Standout)
    </h3>
  </div>
  <div class="card-body">
    <p>
      Integer posuere erat a ante venenatis dapibus posuere velit aliquet. Cum
      sociis natoque penatibus et magnis dis parturient montes, nascetur
      ridiculus mus. Curabitur blandit tempus porttitor. Integer posuere erat a
      ante venenatis dapibus posuere velit aliquet. Cras justo odio, dapibus ac
      facilisis in, egestas eget quam. Aenean eu leo quam. Pellentesque ornare
      sem lacinia quam venenatis vestibulum.
    </p>
  </div>
</div>

<div class="card card-default">
  <div class="card-heading">
    <h3 class="h4">
      <span class="ca-gov-icon-info"></span>
      Card (Default)
    </h3>
  </div>
  <div class="card-body">
    <p>
      Integer posuere erat a ante venenatis dapibus posuere velit aliquet. Cum
      sociis natoque penatibus et magnis dis parturient montes, nascetur
      ridiculus mus. Curabitur blandit tempus porttitor. Integer posuere erat a
      ante venenatis dapibus posuere velit aliquet. Cras justo odio, dapibus ac
      facilisis in, egestas eget quam. Aenean eu leo quam. Pellentesque ornare
      sem lacinia quam venenatis vestibulum.
    </p>
  </div>
</div>
