<div class="row">
  <div class="col-md-4 m-b-md">
    <!-- Icon Block -->
    <article
      class="no-underline d-block bg-default bg-default-hover p-a-md pos-rel h-100">
      <div class="text-center p-b">
        <span
          class="ca-gov-icon-clipboard link-color link-color-hover text-huge d-block"
          aria-hidden="true"></span>
        <a
          href="javascript:;"
          class="h4 m-t-0 m-b color-gray-dark link-before text-left no-underline d-block">
          Infographic
        </a>
        <p class="color-gray-dark text-left">
          Commonly recognized by visitors and generally reserved for data-rich
          visualization.
        </p>
      </div>
    </article>
    <!-- End Icon Block -->
  </div>
  <div class="col-md-4 m-b-md">
    <!-- Icon Block -->
    <article
      class="no-underline d-block bg-default bg-default-hover p-a-md pos-rel h-100">
      <div class="text-center  p-b">
        <span
          class="ca-gov-icon-accessibility link-color link-color-hover text-huge d-block"
          aria-hidden="true"></span>
        <a
          href="javascript:;"
          class="h4 m-t-0 m-b color-gray-dark link-before text-left no-underline d-block">
          Icons
        </a>
        <p class="color-gray-dark text-left">
          Should be simple and maintain the likeness of the object it
          represents. samples
        </p>
      </div>
    </article>
    <!-- End Icon Block -->
  </div>
  <div class="col-md-4 m-b-md">
    <!-- Icon Block -->
    <article
      class="no-underline d-block bg-default bg-default-hover p-a-md pos-rel h-100">
      <div class="text-center p-b">
        <span
          class="ca-gov-icon-calendar link-color link-color-hover text-huge d-block"
          aria-hidden="true"></span>
        <a
          href="javascript:;"
          class="h4 m-t-0 m-b color-gray-dark link-before text-left no-underline d-block">
          Card body
        </a>
        <p class="color-gray-dark text-left">
          This space should quickly describe what visitors will find at the
          button link.
        </p>
      </div>
    </article>
    <!-- End Icon Block -->
  </div>
</div>
