<div class="row">
  <div class="col-md-4">
    <article
      class="no-underline d-block bg-gray-50 bg-grey-lightest-hover pos-rel p-b">
      <img
        class="img-fluid rounded-4"
        src="/images/sunflower1.jpg"
        alt="Image description 1" />
      <div class="p-a-md">
        <a
          href="javascript:;"
          class="h4 m-t-0 m-b color-gray-dark link-before text-left no-underline d-block">
          Card title
        </a>
        <p class="color-gray-dark text-left">
          Briefly tell your reader what they will find at the card's destination
          then link to that location.
        </p>
      </div>
    </article>
  </div>
  <div class="col-md-4">
    <article
      class="no-underline d-block bg-gray-50 bg-grey-lightest-hover pos-rel  p-b">
      <img
        class="img-fluid rounded-4"
        src="/images/sunflower2.jpg"
        alt="Image description 2" />
      <div class="p-a-md">
        <a
          href="javascript:;"
          class="h4 m-t-0 m-b color-gray-dark link-before text-left no-underline d-block">
          Card title
        </a>
        <p class="color-gray-dark text-left">
          Briefly tell your reader what they will find at the card's destination
          then link to that location.
        </p>
      </div>
    </article>
  </div>
  <div class="col-md-4">
    <article
      class="no-underline d-block bg-gray-50 bg-grey-lightest-hover pos-rel  p-b">
      <img
        class="img-fluid rounded-4"
        src="/images/sunflower3.jpg"
        alt="Image description 3" />
      <div class="p-a-md">
        <a
          href="javascript:;"
          class="h4 m-t-0 m-b color-gray-dark link-before text-left no-underline d-block">
          Card title
        </a>
        <p class="color-gray-dark text-left">
          Briefly tell your reader what they will find at the card's destination
          then link to that location.
        </p>
      </div>
    </article>
  </div>
</div>
