<!--ICON BLOCKS-->
<div class="row">
 <div class="col-md-4">
  <div class="card">
   <div class="card-body bg-gray-50">
    <h3 class="h4 m-y-sm">Card title</h3>
    <p class="m-b">Card titles should give the button link content a common topic name.</p>
    <a class="btn btn-sm btn-default" href="#">Button <span class="sr-only">with link related to card title</span></a>
   </div>
  </div>


 </div>
 <div class="col-md-4">
  <div class="card">
   <div class="card-body bg-gray-50">
    <h3 class="h4 m-y-sm">Title</h3>
    <p class="m-b">Cards use the <a href="/visual-design/typography.html">heading</a> text style for titles. Font size
     can be customized.</p>
    <a class="btn btn-sm btn-default" href="#">Button <span class="sr-only">with some link</span></a>
   </div>
  </div>

 </div>
 <div class="col-md-4">
  <!-- Icon Blocks -->
  <div class="card">
   <div class="card-body bg-gray-50">
    <h3 class="h4 m-y-sm">Card body</h3>
    <p class="m-b">Use this space to briefly tell your reader what they will find at the card's destination.</p>
    <a class="btn btn-sm btn-default" href="#">Button <span class="sr-only">with link that goes somewhere</span></a>
   </div>
  </div>


 </div>
</div><!-- End Group-->