<!--ICON BLOCKS-->
<div class="row">
 <div class="col-md-4">
  <div class="card text-center">
   <div class="card-body bg-gray-50">
    <h3 class="h4 m-y-sm">Elegant Design</h3>
    <p class="m-b">Curabitur ut augue at mi eleifend lobortis. Ut tincidunt lacinia nisi pharetra.</p>
    <a class="btn btn-sm btn-default" href="#">Read More <span class="sr-only">about Elegant Design</span></a>
   </div>
  </div>


 </div>
 <div class="col-md-4">
  <div class="card text-center">
   <div class="card-body bg-gray-50">
    <h3 class="h4 m-y-sm">ADA Compliant</h3>
    <p class="m-b">Curabitur ut augue at mi eleifend lobortis. Ut tincidunt lacinia nisi pharetra.</p>
    <a class="btn btn-sm btn-default" href="#">Read More <span class="sr-only">about ADA
      Compliant</span></a>
   </div>
  </div>

 </div>
 <div class="col-md-4">
  <!-- Icon Blocks -->
  <div class="card text-center">
   <div class="card-body bg-gray-50">
    <h3 class="h4 m-y-sm">Fully Responsive</h3>
    <p class="m-b">Curabitur ut augue at mi eleifend lobortis. Ut tincidunt lacinia nisi pharetra.</p>
    <a class="btn btn-sm btn-default" href="#">Read More <span class="sr-only">about Fully
      Responsiven</span></a>
   </div>
  </div>


 </div>
</div><!-- End Group-->