<div class="card card-understated">
  <div class="card-heading">
    <h4>California State Transportation Agency</h4>
  </div>
  <div class="card-body">
    <div itemscope itemtype="http://schema.org/Organization">
      <meta itemprop="name" content="California State Transportation Agency" />
      <div
        itemprop="address"
        itemscope
        itemtype="http://schema.org/PostalAddress">
        <span itemprop="streetAddress">915 Capitol Mall Suite 350 B</span>
        <br />
        <span itemprop="addressLocality">Sacramento</span>
        ,
        <span itemprop="addressRegion">CA</span>
        <span itemprop="postalCode">95814</span>
        <br />
        Phone:
        <span itemprop="telephone">(916) 323-5400</span>
        <br />
        Fax:
        <span itemprop="faxNumber">(916) 323-5440</span>
      </div>
      <p><a href="">Small Business/DVBE Advocate</a></p>
      <p>
        ADA Cordinator:
        <span>Bill Davidson</span>
        <br />
        <a href="">Public Records Act</a>
      </p>
      <p>
        <a href="">Executive Staff</a>
        <br />
        <a href="">Legal Staff</a>
      </p>
    </div>
  </div>
</div>
