<section class="course-list">
  <article class="course-item" itemscope itemtype="http://schema.org/Event">
    <div class="thumbnail">
      <img src="/images/sample/images/70x70.gif" alt="" itemprop="image" />
    </div>

    <div class="header">
      <div class="title" itemprop="name"><a href="">CFRA</a></div>
      <time
        class="datetime"
        itemprop="startDate"
        datetime="2013-01-16T13:00:00-08:00">
        Jan 16, 2013 1:00 PM - 2:00 PM (1 Day)
      </time>
    </div>

    <div class="body">
      <div class="description">
        One hour course on disability and pregnancy leave
      </div>
      <div
        class="location"
        itemprop="location"
        itemscope
        itemtype="http://schema.org/PostalAddress">
        Location:
        <a href="">
          <span itemprop="streetAddress">1234 Street Address</span>
          ,
          <span itemprop="addressLocality">City</span>
          ,
          <span itemprop="addressRegion">State</span>
          ,
          <span itemprop="postalCode">95610</span>
        </a>
      </div>
    </div>

    <div class="footer">
      <a href="" class="btn btn-default" itemprop="url">View More Details</a>
    </div>
  </article>

  <article class="course-item" itemscope itemtype="http://schema.org/Event">
    <div class="thumbnail">
      <img src="/images/sample/images/75x75.gif" alt="" itemprop="image" />
    </div>

    <div class="header">
      <div class="title" itemprop="name">
        <a href="">Elimination of bias: How to make your law firm accessible</a>
      </div>
      <time
        class="datetime"
        itemprop="startDate"
        datetime="2013-01-16T13:00:00-08:00">
        Jan 16, 2013 1:00 PM - 2:00 PM (1 Day)
      </time>
    </div>

    <div class="body">
      <div class="description" itemprop="description">
        One hour course on disability and pregnancy leave
      </div>
      <div
        class="location"
        itemprop="location"
        itemscope
        itemtype="http://schema.org/PostalAddress">
        Location:
        <a href="">
          <span itemprop="streetAddress">1234 Street Address</span>
          ,
          <span itemprop="addressLocality">City</span>
          ,
          <span itemprop="addressRegion">State</span>
          ,
          <span itemprop="postalCode">95610</span>
        </a>
      </div>
    </div>

    <div class="footer">
      <a href="" class="btn btn-default" itemprop="url">View More Details</a>
    </div>
  </article>
</section>
