<section class="course-list">
    <article class="course-item">
        <div class="thumbnail">
            <img src="/images/sample/images/70x70.gif" alt="">
        </div>

        <div class="header">
            <div class="title"><a href="">CFRA</a></div>
            <div class="datetime">Jan 16, 2013 1:00 PM - 2:00 PM (1 Day)</div>
        </div>

        <div class="body">
            <div class="description">One hour course on disability and pregnancy leave</div>
            <div class="location">Location: <a href="">1234 Street Address, City, State, 95610</a></div>
        </div>

        <div class="footer">
            <a href="" class="btn btn-default">View More Details</a>
        </div>
    </article>

    <article class="course-item">
        <div class="thumbnail">
            <img src="/images/sample/images/70x70.gif" alt="">
        </div>

        <div class="header">
            <div class="title"><a href="">Elimination of bias: How to make your law firm accessible</a></div>
            <div class="datetime">Jan 16, 2013 1:00 PM - 2:00 PM (1 Day)</div>
        </div>

        <div class="body">
            <div class="description">One hour course on disability and pregnancy leave</div>
            <div class="location">Location: <a href="">1234 Street Address, City, State, 95610</a></div>
        </div>

        <div class="footer">
            <a href="" class="btn btn-default">View More Details</a>
        </div>
    </article>
</section>