<article class="course-detail">
  <div class="header">
    <h2 class="h1">
      <span class="ca-gov-icon-arrow-down"></span>
      Course Title
    </h2>
  </div>

  <div class="description">
    <p>
      Exam Description - Maecenas faucibus mollis interdum. Duis mollis, est non
      commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec
      elit. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum
      nibh, ut fermentum massa justo sit amet risus. Fusce dapibus, tellus ac
      cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo
      sit amet risus.
    </p>
  </div>

  <div class="presenter">
    <p>
      <strong>Presenter:</strong>
      <br />
      <strong class="presenter-name">First Middle Last</strong>
    </p>
    <p>
      <img src="/images/sample/images/75x75.gif" class="img-left" alt="" />
      Presenter bio - Vivamus sagittis lacus vel augue laoreet rutrum faucibus
      dolor auctor. Etiam porta sem malesuada magna mollis euismod. Integer
      posuere erat a ante venenatis dapibus posuere velit aliquet. Maecenas sed
      diam eget risus varius blandit sit amet non magna. Etiam porta sem
      malesuada magna mollis euismod. Sed posuere consectetur est at lobortis.
      Cras justo odio, dapibus ac facilisis in, egestas eget quam.
    </p>
  </div>

  <strong>Participants will receive:</strong>
  <ul class="list-understated">
    <li>Certificate of Participation</li>
    <li>One hour MCLE credit</li>
    <li>One hour HRCI credit</li>
  </ul>

  <div class="row">
    <div class="col-md-8">
      <strong>Organizer</strong>
      <p class="date-time">
        <time datetime="2016-04-21 20:00">Thu, 04/21/16 8:00 p.m.</time>
        <span class="ca-gov-icon-calendar"></span>
        <a href="">Add to calendar</a>
        <br />
        <span class="ca-gov-icon-road-pin"></span>
        <a href="">123 Address, City, State</a>
      </p>

      <p>
        Registration Type: State of CA Employee
        <br />
        Cost: $35 each
      </p>
    </div>

    <div class="col-md-4">
      <div class="location">
        <img src="/images/sample/images/150x150Map.gif" alt="" />
      </div>
    </div>
  </div>

  <a href="" class="btn btn-primary">Register Now (future)</a>
</article>
