<section class="events-list">
  <article class="event-item" itemscope itemtype="http://schema.org/Event">
    <h5>
      <a href="" class="title" itemprop="url">
        <span itemprop="name">Sample Event Title</span>
      </a>
    </h5>
    <div class="description" itemprop="description">
      Optional Short Description
    </div>
    <div class="start-date">
      <time
        class="start-date"
        itemprop="startDate"
        datetime="2016-04-21T20:00:00-08:00">
        Thu, 04/21/16 - 8:00 p.m.
      </time>
    </div>
  </article>

  <article class="event-item" itemscope itemtype="http://schema.org/Event">
    <h5>
      <a href="" class="title" itemprop="url">
        <span itemprop="name">Sample Event Title</span>
      </a>
    </h5>
    <div class="description" itemprop="description">
      Optional Short Description
    </div>
    <div class="start-date">
      <time
        class="start-date"
        itemprop="startDate"
        datetime="2016-04-21T20:00:00-08:00">
        Thu, 04/21/16 - 8:00 p.m.
      </time>
    </div>
  </article>

  <article class="event-item" itemscope itemtype="http://schema.org/Event">
    <h5>
      <a href="" class="title" itemprop="url">
        <span itemprop="name">Sample Event Title</span>
      </a>
    </h5>
    <div class="description" itemprop="description">
      Optional Short Description
    </div>
    <div class="start-date">
      <time itemprop="startDate" datetime="2016-04-21T20:00:00-08:00">
        Thu, 04/21/16 - 8:00 p.m.
      </time>
    </div>
  </article>
</section>
