<section class="events-list">
    <article class="event-item">
        <h3 class="h5"><a href="" class="title">Sample Event Title</a></h3>
        <div class="description">Optional Short Description</div>
        <div class="start-date"><time datetime="2016-04-21 20:00">Thu, 04/21/16 8:00 p.m.</time></div>
    </article>

    <article class="event-item">
        <h3 class="h5"><a href="" class="title">Sample Event Title</a></h3>
        <div class="description">Optional Short Description</div>
        <div class="start-date"><time datetime="2016-04-21 20:00">Thu, 04/21/16 8:00 p.m.</time></div>
    </article>

    <article class="event-item">
        <h3 class="h5"><a href="" class="title">Sample Event Title</a></h3>
        <div class="description">Optional Short Description</div>
        <div class="start-date"><time datetime="2016-04-21 20:00">Thu, 04/21/16 8:00 p.m.</time></div>
    </article>
</section>
