<!-- Executive profile (dark)
  Use a dark section wrapper with this transparent profile variant.
  Recommended classes: section-standout, section-impact, section-primary or section-overstated.
-->
<div class="section-standout">
  <figure class="executive-profile bg-transparent">
    <img src="/images/blockquote-with-image.jpg" alt="Image Description" />
    <div class="executive-profile-body">
      <p>Official Title</p>
      <h3 class="executive-name">Name</h3>
      <p>Government agency</p>
      <p>
        <a href="javascript:;">
          Bio or contact info
          <span class="sr-only">(link to executive #3 website)</span>
        </a>
      </p>
    </div>
  </figure>
</div>
