<form class="pos-rel d-flex" action="/serp.html">
  <span class="sr-only" id="SearchInput">Custom Google Search</span>
  <input
    type="search"
    name="q"
    aria-labelledby="SearchInput"
    placeholder="Search"
    class="font-size-20 pt-3 pb-3 ps-3 w-100 border-end-0 rounded-start brd-primary border border-2 outline-offset-5" />
  <button
    type="submit"
    class="bg-white border-start-0 rounded-end brd-primary border border-2 outline-offset-5 font-size-30 ps-3 pe-3 bg-gray-50-hover gray-900 color-black-hover">
    <span class="ca-gov-icon-search" aria-hidden="true"></span>
    <span class="sr-only">Submit</span>
  </button>
</form>
