<!--checkboxes-->

<h3 class="h4 mt-0 m-b-0">Which types of waste do you transport?</h3>
<small class="m-b d-block">Select all that apply</small>

<div class="form-check m-b">
 <input class="form-check-input" type="checkbox" value="" id="animalCarcassesCheck">
 <label class="form-check-label" for="animalCarcassesCheck">
  Waste from animal carcasses
 </label>
</div>
<div class="form-check m-b">
 <input class="form-check-input" type="checkbox" value="" id="minesCheck">
 <label class="form-check-label" for="minesCheck">
  Waste from mines or quarries
 </label>
</div>
<div class="form-check m-b">
 <input class="form-check-input" type="checkbox" value="" id="farmCheck">
 <label class="form-check-label" for="farmCheck">
  Farm or agricultural waste
 </label>
</div>