<!--Radios-->
<div class="m-b">
 <label class="form-check-inline p-l-md m-l-0 m-r-md">
  <input class="hidden-up pos-abs" name="radInline1_1" checked="" type="radio">
  <div class="check-icon-radio">
   <i></i>
  </div>
  USA
 </label>
 <label class="form-check-inline p-l-md m-l-0 m-r-md">
  <input class="hidden-up  pos-abs" name="radInline1_1" type="radio">
  <div class="check-icon-radio">
   <i></i>
  </div>
  Canada
 </label>
 <label class="form-check-inline p-l-md m-l-0 m-r-md">
  <input class="hidden-up pos-abs" name="radInline1_1" type="radio">
  <div class="check-icon-radio">
   <i></i>
  </div>
  United Kingdom
 </label>
 <label class="form-check-inline p-l-md m-l-0 m-r-md">
  <input class="hidden-up pos-abs" name="radInline1_1" type="radio">
  <div class="check-icon-radio">
   <i></i>
  </div>
  Sweden
 </label>
</div>

<div class="m-b">
 <label class="check">
  <input class="hidden-up pos-abs top-0 left-0" name="radGroupBtn1_1" checked="" type="radio">
  <span class="btn btn-lg btn-block bg-highlight--checked rounded-0 w-100">Italy</span>
 </label>

 <label class="check">
  <input class="hidden-up pos-abs top-0 left-0" name="radGroupBtn1_1" type="radio">
  <span class="btn btn-lg btn-block bg-highlight--checked rounded-0 w-100">UK</span>
 </label>

 <label class="check">
  <input class="hidden-up pos-abs top-0 left-0" name="radGroupBtn1_1" type="radio">
  <span class="btn btn-lg btn-block bg-highlight--checked rounded-0 w-100">USA</span>
 </label>
</div>

<!--Bootstrap4 Custom Radios-->
<div class="form-check">
 <input class="form-check-input" type="radio" name="flexRadioDefault" id="customRadio1">
 <label class="form-check-label" for="customRadio1">
  Toggle this custom radio
 </label>
</div>
<div class="form-check">
 <input class="form-check-input" type="radio" name="flexRadioDefault" id="customRadio2" checked>
 <label class="form-check-label" for="customRadio2">
  Or toggle this other custom radio
 </label>
</div>