<h3 class="h4 m-y-0">What is your favorite pet?</h3>
<small class="m-b d-block">Select one</small>
<div class="form-check m-b">
 <input class="form-check-input" type="radio" name="favorite_pet" id="customRadio1">
 <label class="form-check-label" for="customRadio1">
  Cats
 </label>
</div>
<div class="form-check m-b">
 <input class="form-check-input" type="radio" name="favorite_pet" id="customRadio2">
 <label class="form-check-label" for="customRadio2">
  Dogs
 </label>
</div>
<div class="form-check m-b">
 <input class="form-check-input" type="radio" name="favorite_pet" id="customRadio3">
 <label class="form-check-label" for="customRadio3">
  Birds
 </label>
</div>