<label class="form-control-label" for="InputName">Name</label>
<input type="text" class="form-control" id="InputName" placeholder="Enter your name here">
<div class="feedback text-muted">
</div>

<h3 class="h4">Required</h3>
<label class="form-control-label" for="InputNameRequired"><span class="required-label">*</span> Name</label>
<input type="text" class="form-control" id="InputNameRequired" placeholder="Enter your name here">
<div class="invalid-feedback d-block">
 This field is required
</div>