<!--checkboxes-->

<h3 class="h4 mt-0 m-b ">Pick one or more of these items:</h3>
<div class="form-check m-b">
 <input class="form-check-input" type="checkbox" value="" id="animalCarcassesCheck">
 <label class="form-check-label" for="animalCarcassesCheck">
  Option 1
 </label>
</div>
<div class="form-check m-b">
 <input class="form-check-input" type="checkbox" value="" id="minesCheck">
 <label class="form-check-label" for="minesCheck">
  Option 2
 </label>
</div>
<div class="form-check m-b">
 <input class="form-check-input" type="checkbox" value="" id="farmCheck">
 <label class="form-check-label" for="farmCheck">
  Option 3
 </label>
</div>