<h3 class="h4 m-t-0 m-b">Pick only one of these items:</h3>
<div class="form-check m-b">
 <input class="form-check-input" type="radio" name="favorite_pet" id="customRadio1">
 <label class="form-check-label" for="customRadio1">
  Option 1
 </label>
</div>
<div class="form-check m-b">
 <input class="form-check-input" type="radio" name="favorite_pet" id="customRadio2">
 <label class="form-check-label" for="customRadio2">
  Option 1
 </label>
</div>
<div class="form-check m-b">
 <input class="form-check-input" type="radio" name="favorite_pet" id="customRadio3">
 <label class="form-check-label" for="customRadio3">
  Option 1
 </label>
</div>