<form role="form">
  <div class="form-group">
    <label for="exampleInputEmail" class="form-control-label">
      <span class="required-label">*</span>
      Email address
    </label>
    <input
      type="email"
      class="form-control"
      id="exampleInputEmail"
      placeholder="Enter email" />
  </div>
  <div class="form-group">
    <label for="exampleInputPassword" class="form-control-label">
      <span class="required-label">*</span>
      Password
    </label>
    <input
      type="password"
      class="form-control"
      id="exampleInputPassword"
      placeholder="Password" />
  </div>
  <div class="form-group">
    <label for="exampleInputFile">File input</label>
    <div class="input-group mb-3">
      <input type="file" class="form-control" id="inputGroupFile02" />
      <label class="input-group-text section-primary" for="inputGroupFile02">
        Upload
      </label>
    </div>
    <div class="feedback small">Feedback text.</div>
  </div>
  <button type="submit" class="btn btn-default">Submit</button>
</form>
