<!--checkboxes-->
<div class="m-b m-t">
 <label class="form-check-inline p-l-md m-l-0 m-r-md">
  <input class="hidden-up pos-abs" type="checkbox">
  <div class="check-icon-checkbox">
   <i class="ca-gov-icon-check-mark"></i>
  </div>
  USA
 </label>

 <label class="form-check-inline p-l-md m-l-0 m-r-md">
  <input class="hidden-up pos-abs" type="checkbox" checked>
  <div class="check-icon-checkbox">
   <i class="ca-gov-icon-check-mark"></i>
  </div>
  USA
 </label>
</div>

<div class="m-b">
 <label class="check">
  <input class="hidden-up pos-abs top-0 left-0" checked="" type="checkbox">
  <span class="btn btn-md btn-block color-white--checked bg-primary--checked rounded-0 w-100">Canada</span>
 </label>

 <label class="check">
  <input class="hidden-up pos-abs top-0 left-0" type="checkbox">
  <span class="btn btn-md btn-block color-white--checked bg-primary--checked rounded-0 w-100">UK</span>
 </label>

 <label class="check">
  <input class="hidden-up pos-abs top-0 left-0" type="checkbox">
  <span class="btn btn-md btn-block color-white--checked bg-primary--checked rounded-0 w-100">Mexico</span>
 </label>
</div>


<div class="form-check m-b">
 <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
 <label class="form-check-label" for="flexCheckDefault">
  Check this checkbox
 </label>
</div>