<label class="form-control-label" for="exampleInputComment">Your Message</label>
<textarea id="exampleInputComment" class="form-control" rows="5" cols="80"></textarea>
<small>Use this space for error messages or instructions text</small>

<h3 class="h4">Required</h3>
<label class="form-control-label" for="exampleInputCommentRequired"><span class="required-label">*</span> Your
 Message</label>
<textarea id="exampleInputCommentRequired" class="form-control" rows="5" cols="80"></textarea>
<div class="invalid-feedback d-block">
 This field is required</div>