<h4>Gray</h4>
<div class="container height-100 bg-grey-radialgradient"></div>

<h4>Grey Light</h4>
<div class="container height-100 bg-greylight-radialgradient"></div>

<h4>Primary</h4>
<div class="container height-100 bg-primary-radialgradient"></div>

<h4>Highlight</h4>
<div class="container height-100 bg-highlight-radialgradient"></div>

<h4>Standout</h4>
<div class="container height-100 bg-standout-radialgradient"></div>

<h4>Secondary</h4>
<div class="container height-100 bg-secondary-radialgradient"></div>

<h4>Secondary light</h4>
<div class="container height-100 bg-secondarylight-radialgradient"></div>