<h4>Primary</h4>
<div class="container height-100 bg-primary-gradient"></div>

<h4>Highlight</h4>
<div class="container height-100 bg-highlight-gradient"></div>

<h4>Standout</h4>
<div class="container height-100 bg-standout-gradient"></div>

<h4>Secondary</h4>
<div class="container height-100 bg-secondary-gradient"></div>

<h4>Primary-standout</h4>
<div class="container height-100 bg-primary-standout-gradient"></div>

<h4>Primary-highlight</h4>
<div class="container height-100 bg-primary-highlight-gradient"></div>

<h4>Primary-secondary</h4>
<div class="container height-100 bg-primary-secondary-gradient"></div>

<h4>Standout-highlight</h4>
<div class="container height-100 bg-standout-highlight-gradient"></div>

<h4>Danger-warning</h4>
<div class="container height-100 bg-danger-warning-gradient"></div>

<h4>Info-success</h4>
<div class="container height-100 bg-info-success-gradient"></div>
