<div class="header-primary-banner hidden-print"
	style="background-image: url('/images/main-banner.svg');">
	<div class="container">
		<div class="row" style="margin-top: 2rem;">
			<div class="col-sm my-auto">
				<p>Enhance your websites and applications with the latest version (V6) of the <span style="color: #ffffff">State Template!</span></p>
				<div class="btn-row p-b">
					<a href="/whats-new.html" class="btn btn-primary">Introducing V6</a>
					<a class="btn btn-primary" href="https://github.com/Office-of-Digital-Services/California-State-Web-Template-Website/tree/6.0.8">Download V6  <span class="ca-gov-icon-download-cloud"></span></a>
				</div>
			</div>
			<div class="col-sm my-auto">
				<img style="width:600px;" src="/images/header-bear.png" alt="">
			</div>
		</div>
	</div>
</div>
</div>