<div class="location mini">
  <div class="ca-gov-icon-road-pin"></div>

  <div class="contact">
    <div class="title"><a href="">Government Technology Conference</a></div>
    <div class="address">1234 Street Address, City, State, 95610</div>
  </div>
</div>

<div class="location mini">
  <div class="ca-gov-icon-road-pin"></div>

  <div class="contact">
    <div class="title"><a href="">Government Technology Conference</a></div>
    <div class="address">1234 Street Address, City, State, 95610</div>
  </div>
</div>

<div class="location mini">
  <div class="ca-gov-icon-road-pin"></div>

  <div class="contact">
    <div class="title"><a href="">Government Technology Conference</a></div>
    <div class="address">1234 Street Address, City, State, 95610</div>
  </div>
</div>
