<div class="location mini" itemscope itemtype="http://schema.org/Organization">
  <div class="ca-gov-icon-road-pin"></div>

  <div class="contact">
    <div class="title" itemprop="name">
      <a href="">Government Technology Conference</a>
    </div>
    <div
      class="address"
      itemprop="address"
      itemscope
      itemtype="http://schema.org/PostalAddress">
      <span itemprop="streetAddress">1234 Street Address</span>
      ,
      <span itemprop="addressLocality">City</span>
      ,
      <span itemprop="addressRegion">State</span>
      ,
      <span itemprop="postalCode">95610</span>
    </div>
  </div>
</div>

<div class="location mini" itemscope itemtype="http://schema.org/Organization">
  <div class="ca-gov-icon-road-pin"></div>

  <div class="contact">
    <div class="title" itemprop="name">
      <a href="">Government Technology Conference</a>
    </div>
    <div
      class="address"
      itemprop="address"
      itemscope
      itemtype="http://schema.org/PostalAddress">
      <span itemprop="streetAddress">1234 Street Address</span>
      ,
      <span itemprop="addressLocality">City</span>
      ,
      <span itemprop="addressRegion">State</span>
      ,
      <span itemprop="postalCode">95610</span>
    </div>
  </div>
</div>

<div class="location mini" itemscope itemtype="http://schema.org/Organization">
  <div class="ca-gov-icon-road-pin"></div>

  <div class="contact">
    <div class="title" itemprop="name">
      <a href="">Government Technology Conference</a>
    </div>
    <div
      class="address"
      itemprop="address"
      itemscope
      itemtype="http://schema.org/PostalAddress">
      <span itemprop="streetAddress">1234 Street Address</span>
      ,
      <span itemprop="addressLocality">City</span>
      ,
      <span itemprop="addressRegion">State</span>
      ,
      <span itemprop="postalCode">95610</span>
    </div>
  </div>
</div>
