<div class="location contact" itemscope itemtype="http://schema.org/Organization">
    <meta itemprop="name" content="Organization Name Here">
    <span class="ca-gov-icon-email"></span>

    <div class="contact">
        <p class="address" itemprop="address" itemscope itemtype="http://schema.org/PostalAddress">
            <span itemprop="streetAddress">1234 Street Address</span>, <span itemprop="addressLocality">City</span>,
            <span itemprop="addressRegion">State</span>, <span itemprop="postalCode">95610</span>
        </p>

        <p class="other">
            General Information: <span itemprop="telephone">(916)323-5400</span><br>
            FAX: <span itemprop="faxNumber">(916)323-5440</span>
        </p>

        <a href="" class="btn btn-default btn-sm">View More Contacts</a>
    </div>
</div>