<!--
Step 2
Select Navigation Type:

Options are: megadropdown dropdown singlelevel
-->

<nav id="navigation" class="main-navigation singlelevel justify-content-end">
  <ul id="nav_list" class="top-level-nav">
    <li class="nav-item">
      <a href="javascript:;" target="_blank" class="first-level-link">
        <span class="ca-gov-icon-ca-state" aria-hidden="true"></span>
        Link 1
      </a>
    </li>
    <li class="nav-item">
      <a href="javascript:;" class="first-level-link">
        <span class="ca-gov-icon-ca-capitol" aria-hidden="true"></span>
        link 2
      </a>
    </li>
  </ul>
</nav>
