<!-- Top Level Navigation Only -->
<nav id="navigation" class="main-navigation singlelevel auto-highlight">
 <ul id="nav_list" class="top-level-nav">
  <li class="nav-item">
   <a href="/getting-started.html" class="first-level-link">Getting Started</a>
  </li>
  <li class="nav-item">
   <a href="/sample/color-schemes.html" class="first-level-link">Color Schemes</a>
  </li>

  <li class="nav-item">
   <a href="/sample/" class="first-level-link">Components</a>
  </li>
  <li class="nav-item">
   <a href="/sample/content-patterns.html" target="_blank" class="first-level-link">Templates</a>
  </li>
  <li class="nav-item">
   <a href="/about.html" target="_blank" class="first-level-link">About</a>
  </li>
  <li class="nav-item">
   <a href="/contact.html" class="first-level-link">Contact Us</a>
  </li>

 </ul>
</nav>