<!-- Dropdown Navigation  -->
<nav id="navigation" class="main-navigation dropdown">
 <ul id="nav_list" class="top-level-nav">

  <li class="nav-item">
   <a href="/sample/" class="first-level-link">Examples</a>
   <div class="sub-nav">

    <ul class="second-level-nav">
     <li class="unit1">
      <a href="/" class="second-level-link">Link 1</a>
     </li>
     <li class="unit1">
      <a href="/" class="second-level-link">Link 2</a>
     </li>
     <li class="unit1">
      <a href="/" class="second-level-link">Link 3</a>
     </li>
     <li class="unit1">
      <a href="/" class="second-level-link">Link 4</a>
     </li>
     <li class="unit1">
      <a href="/" class="second-level-link">Link 5</a>
     </li>
     <li class="unit1">
      <a href="/" class="second-level-link">Link 6</a>
     </li>
    </ul>
   </div>
  </li>
  <li class="nav-item">
   <a href="/" class="first-level-link">About</a>
   <div class="sub-nav">

    <ul class="second-level-nav">
     <li class="unit1">
      <a href="/" class="second-level-link">Link 1</a>
     </li>
     <li class="unit1">
      <a href="/" class="second-level-link">Link 2</a>
     </li>
     <li class="unit1">
      <a href="/" class="second-level-link">Link 3
      </a>
     </li>
     <li class="unit1">
      <a href="/" class="second-level-link"><span class="ca-gov-icon-info-bubble" aria-hidden="true"></span>Link 4</a>
     </li>
     <li class="unit1">
      <a href="/" class="second-level-link"><span class="ca-gov-icon-info-bubble" aria-hidden="true"></span>Link 5
      </a>
     </li>
     <li class="unit1">
      <a href="/" class="second-level-link"><span class="ca-gov-icon-info-bubble" aria-hidden="true"></span>Link 6</a>


     </li>
    </ul>
   </div>

   <!-- LEFT ALIGNED IMAGE -->
  <li class="nav-item">
   <a href="/" class="first-level-link">Structure</a>
   <div class="sub-nav">
    <!-- Offset class needed to fix positioning issue caused when positioning the image -->

    <ul class="second-level-nav">
     <li class="unit1">
      <a href="/" class="second-level-link">Link 1</a>
     </li>
     <li class="unit1">
      <a href="/" class="second-level-link">Link 2</a>
     </li>
     <li class="unit1">
      <a href="/" class="second-level-link">Link 3</a>
     </li>
     <li class="unit1">
      <a href="/" class="second-level-link">Link 4</a>
     </li>
     <li class="unit1">
      <a href="/" class="second-level-link"><span class="ca-gov-icon-home" aria-hidden="true"></span>Link 5
      </a>
     </li>
     <li class="unit1">
      <a href="/" class="second-level-link"><span class="ca-gov-icon-home" aria-hidden="true"></span>Link 6</a>
     </li>

    </ul>

   </div>
  </li>

 </ul>
</nav>
<!-- end dropdown -->