<nav aria-labelledby="components-list">
 <div class="h4 m-t-0" id="components-list">Accordion side navigation</div>
 <cagov-accordion class="sidenav">
  <details open>
   <summary class="active">Accordions</summary>
   <div class="accordion-body">
    <ul class="side-subnav">
     <li>
      <a href="#">Basic accordion</a>
     </li>
     <li>
      <a href="#">List accodion</a>
     </li>
     <li>
      <a href="#">Side accordion</a>
     </li>
    </ul>
   </div>
  </details>
 </cagov-accordion>

 <cagov-accordion class="sidenav">
  <details>
   <summary>Blurb</summary>
   <div class="accordion-body">
    <ul class="side-subnav">
     <li>
      <a href="#" class="active">Cards</a>
     </li>
     <li>
      <a href="#">Icon blocks</a>
     </li>
     <li>
      <a href="#">Info blocks</a>
     </li>
    </ul>
   </div>
  </details>
 </cagov-accordion>
 <cagov-accordion class="sidenav">
  <details>
   <summary>News blocks</summary>
   <div class="accordion-body">
    <ul class="side-subnav">
     <li>
      <a href="#">Basic news block</a>
     </li>
     <li>
      <a href="#">Imagenews block</a>
     </li>
    </ul>
   </div>
  </details>
 </cagov-accordion>
 <cagov-accordion class="sidenav">
  <details>
   <summary>Forms</summary>
   <div class="accordion-body">
    <ul class="side-subnav">
     <li>
      <a href="#">Textarea</a>
     </li>
     <li>
      <a href="#">File input</a>
     </li>
     <li>
      <a href="#">Radio buttons</a>
     </li>
    </ul>
   </div>
  </details>
 </cagov-accordion>
 <!--single sidenav links-->
 <a class="sidenav" href="#">Breadcrumb</a>
 <a class="sidenav" href="#">Modal</a>
</nav>