<nav aria-labelledby="components-list">
 <div class="sr-only" id="components-list">Accordion side navigation</div>
 <a class="sidenav landing" href="#">Landing page</a>

 <cagov-accordion class="sidenav">
  <details open>
   <summary class="active">Page 2</summary>
   <div class="accordion-body">
    <ul class="side-subnav">
     <li>
      <a href="#">Subpage 1</a>
     </li>
     <li>
      <a href="#">Subpage 2</a>
     </li>
     <li>
      <a href="#">Subpage 3</a>
     </li>
    </ul>
   </div>
  </details>
 </cagov-accordion>

 <a class="sidenav" href="#">Page 3</a>
 <a class="sidenav" href="#">Page 4</a>
 <a class="sidenav" href="#">Page 5</a>
</nav>