<!-- Top Level Navigation Only -->
<nav id="navigation" class="main-navigation dropdown">
 <ul id="nav_list" class="top-level-nav">

  <li class="nav-item" role="presentation">
   <a href="javascript:;" class="first-level-link" aria-disabled="true">Link 1</a>
  </li>

  <li class="nav-item" role="presentation">
   <a href="javascript:;" class="first-level-link" aria-disabled="true">Link 2</a>
  </li>

  <li class="nav-item" role="presentation">
   <a href="javascript:;" class="first-level-link" aria-disabled="true">Link 3</a>
  </li>

  <li class="nav-item" role="presentation">
   <a href="javascript:;" class="first-level-link"  aria-disabled="true">Section 1</a>
   <div class="sub-nav">
    <ul class="second-level-nav">
     <li class="unit1">
      <a href="javascript:;" class="second-level-link" aria-disabled="true">Sub link 1</a>
     </li>
       <li class="unit1">
      <a href="javascript:;" class="second-level-link" aria-disabled="true">Sub link 2</a>
     </li>
      <li class="unit1">
      <a href="javascript:;" class="second-level-link" aria-disabled="true">Sub link 3</a>
     </li>
    </ul>
   </div>
  </li>

   <li class="nav-item" role="presentation">
   <a href="javascript:;" class="first-level-link"  aria-disabled="true">Section 2</a>
   <div class="sub-nav">
    <ul class="second-level-nav">
     <li class="unit1">
      <a href="javascript:;" class="second-level-link" aria-disabled="true">Sub link 4</a>
     </li>
       <li class="unit1">
      <a href="javascript:;" class="second-level-link" aria-disabled="true">Sub link 5</a>
     </li>
      <li class="unit1">
      <a href="javascript:;" class="second-level-link" aria-disabled="true">Sub link 6</a>
     </li>
    </ul>
   </div>
  </li>

 </ul>
</nav>