<!-- Top Level Navigation Only -->
<nav id="navigation" class="main-navigation singlelevel auto-highlight">
  <ul id="nav_list" class="top-level-nav">
    <li class="nav-item">
      <a href="javascript:;" class="first-level-link" aria-disabled="true">
        Get Started
      </a>
    </li>
    <li class="nav-item">
      <a
        href="/components/side-navigation-sample.html"
        rel="noindex"
        class="first-level-link active">
        Types of parties
      </a>
    </li>
    <li class="nav-item">
      <a href="javascript:;" class="first-level-link" aria-disabled="true">
        Event templates
      </a>
    </li>
    <li class="nav-item">
      <a href="javascript:;" class="first-level-link" aria-disabled="true">
        Supplies
      </a>
    </li>
    <li class="nav-item">
      <a href="javascript:;" class="first-level-link" aria-disabled="true">
        Vendors
      </a>
    </li>
  </ul>
</nav>
