<!-- News list  -->
<h2 class="h3">Latest news</h2>
<hr class="m-y-md">
<h3 class="lead font-weight-700"><a href="javascript:;" aria-disabled="true">Local Entity Implements Changes to
  Operations</a></h3>
<p>Month 00, 0000 | News</p>
<hr class="m-y-md">
<h3 class="lead font-weight-700"><a href="javascript:;" aria-disabled="true">Discussion Continues Regarding
  California’s Project Funding </a></h3>
<p>Month 00, 0000 | News</p>
<hr class="m-y-md">
<h3 class="lead font-weight-700"><a href="javascript:;" aria-disabled="true">Significant Agreement Reached in San
  Francisco </a></h3>
<p>Month 00, 0000 | News</p>
<hr class="m-y-md">
<!-- End News list  -->