<!--Featured news banner-->
<h2>Featured</h2>
<div class="container">
 <div class="row brd-solid-1 brd-gray-200 bg-gray-50-hover">
  <div class="col-lg-8 col-md-6 p-0 text-right d-flex justify-content-center">
   <a href="javascript:;" class="feature-img" style="background: url('/images/sample/images/news-img-featured.png')"
    aria-label="Feature card example image">
   </a>
  </div>
  <div class="col-md-6 col-lg-4 p-a-md ">
   <h2 class="h4 m-t-0"><a href="javascript:;" aria-disabled="true">California state department announces plans for
     upcoming important initiative</a></h2>
   <p>Month 00, 0000 | Press release</p>
  </div>
 </div>
</div>
<!--End Featured news banner-->