<!-- Featured news list -->
<article class="news-item">
 <div class="row py-1">
  <div class="col-md-4">
   <img src="/images/sample/images/news-img1.png" class="img-fluid" alt="sample image">
  </div>
  <div class="col-md-8">
   <h3 class="h4 mb-2"><a href="javascript:;" aria-disabled="true">California state department announces plans for
     upcoming important
     initiative </a></h3>
   <p>Month 00, 0000 | Press release</p>
  </div>
 </div>
 <hr>
 <div class="row py-1">
  <div class="col-md-4">
   <img src="/images/sample/images/news-img2.png" class="img-fluid" alt="sample image">
  </div>
  <div class="col-md-8">
   <h3 class="h4 mb-2"><a href="javascript:;" aria-disabled="true">Experts Provide Insights on Climate Remediation
    </a></h3>
   <p>Month 00, 0000 | Press release</p>
  </div>
 </div>
 <hr>
 <div class="row py-1">
  <div class="col-md-4">
   <img src="/images/sample/images/news-img3.png" class="img-fluid" alt="sample image">
  </div>
  <div class="col-md-8">
   <h3 class="h4 mb-2"><a href="javascript:;" aria-disabled="true">Individuals Reflect on CalFresh Awareness Month</a>
   </h3>
   <p>Month 00, 0000 | Press release</p>
  </div>
 </div>
 <hr>
</article>
<!-- End Featured news list  -->