<!-- Press release list Extended -->
<h2>Month 0000</h2>
<hr class="m-y-md" />
<h3 class="lead font-weight-700">
  <a href="javascript:;" aria-disabled="true">
    California state department announces plans for upcoming important
    initiative
  </a>
</h3>
<p>Month 00, 0000 | Press release</p>
<hr class="m-y-md" />
<h3 class="lead font-weight-700">
  <a href="javascript:;" aria-disabled="true">
    Experts Provide Insights on Climate Remediation
  </a>
</h3>
<p>Month 00, 0000 | Press release</p>

<h2>Month 0000</h2>
<hr class="m-y-md" />
<h3 class="lead font-weight-700">
  <a href="javascript:;" aria-disabled="true">
    Individuals Reflect on CalFresh Awareness Month
  </a>
</h3>
<p>Month 00, 0000 | Press release</p>

<hr class="m-y-md" />
<h3 class="lead font-weight-700">
  <a href="javascript:;" aria-disabled="true">
    Local Entity Implements Changes to Operations
  </a>
</h3>
<p>Month 00, 0000 | Press release</p>

<hr class="m-y-md" />
<h3 class="lead font-weight-700">
  <a href="javascript:;" aria-disabled="true">
    Discussion Continues Regarding California’s Project Funding
  </a>
</h3>
<p>Month 00, 0000 | Press release</p>

<hr class="m-y-md" />
<h3 class="lead font-weight-700">
  <a href="javascript:;" aria-disabled="true">
    Significant Agreement Reached in San Francisco
  </a>
</h3>
<p>Month 00, 0000 | Press release</p>

<hr class="m-y-md" />
<h3 class="lead font-weight-700">
  <a href="javascript:;" aria-disabled="true">
    Official Report Sheds Light on the last Flu Season
  </a>
</h3>
<p>Month 00, 0000 | Press release</p>
<!-- End Press release list extended -->
