<div class="row">
 <div class="col-md-4 m-b-md">
  <!-- Article -->
  <article class="block-hover section-standout">
   <figure class="bg-overlay">
    <img class="img-fluid w-100 block-hover_zoom" src="/images/sample/images/500x450.jpg" alt="Image Description">
   </figure>

   <header class="w-100 text-center absolute-centered p-x">
    <span class="btn btn-xs btn-primary rounded-0" href="javascript:;">DMV</span>
    <h3 class="h4 m-y-sm">
     Incredible Image post
    </h3>

    <small class="color-white">
     <i class="ca-gov-icon-time pos-rel"></i> July 04, 2016
    </small>
   </header>

   <a class="news-link" href="javascript:;">Read More about DMV</a>
  </article>
  <!-- End Article -->
 </div>
 <div class="col-md-4 m-b-md">
  <!-- Article -->
  <article class="block-hover section-standout">
   <figure class="bg-overlay">
    <img class="img-fluid w-100 block-hover_zoom" src="/images/sample/images/500x450.jpg" alt="Image Description">
   </figure>

   <header class="w-100 text-center absolute-centered p-x">
    <span class="btn btn-xs btn-primary rounded-0" href="javascript:;">CDT</span>
    <h3 class="h4 m-y-sm">
     Demperdiet molesti volutpa
    </h3>

    <small class="color-white">
     <i class="ca-gov-icon-time pos-rel"></i> July 04, 2016
    </small>
   </header>

   <a class="news-link" href="javascript:;">Read More about CDT</a>
  </article>
  <!-- End Article -->
 </div>
 <div class="col-md-4 m-b-md">
  <!-- Article -->
  <article class="block-hover section-standout">
   <figure class="bg-overlay">
    <img class="img-fluid w-100 block-hover_zoom" src="/images/sample/images/500x450.jpg" alt="Image Description">
   </figure>

   <header class="w-100 text-center absolute-centered p-x">
    <span class="btn btn-xs btn-primary rounded-0" href="javascript:;">CDTFA</span>
    <h3 class="h4 m-y-sm">
     Nullam non metus inmi
    </h3>

    <small class="color-white">
     <i class="ca-gov-icon-time pos-rel"></i> July 04, 2016
    </small>
   </header>

   <a class="news-link" href="javascript:;">Read More about CDTFA</a>
  </article>
  <!-- End Article -->
 </div>
</div>

<!-- End Image Block -->