<!-- News cards  -->
<div class="row m-t-lg">
  <div class="col-md-6 mb-4">
    <div
      class="brd-gray-200 brd-solid-1 rounded-5 h-100 transition-0_3 shadow2-hover bg-white bg-gray-75-hover pos-rel p-a-md">
      <h3 class="h5 m-t-0">
        <a
          href="javascript:;"
          class="link-before no-underline"
          aria-disabled="true">
          Subscribe for updates
        </a>
      </h3>
      <p class="font-size-16 color-black">
        Keep up-to-date on our latest updates. Sign up for email notifcations.
      </p>
    </div>
  </div>

  <div class="col-md-6 mb-4">
    <div
      class="brd-gray-200 brd-solid-1 rounded-5 h-100 transition-0_3 shadow2-hover bg-white bg-gray-75-hover pos-rel p-a-md">
      <h3 class="h5 m-t-0">
        <a
          href="javascript:;"
          class="link-before no-underline"
          aria-disabled="true">
          Blog post title
        </a>
      </h3>
      <p class="font-size-16 color-black">Month 00, 0000</p>
      <p class="font-size-16 color-black">
        Short 1 - 2 sentence description promoting this blog post.
      </p>
    </div>
  </div>
</div>
<!-- End News cards  -->
