<nav aria-labelledby="page-navigation-label" class="page-navigation">
  <div id="page-navigation-label" class="label">On this page</div>
  <ul class="columns-2">
    <li><a href="#Anchor-link-1">Anchor link 1</a></li>
    <li><a href="#Anchor-link-2">Anchor link 2</a></li>
    <li><a href="#Anchor-link-3">Anchor link 3</a></li>
    <li><a href="#Anchor-link-4">Anchor link 4</a></li>
    <li><a href="#Anchor-link-5">Anchor link 5</a></li>
    <li><a href="#Anchor-link-6">Anchor link 6</a></li>
  </ul>
</nav>
