<article class="profile-detail">
    <h1><span class="ca-gov-icon-arrow-down"></span> Honerable Erica R. Yew, Chairperson</h1>
    <p><img itemprop="image" src="/images/sample/images/150x200.gif" class="img-right m-b" alt="Person Name">Donec id
        elit non mi porta gravida at eget metus. Cras mattis consectetur purus sit amet fermentum. Duis mollis, est non
        commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit. Vestibulum id ligula porta felis
        euismod semper. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce dapibus, tellus ac cursus
        commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Cum sociis natoque penatibus
        et magnis dis parturient montes, nascetur ridiculus mus.</p>
    <p>Maecenas sed diam eget risus varius blandit sit amet non magna. Lorem ipsum dolor sit amet, consectetur
        adipiscing elit. Integer posuere erat a ante venenatis dapibus posuere velit aliquet. Cras justo odio, dapibus
        ac facilisis in, egestas eget quam. Maecenas faucibus mollis interdum. Nullam id dolor id nibh ultricies
        vehicula ut id elit. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa
        justo sit amet risus.</p>
    <p>Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor. Donec sed odio dui. Maecenas sed diam eget
        risus varius blandit sit amet non magna. Cras mattis consectetur purus sit amet fermentum. Fusce dapibus, tellus
        ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Donec ullamcorper
        nulla non metus auctor fringilla. Nulla vitae elit libero, a pharetra augue.</p>
</article>