<!-- Figure -->
<figure class="bg-greylight-radialgradient p-a border-0">
	<div class="media d-flex">
		<div class="d-flex m-r-md">
			<!-- Figure Image -->
			<img class="rounded-circle width-80 height-80" src="../images/125x125.jpg" alt="Image Description">
			<!-- Figure Image -->
		</div>
		<div class="media-body">
			<!-- Figure Info -->
			<h3 class="h4 m-0">Official Name</h3>
			<div class="d-block">
				<span class="small">Government Entity Title</span>

			</div>
			<hr class=" m-t-sm m-b-0" />
			<a href="" class="font-size-16" aria-label="Link to Official's Website">Website</a>
			<!-- End Figure Info -->
		</div>
	</div>

</figure>
<!-- End Figure -->
<!-- Figure -->
<figure class="rounded-4 p-a card m-b-md">
	<div class="d-flex">
		<!-- Figure Image -->
		<img class="width-100 height-100 m-r" src="../images/125x125.jpg" alt="Image Description">
		<!-- Figure Image -->
		<!-- Figure Info -->
		<div class="d-block">
			<div class="m-b-sm">
				<h3 class="h4 m-0">Official Name</h3>
				<em class="d-block small">Government Entity Title</em>
			</div>
			<em class="d-block font-size-16">Website</em>
			<em class="d-block font-size-15">Phone Number</em>
		</div>
		<!-- End Figure Info -->
	</div>
</figure>
<!-- End Figure -->