<section class="profile-list">
    <article class="profile-item" itemscope itemtype="http://schema.org/Person">
        <div class="thumbnail">
            <img src="/images/sample/images/70x93.gif" alt="" itemprop="image">
        </div>
        <div class="header">
            <div class="title"><a href=""><span itemprop="honorificPrefix">Honorable</span> <span
                        itemprop="givenName">Erica</span> <span itemprop="additionalName">R.</span> <span
                        itemprop="familyName">Yew</span>, <span itemprop="jobTitle">Chairperson</span></a></div>
        </div>
        <div class="body">
            <div class="job" itemprop="jobTitle">Judge-Superior Court</div>
            <<div class="appointed">Appointed by the Supreme Court on <time datetime="2010-12-10">December 10,
                    2010</time>
        </div>
        <div class="reappointed">Reappointed on <time datetime="2011-03-01">March 1, 2011</time></div>
        <div class="term-end">Term ends <time datetime="2015-02-28">February 28, 2015</time></div>
        </div>
        <div class="footer">
            <a href="" class="btn btn-default" itemprop="url">View More Details</a>
        </div>
    </article>

    <article class="profile-item" itemscope itemtype="http://schema.org/Person">
        <div class="thumbnail">
            <img src="/images/sample/images/70x93.gif" alt="" itemprop="image">
        </div>
        <div class="header">
            <div class="title"><a href=""><span itemprop="honorificPrefix">Honorable</span> <span
                        itemprop="givenName">Erica</span> <span itemprop="additionalName">R.</span> <span
                        itemprop="familyName">Yew</span>, <span itemprop="jobTitle">Chairperson</span></a></div>
        </div>
        <div class="body">
            <div class="job" itemprop="jobTitle">Judge-Superior Court</div>
            <div class="appointed">Appointed by the Supreme Court on <time datetime="2010-12-10">December 10,
                    2010</time></div>
            <div class="reappointed">Reappointed on <time datetime="2011-03-01">March 1, 2011</time></div>
            <div class="term-end">Term ends <time datetime="2015-02-28">February 28, 2015</time></div>
        </div>
        <div class="footer">
            <a href="" class="btn btn-default" itemprop="url">View More Details</a>
        </div>
    </article>
</section>