<!-- Static Process Bold -->
<div class="row">
    <div class="col-sm-3 m-b-60">
        <!-- Static Process -->
        <div class="text-center">
            <i class="dot-line progress-bold brd-transparent-before brd-primary-light-after">
                <span class="dot-line-inner bg-primary-light bg-primary-before brd-primary-light"></span>
            </i>
            <h3 class="h5 m-b">Step 1</h3>
            <p class="m-b-0">This is where we sit down, grab a cup of coffee and do step 1.</p>
        </div>
        <!-- End Static Process -->
    </div>

    <div class="col-sm-3 m-b-60">
        <!-- Static Process -->
        <div class="text-center">
            <i class="dot-line progress-bold brd-primary-light-before brd-primary-light-after">
                <span class="dot-line-inner bg-primary-light bg-primary-before brd-primary-light"></span>
            </i>
            <h3 class="h5 m-b">Step 2</h3>
            <p class="m-b-0">Now that we've have some ideas, it's time for step 2.</p>
        </div>
        <!-- End Static Process -->
    </div>

    <div class="col-sm-3 m-b-60">
        <!-- Static Process -->
        <div class="text-center">
            <i class="dot-line progress-bold brd-primary-light-before brd-gray-light-after">
                <span class="dot-line-inner bg-primary-light bg-primary-before brd-primary-light"></span>
            </i>
            <h3 class="h5 m-b">Step 3</h3>
            <p class="m-b-0">We begin to visualize concepts and dive into step 3.</p>
        </div>
        <!-- End Static Process -->
    </div>

    <div class="col-sm-3 m-b-60">
        <!-- Static Process -->
        <div class="text-center">
            <i class="dot-line progress-bold brd-gray-light-before brd-transparent-after">
                <span class="dot-line-inner bg-grey-light brd-gray-light"></span>
            </i>
            <h3 class="h5 m-b">Step 4</h3>
            <p class="m-b-0">Your product is all dressed up and ready to go, it's time to do step 4.</p>
        </div>
        <!-- End Static Process -->
    </div>
</div>
<!-- End Static Process -->