<!-- Static Process -->
<div class="row">
    <div class="col-sm-3 m-b-60">
        <!-- Static Process -->
        <div class="text-center">
            <i class="dot-line brd-transparent-before brd-gray-light-after m-b-md">
                <span class="dot-line-inner bg-white bg-primary-before brd-gray-light"></span>
            </i>
            <h3 class="h5 m-b">Brainstorming</h3>
            <p class="m-b-0">This is where we sit down, grab a cup of coffee and do some brainstorming.</p>
        </div>
        <!-- End Static Process -->
    </div>

    <div class="col-sm-3 m-b-60">
        <!-- Static Process -->
        <div class="text-center">
            <i class="dot-line brd-gray-light-before brd-gray-light-after m-b-md">
                <span class="dot-line-inner bg-white bg-primary-before brd-gray-light"></span>
            </i>
            <h3 class="h5 m-b">Research</h3>
            <p class="m-b-0">Now that we've have some ideas, it's time to research.</p>
        </div>
        <!-- End Static Process -->
    </div>

    <div class="col-sm-3 m-b-60">
        <!-- Static Process -->
        <div class="text-center">
            <i class="dot-line brd-gray-light-before brd-gray-light-after m-b-md">
                <span class="dot-line-inner bg-white bg-primary-before brd-gray-light"></span>
            </i>
            <h3 class="h5 m-b">Design</h3>
            <p class="m-b-0">We begin to visualize concepts and dive into details.</p>
        </div>
        <!-- End Static Process -->
    </div>

    <div class="col-sm-3 m-b-60">
        <!-- Static Process -->
        <div class="text-center">
            <i class="dot-line brd-gray-light-before brd-transparent-after m-b-md">
                <span class="dot-line-inner bg-white brd-gray-light"></span>
            </i>
            <h3 class="h5 m-b">Release</h3>
            <p class="m-b-0">Your product is all dressed up and ready to go, it's time to release.</p>
        </div>
        <!-- End Static Process -->
    </div>
</div>
<!-- End Static Process -->
