<!-- Static Process -->
<div class="row">
 <div class="col-sm-3 text-sm-center d-flex d-sm-block">
  <!-- Static Process -->

  <div class="dot-line brd-transparent-before brd-gray-light-after">
   <span class="dot-line-inner bg-white bg-primary-before brd-gray-light"></span>
  </div>
  <div class="dot-text">
   <h3 class="h5 m-b">Step 1</h3>
   <p class="mb-4">Briefly discuss the step or identify the milestone.</p>
  </div>
  <!-- End Static Process -->
 </div>

 <div class="col-sm-3 text-sm-center d-flex d-sm-block">
  <!-- Static Process -->
  <div class="dot-line brd-gray-light-before brd-gray-light-after">
   <span class="dot-line-inner bg-white bg-primary-before brd-gray-light"></span>
  </div>
  <div class="dot-text">
   <h3 class="h5 m-b">Step 2</h3>
   <p class="mb-4">Keep the message clear and concise.</p>
  </div>
  <!-- End Static Process -->
 </div>

 <div class="col-sm-3 text-sm-center d-flex d-sm-block">
  <!-- Static Process -->
  <div class="dot-line brd-gray-light-before brd-gray-light-after">
   <span class="dot-line-inner bg-white bg-primary-before brd-gray-light"></span>
  </div>
  <div class="dot-text">
   <h3 class="h5 m-b">Step 3</h3>
   <p class="mb-4">Do not link to more information from the tracker.</p>
  </div>
  <!-- End Static Process -->
 </div>

 <div class="col-sm-3 text-sm-center d-flex d-sm-block">
  <!-- Static Process -->
  <div class="dot-line brd-gray-light-before brd-transparent-after">
   <span class="dot-line-inner bg-white brd-gray-light"></span>
  </div>
  <div class="dot-text">
   <h3 class="h5 m-b">Step 4</h3>
   <p class="mb-4">Instead, link to additional information in your body content or tracker caption</p>
  </div>
  <!-- End Static Process -->
 </div>
</div>
<!-- End Static Process -->