<!--Icon Image Blocks-->
<div style="background:#EDEDEF;">
  <div class="container p-t-lg">
    <div class="row">
      <div class="third m-b-lg round-card">
        <!-- Icon Blocks -->
        <a
          href="/components.html"
          class="no-underline d-block p-a-md color-gray-dark"
          title="Browse components">
          <div class="text-center">
            <img
              class="image-icon rounded-50x m-b"
              height="155px"
              src="/images/browse-components.svg"
              alt=""
              style="width:138px;" />
            <strong class="h5 m-b-sm m-t-0 d-block">Browse components</strong>
          </div>
        </a>
        <!-- End Icon Blocks -->
      </div>
      <div class="third m-b-lg round-card">
        <!-- Icon Blocks -->
        <a
          href="/visual-design/icons.html#Search-icons"
          class="no-underline d-block p-a-md color-gray-dark"
          title="Search icons">
          <div class="text-center">
            <img
              class="image-icon rounded-50x m-b"
              height="155px"
              src="/images/search-icons.svg"
              alt=""
              style="width:138px;" />
            <strong class="h5 m-b-sm m-t-0 d-block">Search icons</strong>
          </div>
        </a>
        <!-- End Icon Blocks -->
      </div>
      <div class="third m-b-lg round-card">
        <!-- Icon Blocks -->
        <a
          href="/visual-design/color.html#ColorThemes"
          class="no-underline d-block p-a-md color-gray-dark"
          title="Color themes">
          <div class="text-center">
            <img
              class="image-icon rounded-50x m-b"
              height="155px"
              src="/images/explore-color-themes.svg"
              alt=""
              style="width:138px;" />
            <strong class="h5 m-b-sm m-t-0 d-block">
              Explore color themes
            </strong>
          </div>
        </a>
        <!-- End Icon Blocks -->
      </div>
    </div>
    <!-- End group -->
  </div>
</div>
