<!--Icon Image Blocks-->
<div style="background:#F5F5F5;">
	<div class="container p-t-lg">
		<div class="row">
			<div class="third m-b-lg round-card">
				<!-- Icon Blocks -->
				<a href="/sample/color-schemes.html" class="no-underline d-block p-a-md"
					title="Browse components">
					<div class="text-center">
						<img class="image-icon rounded-50x m-b" src="/images/browse-components.svg" alt="" style="width:138px;">
						<h2 class="h5 m-b-sm color-gray-dark m-t-0">Browse components</h2>
					</div>
				</a>
				<!-- End Icon Blocks -->
			</div>
			<div class="third m-b-lg round-card">
				<!-- Icon Blocks -->
				<a href="/accessibility.html" class="no-underline d-block p-a-md" title="Search icons">
					<div class="text-center">
						<img class="image-icon rounded-50x m-b" src="/images/search-icons.svg" alt="" style="width:138px;">
						<h2 class="h5 m-b-sm color-gray-dark m-t-0">Search icons</h2>
					</div>
				</a>
				<!-- End Icon Blocks -->
			</div>
			<div class="third m-b-lg round-card">
				<!-- Icon Blocks -->
				<a href="/sample/" class="no-underline d-block p-a-md" title="Color themes">
					<div class="text-center">
						<img class="image-icon rounded-50x m-b" src="/images/explore-color-themes.svg" alt="" style="width:138px;">
						<h2 class="h5 m-b-sm color-gray-dark m-t-0">Explore color themes</h2>
					</div>
				</a>
				<!-- End Icon Blocks -->
			</div>
		</div>
		<!-- End group -->
	</div>
</div>
<style>
	.round-card:hover {
		background: white;
	}
</style>