<!-- header branding with light gray background -->
<div class="section-default">
 <div class="branding">
  <div class="header-organization-banner">
   <a href="/">
    <div class="logo-assets">
     <img src="/images/icons/balloons.svg" class="logo-img" alt="State Template Logo" />
     <div class="logo-text">
      <span class="logo-state">State of California</span>
      <span class="logo-dept">Parties</span>
     </div>
    </div>
   </a>
  </div>
 </div>
</div>