<aside class="p-b-md p-t-sm section-standout site-footer">
  <div class="container">
    <div class="row">
      <div class="col-md-4">
        <div
          class="h4 w-100 brd-bottom brd-highlight p-b"
          role="heading"
          aria-level="2">
          State Web Template
        </div>
        <a
          href="/about.html"
          class="d-block no-underline m-y font-size-16 text-white color-highlight-hover underline-hover">
          About <span class="sr-only">this website</span>
        </a>
        <a
          href="/contact-us.html"
          class="d-block no-underline m-y font-size-16 text-white color-highlight-hover underline-hover">
          Contact us <span class="sr-only">regarding this website</span>
        </a>
        <a
          href="https://airtable.com/shro9V6ry2Cf4mpgG"
          class="d-block no-underline m-y font-size-16 text-white color-highlight-hover underline-hover">
          Give feedback <span class="sr-only">regarding this website</span>
        </a>
        <a
          href="/accessibility.html"
          class="d-block no-underline m-y font-size-16 text-white color-highlight-hover underline-hover">
          Accessibility <span class="sr-only">compliance for this website</span>
        </a>
      </div>
      <div class="col-md-4">
        <div
          class="h4 w-100 brd-bottom  brd-highlight p-b"
          role="heading"
          aria-level="2">
          Related websites
        </div>
        <a
          href="https://webstandards.ca.gov"
          class="d-block no-underline m-y font-size-16 text-white color-highlight-hover underline-hover">
          State Web Standards
        </a>
        <a
          href="https://designsystem.webstandards.ca.gov"
          class="d-block no-underline m-y font-size-16 text-white color-highlight-hover underline-hover">
          California Design System
        </a>
        <a
          href="https://github.com/Office-of-Digital-Services/California-State-Web-Template-HTML"
          class="d-block no-underline m-y font-size-16 text-white color-highlight-hover underline-hover">
          State Web Template GitHub
        </a>
      </div>
      <div class="col-md-4">
        <div
          class="h4 w-100 brd-bottom brd-highlight p-b"
          role="heading"
          aria-level="2">
          Resources
        </div>
        <a
          href="https://designsystem.webstandards.ca.gov/principles/"
          class="d-block no-underline m-y font-size-16 text-white color-highlight-hover underline-hover">
          Principles
        </a>
        <a
          href="https://designsystem.webstandards.ca.gov/style/content/"
          class="d-block no-underline m-y font-size-16 text-white color-highlight-hover underline-hover">
          Content style guide
        </a>
        <a
          href="https://www.dor.ca.gov/Home/WebAccessibilityToolkit"
          class="d-block no-underline m-y font-size-16 text-white color-highlight-hover underline-hover">
          Web accessibility toolkit
        </a>
      </div>
    </div>
  </div>
</aside>
