<div class="p-b-md p-t-sm section-standout">
 <div class="container">
  <div class="row">
   <div class="col-md-4">
    <h3 class="h4 w-100 brd-bottom brd-highlight p-b">More on V6</h3>
    <a href="/about.html" class="d-block no-underline m-y font-size-16">About</a>
    <a href="/contact-us.html" class="d-block no-underline m-y font-size-16">Contact us</a>
   </div>
   <div class="col-md-4">
    <h3 class="h4 w-100 brd-bottom  brd-highlight p-b">Related websites</h3>
    <a href="https://webstandards.ca.gov" class="d-block no-underline m-y font-size-16">State Web Standards</a>
    <a href="https://designsystem.webstandards.ca.gov" class="d-block no-underline m-y font-size-16">California Design
     System</a>
    <a href="https://github.com/Office-of-Digital-Services/California-State-Web-Template-Website"
     class="d-block no-underline m-y font-size-16">State Web Template GitHub</a>
   </div>
   <div class="col-md-4">
    <h3 class="h4 w-100 brd-bottom brd-highlight p-b">Resources</h3>
    <a href="https://designsystem.webstandards.ca.gov/style/content"
     class="d-block no-underline m-y font-size-16">Content Style
     Guide</a>
    <a href="https://designsystem.webstandards.ca.gov/style/design" class="d-block no-underline m-y font-size-16">Design
     style
     guide</a>
    <a href="https://designsystem.webstandards.ca.gov/why-web-components"
     class="d-block no-underline m-y font-size-16">Why web
     components</a>
   </div>
  </div>
 </div>
</div>