<!-- header branding with light gray background -->
<div class="section-default">
  <div class="branding">
    <div class="header-organization-banner">
      <a href="/components/side-navigation-sample.html">
        <div class="logo-assets">
          <img
            src="/images/icons/balloons.svg"
            class="logo-img"
            alt="Sample site Logo" />
          <div class="logo-text">
            <span class="logo-state">State of California</span>
            <span class="logo-dept">Parties</span>
          </div>
        </div>
      </a>
    </div>
  </div>
</div>
