<div class="socialsharer-container">
 <a class="ca-gov-icon-share-facebook" title="Share via Facebook"></a>
 <a class="ca-gov-icon-github" title="Share via GitHub"></a>
 <a class="ca-gov-icon-share-twitter" title="Share via Twitter"></a>
 <a class="ca-gov-icon-share-youtube" title="Share via Youtube"></a>
 <a class="ca-gov-icon-share-linkedin" title="Share via Linkedin"></a>
 <a class="ca-gov-icon-share-instagram" title="Share via Instagram"></a>
 <a class="ca-gov-icon-share-email" title="Share via email"></a>
</div>