<div class="tab-group responsive">
 <ul id="tabs" class="nav nav-tabs" role="tablist">
  <li class="nav-item">
   <a id="tab-home" href="#pane-home" class="nav-link active" data-bs-toggle="tab" role="tab">Location</a>
  </li>
  <li class="nav-item">
   <a id="tab-profile" href="#pane-profile" class="nav-link" data-bs-toggle="tab" role="tab">Context</a>
  </li>
  <li class="nav-item">
   <a id="tab-messages" href="#pane-messages" class="nav-link" data-bs-toggle="tab" role="tab">Communication</a>
  </li>
 </ul>


 <div id="tab-content" class="tab-content">
  <div id="pane-home" class="card tab-pane fade show active" role="tabpanel" aria-labelledby="tab-home">
   <div class="card-header" id="heading-home">
    <a data-bs-toggle="collapse" href="#collapse-home" data-parent="#tab-content" aria-expanded="true"
     aria-controls="collapse-home" title="Location tab header">
     Location
    </a>
   </div>
   <div id="collapse-home" class="collapse show" role="tabpanel" aria-labelledby="heading-home">
    <div class="card-body">
     Location Tab
    </div>
   </div>
  </div>

  <div id="pane-profile" class="card tab-pane fade" role="tabpanel" aria-labelledby="tab-profile">
   <div class="card-header" id="heading-profile">
    <a class="collapsed" data-bs-toggle="collapse" href="#collapse-profile" data-parent="#tab-content"
     aria-expanded="false" aria-controls="collapse-profile" title="Context tab header">
     Context
    </a>
   </div>
   <div id="collapse-profile" class="collapse" role="tabpanel" aria-labelledby="heading-profile">
    <div class="card-body">
     Context Tab
    </div>
   </div>
  </div>

  <div id="pane-messages" class="card tab-pane fade" role="tabpanel" aria-labelledby="tab-messages">
   <div class="card-header" id="heading-messages">
    <a class="collapsed" data-bs-toggle="collapse" href="#collapse-messages" data-parent="#tab-content"
     aria-expanded="false" aria-controls="collapse-messages" title="Communication tab header">
     Communication
    </a>
   </div>
   <div id="collapse-messages" class="collapse" role="tabpanel" aria-labelledby="heading-messages">
    <div class="card-body">
     Communication Tab
    </div>
   </div>
  </div>
 </div>
</div>