<blockquote class="testimonial testimonial-default">
  <div class="thumbnail thumbnail-left">
    <a href="javascript:;">
      <img
        class="thumbnail-img img-circle"
        src="/images/sample/images/70x70.gif"
        alt="..." />
    </a>
  </div>
  <div class="testimonial-body">
    <p>
      Maecenas sed diam eget risus varius blandit sit amet non magna. Morbi leo
      risus, porta ac consectetur ac, vestibulum at eros.
    </p>
    <footer>
      <cite>
        <a href="">John Smith</a>
        Some Awesome Company
      </cite>
    </footer>
  </div>
</blockquote>
