<blockquote class="testimonial testimonial-danger">
    <div class="testimonial-body">
        <p>Maecenas sed diam eget risus varius blandit sit amet non magna. Morbi leo risus, porta ac consectetur ac,
            vestibulum at eros.</p>
        <footer>
            <cite>
                <a href="">John Smith</a> Some Awesome Company
            </cite>
        </footer>
    </div>
    <div class="thumbnail thumbnail-right">
        <a href="#"><img class="thumbnail-img img-rounded" src="/images/sample/images/70x70.gif" alt="..."></a>
    </div>
</blockquote>