<div class="py-2"style="background:linear-gradient(116.74deg, #323A45 -40.07%, #046B99 66.75%);">
	<div class="container">
		<div class="pb-3" style="max-width: 675px;">
			<h2 class="mt-4 mb-2 text-white">Partner with us</h2>
			<p class="text-white pb-3">Improvements to the State Web Template and the Design System  are largely driven by your feedback. 
We’d love to hear from you!</p>
		</div>
		<div class="row">
			<div class="third m-b-md">
				<div class="d-flex">
					<div class="m-b-0">
						<img class="p-1" src="/images/idea-icon.svg" alt="Image Description">
					</div>

					<div class="p-a align-self-center">
						<p class="text-white">Have an idea or an issue?<br>
							<a class="text-white" href="">Reach out in GitHub</a>
						</p>
					</div>
				</div>
			</div>

			<div class="third m-b-md">
				<div class="d-flex">
					<div class="m-b-0">
						<img class="p-1" src="/images/feedback-icon.svg" alt="Image Description">
					</div>

					<div class="p-a align-self-center">
						<p class="text-white">Want to give website feedback?<br>
							<a class="text-white" href="">Fill out this form</a>
						</p>
					</div>
				</div>
			</div>

			<div class="third m-b-md">
				<div class="d-flex">
					<div class="m-b-0">
						<img class="p-1" src="/images/support-icon.svg" alt="Image Description">
					</div>

					<div class="p-a align-self-center">
						<p class="text-white">Need template support?<br>
							<a class="text-white" href="">Email the team</a>
						</p>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>