<!--Experience-->
<div class="card overflow-visible">
    <!-- Panel Body -->
    <div class="card-block">
        <ul class="row list-unstyled">
            <li class="col-md-12">
                <article class="row">
                    <!-- Timeline Date -->
                    <div class="col-md-3 text-md-end p-r-md">
                        <div class="h5 m-t m-b-0">Step 1. Contributor name</div>
                        <div class="h6 m-y-0">YY - YY</div>
                    </div>
                    <!-- End Timeline Date -->
                    <!-- Timeline Content -->
                    <div class="col-md-9 pos-rel p-l-md brd-md-left brd-gray-light">
                        <!-- Timeline Dot -->
                        <div class="timeline-dot d-none d-md-block">
                            <span class="dot-line-inner bg-white bg-primary-before brd-gray-light"></span>
                        </div>
                        <!-- End Timeline Dot -->
                        <p class="m-b-md"><br>Briefly discuss the step or identify the milestone.<br><br><br></p>

                    </div>
                    <!-- End Timeline Content -->
                </article>
            </li>
            <li class="col-md-12">
                <article class="row">
                    <!-- Timeline Date -->
                    <div class="col-md-3  text-md-end p-r-md">
                        <div class="h5 m-t m-b-0">Step 2. Contributor name</div>
                        <div class="h6 m-y-0">YY - YY</div>
                    </div>
                    <!-- End Timeline Date -->
                    <!-- Timeline Content -->
                    <div class="col-md-9 align-self-center pos-rel p-l-md brd-md-left brd-gray-light">
                        <!-- Timeline Dot -->
                        <div class="timeline-dot d-none d-md-block">
                            <span class="dot-line-inner bg-white bg-primary-before brd-gray-light"></span>
                        </div>
                        <!-- End Timeline Dot -->

                        <p class="m-b-md"><br>Keep the message clear and concise.<br><br><br></p>

                    </div>
                    <!-- End Timeline Content -->
                </article>
            </li>
            <li class="col-md-12">
                <article class="row">
                    <!-- Timeline Date -->
                    <div class="col-md-3 text-md-end p-r-md">
                        <div class="h5 m-t m-b-0">Step 3. Contributor name</div>
                        <div class="h6 m-y-0">YY - YY</div>
                    </div>
                    <!-- End Timeline Date -->
                    <!-- Timeline Content -->
                    <div class="col-md-9 align-self-center pos-rel  p-l-md brd-md-left brd-gray-light">
                        <!-- Timeline Dot -->
                        <div class="timeline-dot d-none d-md-block">
                            <span class="dot-line-inner bg-white bg-primary-before brd-gray-light"></span>
                        </div>
                        <!-- End Timeline Dot -->

                        <p class="m-b-md"><br>Do not link to more information from the tracker.<br><br><br></p>

                    </div>
                    <!-- End Timeline Content -->
                </article>
            </li>
            <li class="col-md-12">
                <article class="row">
                    <!-- Timeline Date -->
                    <div class="col-md-3 text-md-end p-r-md">
                        <div class="h5 m-t m-b-0">Step 4. Contributor name</div>
                        <div class="h6 m-y-0">YY - YY</div>
                    </div>
                    <!-- End Timeline Date -->
                    <!-- Timeline Content -->
                    <div class="col-md-9 align-self-center pos-rel p-l-md brd-md-left brd-gray-light">
                        <!-- Timeline Dot -->
                        <div class="timeline-dot d-none d-md-block">
                            <span class="dot-line-inner bg-white bg-primary-before brd-gray-light"></span>
                        </div>
                        <!-- End Timeline Dot -->
                        <p class="m-b-md"><br>Instead, link to additional information in your body content or tracker caption.<br><br><br></p>

                    </div>
                    <!-- End Timeline Content -->
                </article>
            </li>
        </ul>
    </div>
    <!-- End Panel Body -->
</div>
<!--End Experience-->