<!--Experience-->
<div class="card overflow-visible">
  <!-- Panel Body -->
  <div class="card-block">
    <ul class="row list-unstyled">
      <li class="col-md-12">
        <article class="row">
          <!-- Timeline Date -->
          <div class="col-md-3 text-md-end p-x-md">
            <div class="h5 m-b-0 m-t">Step 1 Contributor</div>
            <div class="h6 m-y-0">YY - YY</div>
          </div>
          <!-- End Timeline Date -->
          <!-- Timeline Content -->
          <div class="col-md-9 pos-rel brd-md-left brd-gray-light p-x-md">
            <!-- Timeline Dot -->
            <div class="timeline-dot d-none d-md-block">
              <span
                class="dot-line-inner bg-white bg-primary-before brd-gray-light"></span>
            </div>
            <!-- End Timeline Dot -->
            <p class="m-t m-b-md m-b-0-mobile">
              Briefly discuss the step or identify the milestone.
            </p>
          </div>
          <!-- End Timeline Content -->
        </article>
      </li>
      <li class="col-md-12">
        <article class="row">
          <!-- Timeline Date -->
          <div class="col-md-3  text-md-end p-x-md">
            <div class="h5 m-b-0 m-t">Step 2 Contributor</div>
            <div class="h6 m-y-0">YY - YY</div>
          </div>
          <!-- End Timeline Date -->
          <!-- Timeline Content -->
          <div class="col-md-9 pos-rel brd-md-left brd-gray-light p-x-md">
            <!-- Timeline Dot -->
            <div class="timeline-dot d-none d-md-block">
              <span
                class="dot-line-inner bg-white bg-primary-before brd-gray-light"></span>
            </div>
            <!-- End Timeline Dot -->

            <p class="m-t m-b-md  m-b-0-mobile">
              Keep the message clear and concise.
            </p>
          </div>
          <!-- End Timeline Content -->
        </article>
      </li>
      <li class="col-md-12">
        <article class="row">
          <!-- Timeline Date -->
          <div class="col-md-3 text-md-end p-x-md">
            <div class="h5 m-b-0 m-t">Step 3 Contributor</div>
            <div class="h6 m-y-0">YY - YY</div>
          </div>
          <!-- End Timeline Date -->
          <!-- Timeline Content -->
          <div class="col-md-9 pos-rel brd-md-left brd-gray-light p-x-md">
            <!-- Timeline Dot -->
            <div class="timeline-dot d-none d-md-block">
              <span
                class="dot-line-inner bg-white bg-primary-before brd-gray-light"></span>
            </div>
            <!-- End Timeline Dot -->
            <p class="m-t m-b-md  m-b-0-mobile">
              Do not link to more information from the tracker.
            </p>
          </div>
          <!-- End Timeline Content -->
        </article>
      </li>
      <li class="col-md-12">
        <article class="row">
          <!-- Timeline Date -->
          <div class="col-md-3 text-md-end p-x-md">
            <div class="h5 m-b-0 m-t">Step 4 Contributor</div>
            <div class="h6 m-y-0">YY - YY</div>
          </div>
          <!-- End Timeline Date -->
          <!-- Timeline Content -->
          <div class="col-md-9 pos-rel brd-md-left brd-gray-light p-x-md">
            <!-- Timeline Dot -->
            <div class="timeline-dot d-none d-md-block">
              <span
                class="dot-line-inner bg-white bg-primary-before brd-gray-light"></span>
            </div>
            <!-- End Timeline Dot -->
            <p class="m-t m-b-md m-b-0-mobile">
              Instead, link to additional information in your body content or
              tracker caption.
            </p>
          </div>
          <!-- End Timeline Content -->
        </article>
      </li>
    </ul>
  </div>
  <!-- End Panel Body -->
</div>
<!--End Experience-->
