<!-- Static Process Bold -->

<div
 style="background:linear-gradient(0deg, rgba(73, 147, 181, 0.2) 4.53%, rgba(73, 147, 181, 0) 100%);overflow:hidden;min-height:632px;">
 <div class="container mb-2">
  <div style="margin-bottom:6rem;max-width:876px;">
   <h2>The State Template is one step closer to the Design System</h2>
   <p>The final release (V6) of the State Web Template is part of a planned move to the <a
     href="https://designsystem.webstandards.ca.gov/">Design System</a>. V6 of the State
    Template moves us one step closer to a new statewide digital standard. This timeline describes our planned
    activities and release dates.</p>
  </div>

 </div>
 <div class="container">
  <div class="row timeline-lines">
   <div class="col-sm-3" style="margin-top:-1rem;">
    <!-- Static Process -->
    <div class="dot-line brd-transparent-before brd-primary-light-after">
     <span class="dot-line-inner bg-white bg-primary-before brd-gray-light"></span>
    </div>
    <div class="dot-text">
     <h3 class="h5 mb-0" style="font-size:23px;color:#035376;">2021</h3>
     <p class="mb-4">Release the beta version of the new statewide Design System</p>
    </div>
    <!-- End Static Process -->
   </div>

   <div class="col-sm-3" style="margin-top:-1rem;">
    <!-- Static Process -->
    <div class="dot-line brd-primary-light-before brd-primary-light-after">
     <span class="dot-line-inner bg-white bg-primary-before brd-gray-light"></span>
    </div>
    <div class="dot-text">
     <h3 class="h5 mb-0" style="font-size:23px;color:#035376;">2022</h3>
     <p class="mb-4">Update the State Web Template V6 to align with the Design System</p>
    </div>
    <!-- End Static Process -->
   </div>

   <div class="col-sm-3" style="margin-top:-1rem;">
    <!-- Static Process -->
    <div class="dot-line brd-primary-light-before brd-gray-light-after">
     <span class="dot-line-inner bg-white bg-primary-before brd-gray-light"></span>
    </div>
    <div class="dot-text">
     <h3 class="h5 mb-0" style="font-size:23px;color:#035376;">2023</h3>
     <p class="mb-4">Release the first production version of the Design System</p>
    </div>
    <!-- End Static Process -->
   </div>

   <div class="col-sm-3" style="margin-top:-1rem;">
    <!-- Static Process -->
    <div class="dot-line brd-gray-light-before brd-transparent-after">
     <span class="dot-line-inner bg-grey-light brd-gray-light"></span>
    </div>
    <div class="dot-text">
     <h3 class="h5 mb-0" style="font-size:23px;color:#035376;">2024+</h3>
     <p class="mb-4">Continue to improve the Design System and support a transition to it</p>
    </div>
    <!-- End Static Process -->
   </div>
  </div>
 </div>
</div>
<!-- End Static Process -->

<style>

</style>