<div class="container">
 <h2 class="p-t-1 p-b-3">Who's using the new design system</h2>
 <div class="row">
  <div class="col-md-6 m-b-md p-r-lg-desktop">
   <div class="pos-rel m-b-0 overflow-hidden bg-white text-center  brd-solid-1 brd-gray-200">
    <img class="img-fluid" src="/images/bbfa-example.jpg" alt="Homepage screenshot of Broadband for all website.">
   </div>

   <div class="pt-3" style="min-height: 236px;">
    <h3 class="h4 m-t-0 m-b-sm">
     Broadband for All
    </h3>
    <p>The State Web Template enabled a plug-and-play approach with components on the homepage. With less time spent on
     engineering, the team could focus more on content and design.</p>

    <span class="d-flex flex-center lh-1">
     <svg width="31px" class="m-r-sm" fill="none" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 30 23">
      <path d="m19 22.1-1.1-1 8.8-8.8H0v-1.6h26.7L17.9 2 19 1l10.6 10.6L19 22.1Z" fill="#046B99" />
     </svg>
     <a class="font-weight-bold" href="https://broadbandforall.cdt.ca.gov/">
      broadbandforall.cdt.ca.gov
     </a>

    </span>
   </div>
  </div>

  <div class="col-md-6 m-b-md p-l-lg-desktop">
   <div class="pos-rel m-b-0 overflow-hidden bg-white text-center brd-solid-1 brd-gray-200">
    <img class="img-fluid" src="/images/caaba-example.jpg"
     alt="Homepage screenshot of California's Abortion Access Portal website.">
   </div>

   <div class="pt-3" style="min-height: 236px;">
    <h3 class="h4 m-t-0 m-b-sm">
     California abortion access
    </h3>
    <p>This site launched in three weeks! The new template gave the design team an ability to fast track the design and
     information architecture. The template proved critical in sharing official information on women’s health.</p>
    <span class="d-flex flex-center lh-1">
     <svg width="31px" class="m-r-sm" fill="none" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 30 23">
      <path d="m19 22.1-1.1-1 8.8-8.8H0v-1.6h26.7L17.9 2 19 1l10.6 10.6L19 22.1Z" fill="#046B99" />
     </svg>
     <a class="font-weight-bold" href="https://abortion.ca.gov/">
      abortion.ca.gov
     </a>
    </span>
   </div>
  </div>
 </div>
</div>