<div class="container">
  <h2 class="p-t-1 p-b-3">Who's using the new design system</h2>
  <div class="row">
    <div class="col-md-6 m-b-md p-r-lg-desktop">
      <div
        class="pos-rel m-b-0 overflow-hidden bg-white text-center  brd-solid-1 brd-gray-200">
        <picture>
          <source
            media="(max-width: 575px)"
            srcset="/images/homepage-sample-climate-low.jpg" />
          <img
            class="img-fluid w-100"
            src="/images/homepage-sample-climate.jpg"
            style="aspect-ratio: 450 / 310"
            alt="Homepage screenshot of Climate Action website." />
        </picture>
      </div>

      <div class="pt-3" style="min-height: 236px;">
        <h3 class="h4 m-t-0 m-b-sm">Climate Action</h3>
        <p>
          The Design System components and structure made it easier to develop
          and design. With less time focused on engineering, the team could
          focus their time on content, UX design, and branding. This site shares
          important climate-saving programs to Californians.
        </p>

        <span class="d-flex flex-center lh-1">
          <svg
            width="31px"
            class="m-r-sm"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
            viewBox="0 0 30 23">
            <path
              d="m19 22.1-1.1-1 8.8-8.8H0v-1.6h26.7L17.9 2 19 1l10.6 10.6L19 22.1Z"
              fill="#046B99" />
          </svg>
          <a class="font-weight-bold" href="https://climateaction.ca.gov/">
            climateaction.ca.gov
          </a>
        </span>
      </div>
    </div>

    <div class="col-md-6 m-b-md p-l-lg-desktop">
      <div
        class="pos-rel m-b-0 overflow-hidden bg-white text-center brd-solid-1 brd-gray-200">
        <picture>
          <source
            media="(max-width: 575px)"
            srcset="/images/homepage-sample-abortion-low.jpg" />
          <img
            class="img-fluid w-100"
            src="/images/homepage-sample-abortion.jpg"
            style="aspect-ratio: 450 / 310"
            alt="Homepage screenshot of California's Abortion Access Portal website." />
        </picture>
      </div>

      <div class="pt-3" style="min-height: 236px;">
        <h3 class="h4 m-t-0 m-b-sm">California abortion access</h3>
        <p>
          This site launched in three weeks! The new template gave the design
          team an ability to fast track the design and information architecture.
          The template proved critical in sharing official information on
          women’s health.
        </p>
        <span class="d-flex flex-center lh-1">
          <svg
            width="31px"
            class="m-r-sm"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
            viewBox="0 0 30 23">
            <path
              d="m19 22.1-1.1-1 8.8-8.8H0v-1.6h26.7L17.9 2 19 1l10.6 10.6L19 22.1Z"
              fill="#046B99" />
          </svg>
          <a class="font-weight-bold" href="https://abortion.ca.gov/">
            abortion.ca.gov
          </a>
        </span>
      </div>
    </div>
  </div>
</div>
