<div class="container">
	<h2 class="p-t-1 p-b-3">Who's using the new design</h2>
	<div class="row">
		<div class="half m-b-md p-r-lg">
			<div class="pos-rel m-b-0" style="max-height: 350px;overflow: hidden;background: #ffffff;text-align: center;border:1px solid #cecece;border-bottom: 3px solid #cecece">
				<img style="width:100%;" src="/images/bbfa-example.jpg" alt="Image Description">
			</div>

			<div class="p-a" style="min-height: 236px;">
				<h3 class="h4 m-t-0 m-b-sm">
					<a class="color-gray-dark color-primary-hover text-decoration-none" href="#">Broadband for All</a>
				</h3>
				<p>The State Web Template enabled a plug-and-play approach with components on the homepage. With less time spent on engineering, the team could focus more on content and design.</p>

				<span>
					<span class="ca-gov-icon-right" style="color:#046b99;vertical-align: middle;font-size:2rem;"></span>
					<a href="">
					broadbandforall.cdt.ca.gov
				</a>

				</span>
			</div>
		</div>

		<div class="half m-b-md p-l-lg">
			<div class="pos-rel m-b-0" style="max-height: 350px;overflow: hidden;background: #ffffff;text-align: center;border:1px solid #cecece;border-bottom: 3px solid #cecece">
				<img style="width:100%;" src="/images/caaba-example.jpg" alt="Image Description">
			</div>

			<div class="p-a" style="min-height: 236px;">
				<h3 class="h4 m-t-0 m-b-sm">
					<a class="color-gray-dark color-primary-hover text-decoration-none" href="#">California abortion access</a>
				</h3>
				<p>This site launched in three weeks! The new template gave the design team an ability to fast track the design and information architecture. The template proved critical in sharing official information on women’s health.</p>
				<span>
					<span class="ca-gov-icon-right" style="color:#046b99;vertical-align: middle;font-size:2rem;"></span>
					<a href="">
					abortion.ca.gov
				</a>
				</span>
			</div>
		</div>
	</div>
</div>
</div>