---
title: Layouts - Business Profile page
layout: landing.njk
permalink: "business-profile.html"
---

<div class="section bg-primary-gradient text-white">
 <div class="container m-y-md">
  <div class="row">
   <div class="quarter text-center">
    <!-- <img src="images/template2014/header-organization.png" class="img-responsive hidden-xs" alt="Organization Name"> -->
    <!-- <img src="/sample/images/logo-cal-vet.png" class="img-responsive hidden-xs" alt="Organization Name"> -->
    <!-- <img src="/sample/images/logo-cal-fire.png" class="img-responsive hidden-xs" alt="Organization Name"> -->
    <img src="/images/sample/images/logo-dmv.png" class="img-responsive hidden-xs" alt="Department of Motor Vehicles">

    <!-- IF AGENCY LOGO NOT AVAILABLE, FALLBACK TO SEAL OF CALIFORNIA -->
    <!-- <img src="/images/template2014/seal-of-california.png" class="img-responsive m-b" alt="Department of Motor Vehicles"> -->
   </div>
   <div class="half">
    <h1 class="mt-lg-0">Department of Motor Vehicles (DMV)</h1>
    <!--  <p class="lead">Transportation</p> -->
    <p>Donec ullamcorper nulla non metus auctor fringilla. Lorem ipsum dolor sit amet,
     consectetur adipiscing elit. Etiam porta sem malesuada magna mollis euismod. Morbi leo
     risus, porta ac consectetur ac, vestibulum at eros.</p>

    <div class="btn-row m-t-md">
     <a href="" class="btn btn-outline-light"><span class="ca-gov-icon-computer"></span>
      Website</a>
     <a href="" class="btn btn-outline-light"><span class="ca-gov-icon-location"></span>
      Locations Near You <span class="sr-only">(google map)</span></a>
     <a href="" class="btn btn-outline-light"><span class="ca-gov-icon-contact-us"></span>
      Contact <span class="sr-only">DMV</span></a>
     <a href="" class="btn btn-outline-light"><span class="ca-gov-icon-chat"></span> Live
      Chat</a>
    </div>

    <div class="location contact" itemscope itemtype="http://schema.org/Organization">
     <meta itemprop="name" content="Organization Name Here">

     <dl class="m-t-md">
      <dt>General Information:</dt>
      <dd>(916)323-5400</dd>
      <dt>Hearing Impaired: </dt>
      <dd>(916)323-5400</dd>
     </dl>

    </div>


   </div>

   <div class="quarter">
    <!-- Embeded Youtube Video -->
    <div class="video-player" data-sly-test="${!properties.lightbox}">
     <iframe title="DMV Youtube video" class="youtube-player border-0" src="https://www.youtube.com/embed/V3Z9ugTj4-o"
      allowfullscreen></iframe>




    </div>
    <hr />
    <h2 class="h4 m-b-0">Conncet with us:</h2>
    <ul class="m-t-0 list-inline list-unstyled social">
     <li class="list-inline-item"><a href=""><span class="ca-gov-icon-twitter text-white"><span class="sr-only">Twitter
         DMV</span></span></a></li>
     <li class="list-inline-item"><a href=""><span class="ca-gov-icon-facebook text-white"><span
         class="sr-only">Facebook
         DMV</span></span></a></li>
     <li class="list-inline-item"><a href=""><span class="ca-gov-icon-google-plus text-white"><span
         class="sr-only">Google+
         DMV</span></span></a></li>
    </ul>
   </div>
  </div>
 </div>
</div>
<!-- End Section -->


<div class="section section-understated">
 <div class="container">
  {% include "../src/_includes/modules/section-service-advertisement.html" %}
 </div>
</div>
<!-- End Section -->
{% include "../src/_includes/modules/section-counter-pie-charts.html" %}
<!-- End Section -->


<div class="parallax-bg height-250 color-white" style="background-image: url(/images/background-primary.jpg)">
 <div class="container p-t-md">
  {% include "../src/_includes/modules/icon-links.html" %}

 </div>
</div>
<!-- End Section -->

<div class="section section-default">
 <div class="container p-b-lg">
  <h2>Frequently Asked Questions</h2>
  {% include "../src/_includes/modules/section-service-faq.html" %}
 </div>
</div>
<!-- End Section -->