/* THIS IS CUSTOM CSS */
.font-weight-bolder {
  font-weight: 600;
}
.timeline-lines {
  transform: rotate(-3deg);
}
.dot-text {
  transform: rotate(3deg);
  padding-bottom: 1rem;
  padding-right: 1rem;
}
.dot-line::after,
.dot-line::before {
  width: 100%;
}
.brd-primary-light-after::after,
.brd-primary-light-before::before {
  border-color: #bcbbc1 !important;
}
.dot-line::after,
.dot-line::before {
  border-top-width: 2px;
}
.dot-line-inner {
  border-width: 2px;
  border-color: #bcbbc1 !important;
}
.round-card > a:hover {
  color: #5e5e6a;
}
.round-card:hover .image-icon {
  opacity: 0.8;
}
.font-weight-bold {
  font-weight: 500;
}

.partner-link:hover {
  color: #eef8fb !important;
}

@media (max-width: 575px) {
  .header-primary-banner p {
    font-size: 1.9375rem;
    line-height: 2.675rem;
    padding-top: 2rem;
  }
  .header-primary-banner .row,
  .partner-with-us .row {
    flex-direction: column-reverse;
  }
  .header-primary-banner img,
  .partner-with-us svg {
    width: auto;
  }

  .col-sm-3 {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: flex-start;
  }

  .dot-line::before,
  .dot-line::after {
    display: none;
  }

  .dot-line {
    position: relative;
    rotate: 0deg;
    left: 0.9rem;
    top: 0.4rem;
    padding-right: 0;
    width: 2rem;
    z-index: 9;
  }

  .dot-text {
    position: relative;
    margin-left: 0;
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 2rem;
    border-left: 1px solid #ddd;
  }

  .dot-text h3 {
    margin-top: 0;
  }

  .dot-text::before {
    display: none;
  }

  .timeline-lines .col-sm-3:nth-last-of-type(2) .dot-text::before,
  .timeline-lines .col-sm-3:last-of-type .dot-text::before {
    background: #dddddd;
  }
}

@media (max-width: 767px) {
  .dot-text,
  .timeline-lines {
    transform: rotate(0deg);
  }
}

@media (max-width: 991px) {
  .header-primary-banner .row {
    flex-direction: column-reverse;
  }
  .header-primary-banner img {
    width: 100%;
  }
}

@media (min-width: 768px) {
  .p-r-lg-desktop {
    padding-right: 3rem !important;
  }
  .p-l-lg-desktop {
    padding-left: 3rem !important;
  }
}
