// Core variables and mixins

@import "cagov/template-comments";

//
// BOOTSTRAP CORE
// -------------------------------------------------
@import "bootstrap/scss/functions";
@import "bootstrap/scss/variables";
@import "bootstrap/scss/mixins";
@import "bootstrap/scss/utilities";
@import "bootstrap/scss/bootstrap.scss";

// State Template Variables
@import "variables";
//

//
//  CAGOV CORE
// --------------------------------------------------
// Pull in specific colortheme variables

//@import "colortheme/eureka.scss";
//@import "colortheme/mono.scss";
@import "colortheme/oceanside.scss";
//@import "colortheme/orangecounty.scss";
//@import "colortheme/pasorobles.scss";
//@import "colortheme/sacramento.scss";
//@import "colortheme/santabarbara.scss";
//@import "colortheme/sierra.scss";
//@import "colortheme/trinity.scss";

@import "cagov/reset.scss";
@import "cagov/mixins.scss";
@import "cagov/icon-font.scss";
@import "cagov/type.scss";
@import "cagov/socialsharer.scss";
@import "cagov/layout.scss";
@import "cagov/grid.scss";
@import "cagov/global-header.scss";
@import "cagov/header-banner.scss";
@import "cagov/fixed-header.scss";
@import "cagov/site-header.scss";
@import "cagov/explore-banner.scss";
@import "cagov/global-footer.scss";
@import "cagov/search.scss";
@import "cagov/search-results.scss";
@import "cagov/search-google-cse.scss";
@import "cagov/navigation.scss";
@import "cagov/nav-megamenu.scss";
@import "cagov/nav-media.scss";
@import "cagov/nav-mobile-controls.scss";
@import "cagov/utility-header.scss";
@import "cagov/sections.scss";
@import "cagov/ask-group.scss";
@import "cagov/spacing.scss";
@import "cagov/return-top.scss";

// content modules
@import "cagov/alert-banner.scss";
@import "cagov/tabs.scss";
@import "cagov/accordion.scss";
@import "cagov/accordion-list.scss";
@import "cagov/accordion-side-nav.scss";
@import "cagov/breadcrumbs.scss";
@import "cagov/keywords.scss";
@import "cagov/horizontal-rules.scss";
@import "cagov/profiles.scss";
@import "cagov/media.scss";
@import "cagov/youtube.scss";
@import "cagov/news.scss";
@import "cagov/events.scss";
@import "cagov/exams.scss";
@import "cagov/courses.scss";
@import "cagov/forms.scss";
@import "cagov/publications.scss";
@import "cagov/location.scss";
@import "cagov/gallery.scss";
@import "cagov/cards.scss";
@import "cagov/hero-info.scss";
@import "cagov/icon-blocks.scss";
@import "cagov/jobs.scss";
@import "cagov/tables.scss";
@import "cagov/timeline.scss";
@import "cagov/lists.scss";
@import "cagov/testimonials.scss";
@import "cagov/blockquote.scss";
@import "cagov/button.scss";
@import "cagov/settings.scss";
@import "cagov/location-settings.scss";
@import "cagov/service-profile.scss";
@import "cagov/service-group.scss";
@import "cagov/number-counter.scss";
@import "cagov/carousel.scss";
@import "cagov/charts.scss";
@import "cagov/filter-group.scss";
@import "cagov/panes.scss";
@import "cagov/page-navigation.scss";
@import "cagov/progress-bar.scss";
@import "cagov/progress-block.scss";
@import "cagov/gradient-backgrounds.scss";
@import "cagov/step-list.scss";
@import "cagov/link-grid.scss";
@import "cagov/feature-card.scss";
@import "cagov/globals.scss";

//
// ORGANIZATION CUSTOM STYLES HERE
// --------------------------------------------------
// @import "orgname/custom.scss";
