@import "variables.scss";
@import "cagov/mixins.scss";
@import "cagov/icon-font.scss";

select[data-class-icon] {
  font-size: 20px;
  font-family: "CaGov";
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
